<h1>Darkonia</h1>
<p>
  <span class="fw-b">Noble Bloodlines:</span>
</p>
<p>
  <span class="fw-b">Cities, towns & villages:</span>
</p>
<p>
  <span class="fw-b">Male Names:</span>
  Stephan, Victor, Vlad
</p>
<p>
  <span class="fw-b">Female Names:</span>
  Elzbeth, Katrina, Kristina
</p>
<p>
  <span class="fw-b">Landmarks:</span>
</p>
<p>
  <span class="fw-b">Common Words:</span>
</p>
<br/>

<h1>Falconia</h1>
<p>
  <span class="fw-b">Noble Bloodlines: </span>
  Arneux, Delacroix
</p>
<p>
  <span class="fw-b">Cities, towns & villages:</span>
  Reon, Vermont
</p>
<p>
  <span class="fw-b">Male Names:</span>
  Gascon, Gideon, Hugh, Leon, Louis, Lucas, Maurice, Philip, Reginald, Roland
</p>
<p>
  <span class="fw-b">Female Names:</span>
  Genevieve, Isolde, Marie
</p>
<p>
  <span class="fw-b">Landmarks:</span>
</p>
<p>
  <span class="fw-b">Common Words:</span>
</p>
<br/>

<h1>Gothia</h1>
<p>
  <span class="fw-b">Noble Bloodlines:</span>
  Eisenherz, Reinhardt
</p>
<p>
  <span class="fw-b">Family Names:</span>
  Jäger, Reiter, Schmied, Schneider, Schuster, Wilderer, Zimmermann
</p>
<p>
  <span class="fw-b">Cities, towns & villages:</span>
  Aldersburg, Bergen, Bundenburg
</p>
<p>
  <span class="fw-b">Male Names:</span>
  Conrade, Leopold, Maximilian, Richter, Sebastian, Siegfried, Ulrich, Waldemar
</p>
<p>
  <span class="fw-b">Female Names:</span>
</p>
<p>
  <span class="fw-b">Landmarks:</span>
  Bergen Forest
</p>
<p>
  <span class="fw-b">Common Words:</span>
  Eisen (iron), Krieg (war)
</p>
<br/>

<h1>Morovia</h1>
<p>
  <span class="fw-b">Noble Bloodlines:</span>
  Borgof
</p>
<p>
  <span class="fw-b">Cities, towns & villages:</span>
</p>
<p>
  <span class="fw-b">Male Names:</span>
  Bogumil, Casimir, Igor, Ivar, Mitko, Ratko, Vatslav, Yaromir
</p>
<p>
  <span class="fw-b">Female Names:</span>
</p>
<p>
  <span class="fw-b">Landmarks:</span>
</p>
<p>
  <span class="fw-b">Common Words:</span>
</p>
<br/>

<h1>Norgoth</h1>
<p>
  <span class="fw-b">Noble Bloodlines:</span>
  Lazarus
</p>
<p>
  <span class="fw-b">Family Names:</span>
  Carpenter, Cobbler, Hunter, Poacher, Smith, Tailor
</p>
<p>
  <span class="fw-b">Cities, towns & villages:</span>
  Dunwich, Madrigal, Osbrook, Thule, Vengard
</p>
<p>
  <span class="fw-b">Male Names:</span>
  Albert, Andrus, Archibald, Artemus, Arthur, Athelstane, Baldwin, Becket, Brian, Cedric, Edwin, Etan, Gabriel, Garrett, Griffin, Laurence, Michael, Nathan, Orland, Osrik, Oswald, Percy, Richard, Robin, Trevor, Tristan, Uther, Wilfred, William
</p>
<p>
  <span class="fw-b">Female Names:</span>
  Adella, Amelia, Brigit, Carmilla, Elaine, Elizabeth, Magda, Maria, Mercy, Morgana, Rowena, Viktoria
</p>
<p>
  <span class="fw-b">Landmarks:</span>
</p>
<p>
  <span class="fw-b">Common Words:</span>
</p>
<br/>

<h1>Skadia</h1>
<p>
  <span class="fw-b">Noble Bloodlines:</span>
</p>
<p>
  <span class="fw-b">Cities, towns & villages:</span>
  Fjall, Vinheim
</p>
<p>
  <span class="fw-b">Male Names:</span>
  Eric, Harold, Karl
</p>
<p>
  <span class="fw-b">Female Names:</span>
</p>
<p>
  <span class="fw-b">Landmarks:</span>
</p>
<p>
  <span class="fw-b">Common Words:</span>
  Blod (blood), Fjell (mountain), Heim (home), Jern (iron), Skog (forest), Vin (wine)
</p>
<br/>

<h1>Kingdom of Corso / Duchy of Calandro / Duchy of Francione</h1>
<p>
  <span class="fw-b">Noble Bloodlines:</span>
</p>
<p>
  <span class="fw-b">Family Names:</span>
  Mercato, Navarro, Santiago
</p>
<p>
  <span class="fw-b">Cities, towns & villages:</span>
  Medina, Monterosso, Tremond
</p>
<p>
  <span class="fw-b">Male Names:</span>
</p>
<p>
  <span class="fw-b">Female Names:</span>
</p>
<p>
  <span class="fw-b">Landmarks:</span>
</p>
<p>
  <span class="fw-b">Common Words:</span>
</p>
<br/>

<!--<h1>Pantheon</h1>-->
<!--<p>-->
<!--  <span class="fw-b">Gods:</span>-->
<!--  Cernunnos (Horned Man), Nyx (Night), Oberon (Great Hunter)-->
<!--</p>-->
<!--<p>-->
<!--  <span class="fw-b">Adversaries:</span>-->
<!--  Echidna (Mother of Monsters), Lilith (Dark Mother)-->
<!--</p>-->
<!--<br/>-->

<!--<h1>Mythical Places (Stuff of Legends)</h1>-->
<!--Fountain of Youth-->

<!--Faridun, Alfarheim, Vorska-->

Tisla
Borghost

Ambrosia
Arcadia
Argonia
Eola

Eriad


Haart
