<mat-sidenav-container>
  <mat-sidenav mode="side" opened>
    <mat-nav-list dense>
      <a mat-list-item routerLink="./afflictions" routerLinkActive="active">
        <span>Afflictions</span>
      </a>
      <a mat-list-item routerLink="./attributes" routerLinkActive="active">
        <span>Attributes</span>
      </a>
      <a mat-list-item routerLink="./injuries" routerLinkActive="active">
        <span>Injuries</span>
      </a>
      <a mat-list-item routerLink="./professions" routerLinkActive="active">
        <span>Professions</span>
      </a>
      <a mat-list-item routerLink="./skills" routerLinkActive="active">
        <span>Skills</span>
      </a>
      <a mat-list-item routerLink="./spells" routerLinkActive="active">
        <span>Spells</span>
      </a>
      <a mat-list-item routerLink="./talents" routerLinkActive="active">
        <span>Talents</span>
      </a>
      <a mat-list-item routerLink="./traits" routerLinkActive="active">
        <span>Traits</span>
      </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
