<h3>ATTRIBUTES</h3>
<mat-list>
  <mat-list-item *ngFor="let i of attributes;">
    <h3 matLine>
      {{i.name}}
    </h3>
    <p matLine>
      <span>{{i.labels.description}}</span>
      <span> {{i.labels.bonus}}</span>
    </p>
  </mat-list-item>
</mat-list>
<h3>SKILLS</h3>
<mat-list>
  <mat-list-item *ngFor="let i of skills;">
    <h3 matLine>
      {{i.name}} ({{i.attribute}})
    </h3>
    <p matLine>
      <span>{{i.labels.description}}</span>
    </p>
  </mat-list-item>
</mat-list>
<h3>PROFESSIONS</h3>
<mat-accordion>
  <mat-expansion-panel *ngFor="let i of professions;" hideToggle>
    <mat-expansion-panel-header>
      <mat-panel-title>{{i.name}}</mat-panel-title>
    </mat-expansion-panel-header>
    <div>
      <p>
        <b>Trait: </b>
        <span [matTooltip]="getTooltip(TYPES.TRAITS, i.traits[0])">
          {{(i.traits[0] | getById:TYPES.TRAITS)?.name}}
        </span>
      </p>
      <p>
        <b>Quirk: </b>
        <span [matTooltip]="getTooltip(TYPES.QUIRKS, i.quirks[0])">
          {{(i.quirks[0] | getById:TYPES.QUIRKS)?.name}}
        </span>
      </p>
      <p>
        <b>Skill Ranks: </b>
        <span *ngFor="let j of i.advancements.skills;" [matTooltip]="getTooltip(TYPES.SKILLS, j)">
          {{(j | getById:TYPES.SKILLS)?.name}}
        </span>
      </p>
      <p>
        <b>Bonus Advances: </b>
        <span *ngFor="let j of i.advancements.bonuses;">
          {{(j | getById:TYPES.ATTRIBUTES)?.name}}
        </span>
      </p>
      <p>
        <b>Talents: </b>
        <span *ngFor="let j of i.advancements.talents;" [matTooltip]="getTooltip(TYPES.TALENTS, j)">
          {{(j | getById:TYPES.TALENTS)?.name}}
        </span>
      </p>
    </div>
  </mat-expansion-panel>
</mat-accordion>
