@import "./variables";

.ff-g { font-family: 'IM Fell English SC', serif !important; }
.ff-m { font-family: monospace !important; }

.quote, .correct-example, .wrong-example {
  border-left-width: 2px;
  border-left-style: solid;
  padding-left: 5px;
}

.quote { border-left-color: $color-gray; }
.correct-example { border-left-color: $color-green; }
.wrong-example { border-left-color: $color-red; }
