<h2 class="ff-g mb-5"> Step 1: Determine Approach & Terrain</h2>
<p class="c-gray">Initially, the Historian will decide how quickly they want the Journey to be resolved. There are two types of Overland Travel.</p>
<p class="c-gray"><b>Fast Travel:</b> Historians can simply summarize Overland Travel using Fast Travel, telling the players, “You take horses from Trenton to Boston, arriving at the besieged city several days later,”and that’s fine.If characters are not actively leading the travel sequence (for example, if they chartered a coach to Boston), the Historian should use Fast Travel.</p>
<p class="c-gray"><b>Journey:</b> Unlike Fast Travel, a Journey is a feature- length travel sequence. Each character takes on a different responsibility, from charting the route, supporting one another on the road, keeping the provisions and avoiding danger. Much like a Combat Encounter, a Journey takes roughly an hour of real-world time but may span several days, weeks or months of in-game time.</p>
<div class="quote">
  <h3 class="ff-g c-gray mb-0">Regional Benefits For Characters</h3>
  <p class="c-gray">Some characters may hail from or be intimately familiar with the region the party is traveling in. In these situations, the Historian will grant an Assist Die for that character’s Arrive Checks, Role Checks, Endure Checks and for Hunt & Forage Checks.</p>
</div>
<h3 class="ff-g mb-5">Terrain</h3>
<p class="c-gray">The type of Terrain will have an impact both on Fast Travel and a Journey, as it sets the Difficulty Rating for character’s Skill Tests. The Historian determines the Terrain type using one of the following seven types as a starting point:</p>
<ul class="c-gray">
  <li><b>Arduous Terrain (Arduous -30%):</b> Consists of rough seas, river rapids, blighted areas, impenetrable forests, mountains and open deserts.</li>
  <li><b>Hard Terrain (Hard -20%):</b> Consists of hills, deep cave systems, badlands, tundra-like conditions and barren taiga.</li>
  <li><b>Challenging Terrain (Challenging -10%):</b> Consists of overgrown forests, caverns, fast- flowing rivers, open seas, wastelands and foothills.</li>
  <li><b>Standard Terrain (Standard +/-0%):</b> Consists of paths around large lakes, slow-moving rivers, marshes and forests with little undergrowth.</li>
  <li><b>Routine Terrain (Routine +10%):</b> Consists of rolling hills, discernible trails through the wilderness, upriver travel and open badlands.</li>
  <li><b>Easy Terrain (Easy +20%):</b> Consists of well-worn paths over open ground, easy hunting tracks, walking across open plains and meadows and travel downriver or on an easily navigable river.</li>
  <li><b>Trivial Terrain (Trivial +30%):</b> Consists of well-paved roads, graveled paths and other roadways marked or demarcated by signs and patrolled.</li>
</ul>
<h3 class="ff-g mb-5">Provisioning</h3>
<p class="c-gray">Provisioning is a necessary preparation to make before traveling. Unlike rations in other games, one provision provides a character a day’s worth of beans, bread, a candle, cider, milk, oats, rice, salted meat and soap. A day’s provision weighs 1 Encumbrance.</p>
<p class="c-gray">Characters can either buy provisions, or they can hunt and fish along the path. Should they bring their own provisions, characters gain an Assist Die to Arrive & Endure Checks during Overland Travel. If they hunt instead, they do not gain these benefits.</p>
<div class="quote">
  <p class="c-gray">If Fast Traveling, move onto Step 2: Resolve Fast Travel. If using a Journey, skip Step 2 and move on to Step 3: Chart The Route.</p>
</div>
<h2 class="ff-g mb-5">Step 2: Resolve Fast Travel</h2>
<p class="c-gray">Assuming there is no danger on the road, the Historian will quickly narrate what happens as the characters undertake Fast Travel. The players need only to mark off provisions they’ve consumed day over day; then the Historian will ask characters to make an Arrive Check at their destination.</p>
<h3 class="ff-g mb-5">Arrive Check</h3>
<p class="c-gray"><i>Hi ho, hi ho, it’s off to Boston we go . . .</i></p>
<p class="c-gray">Arrive Check: Assuming characters have enough provisions and arrive at their destination, make a Survival or Toughness Test. Depending on the type of Terrain, the Difficulty Rating eases or worsens:</p>
<ul class="c-gray">
  <li>Trivial Terrain: (Trivial +30%) Skill Test</li>
  <li>Easy Terrain: (Easy +20%) Skill Test</li>
  <li>Routine Terrain: (Routine +10%) Skill Test</li>
  <li>Standard Terrain: (Standard +/-0%) Skill Test</li>
  <li>Challenging Terrain: (Challenging -10%) Skill Test</li>
  <li>Hard Terrain: (Hard -20%) Skill Test</li>
  <li>Arduous Terrain: (Arduous -30%) Skill Test</li>
</ul>
<p class="c-gray">Effect: If successful, each character eats a day’s worth of provisions for each day of the trip and is Imperiled as they arrive. If failed, a character eats a day’s worth of provisions for each day of the trip and is at Ignore 1 Skill Rank instead as they arrive.</p>
<p class="c-gray">Critical Success: As succeeded, but the character is Unhindered instead.</p>
<p class="c-gray">Critical Failure: As failed, but the character is at Ignore 2 Skill Ranks upon arrival.</p>
<p class="c-gray">Other Considerations: None</p>
<h2 class="ff-g mb-5">Step 3: Chart The Route</h2>
<p class="c-gray">The characters will have their final destination in mind, influenced by the adventure or larger story arc. Announcing their final destination, they will chart each leg of their Journey.</p>
<h3 class="ff-g mb-5">How Do We Get There?</h3>
<p class="c-gray">Characters will have some general knowledge of how to get where they need to go. The players have access to the FLAMES OF FREEDOM world map and other maps from supporting products as reference material to chart their Journey. Should traveling go off the beaten path, characters will have to inquire with local folk, buy maps, consult a library or do other kinds of research to chart their Journey properly.</p>
<h2 class="ff-g mb-5"> Step 4: Establish Overland Travel Tracker</h2>
<p class="c-gray">Every Journey is broken up into manageable legs called Stretches. It outlines an itinerary for the Journey, allowing the Historian to pace Overland Travel narratively and allowing players to plan. However, the length of a Stretch is not measured in specific miles but abstracted using days.</p>
<p class="c-gray">Along each Stretch, players will make Skill Tests to ensure that they get through the Stretch safely and check against the Threat Level for encounters. This also grants characters opportunities to investigate geographic points they encounter on their Journey, resupply and interact with others.</p>
<div class="quote">
  <h3 class="ff-g c-gray mb-0">Historian Tip: Every Stretch Is Unique</h3>
  <p class="c-gray">Some Journeys may begin on foot but continue in the back of a coach, by canoe and end on stolen horses. Adjust the Difficulty Rating and make any necessary adjustments to make the Journey feel more perilous or easier, working in the narrative to tell the tale of the journey.</p>
</div>
<p class="c-gray">Each Stretch is secretly maintained by the Historian on the Overland Travel Tracker.</p>
<h3 class="ff-g mb-5">Determining Stretch Type</h3>
<p class="c-gray">Dividing the charted route into Stretches is the province of the Historian. It is unnecessary to disclose the exact mileage unless the players feel it adds to the story. Keeping the distance abstract can help the Historian introduce rumors, new people, minor events or smaller plot points to characters, reinforcing a living, breathing world without having to worry about tracking fiddly numbers.</p>
<p class="c-gray">The Historian will disclose to the players the length of the Stretch between each location they’ve plotted out in three distinct ways.</p>
<ul class="c-gray">
  <li><b>Short Stretch:</b> This is the distance between settlements and villages, from a town to a roadside trading post or hunter’s lodge a day or so from civilization. Anywhere from a day to one week’s travel is a good measure of the time needed to complete a Short Stretch. If using the overland map, a Short Stretch is 1 to 7 hexes.</li>
  <li><b>Medium Stretch:</b> This is the distance across a vast forest, over foothills leading to a mountain or along the coast of an uncharted island. One or two weeks’ travel generally describes the distance of a Medium Stretch. If using the overland map, a Medium Stretch is between 8 to 14 hexes.</li>
  <li><b>Long Stretch:</b> This is the distance required to pass through a mountain range into an adjacent country, explore the frigid north’s coast or journey across a great, unsettled plain. Travel over three weeks and beyond constitutes a Long Stretch. If using the overland map, a Long Stretch is between 15 to 21 hexes.</li>
</ul>
<h3 class="ff-g mb-5">Hexed-Based Movement</h3>
<p class="c-gray">Whenever using hex-based maps in FLAMES OF FREEDOM, simply assume that each hex takes one day to travel through.</p>
<h2 class="ff-g mb-5">Step 5: Terrain & Threat Level</h2>
<p class="c-gray">Once the route has been charted into Stretches, the Historian will assign the Terrain and Threat Level. The Historian generally won’t disclose to players the Terrain or Threat Level for each Stretch.</p>
<h3 class="ff-g mb-5">Terrain</h3>
<p class="c-gray">As detailed in Step 1: Determine Approach & Terrain, the Historian will secretly determine the Terrain by Stretch:</p>
<ul class="c-gray">
  <li>Trivial Terrain: (Trivial +30%) Skill Test</li>
  <li>Easy Terrain: (Easy +20%) Skill Test</li>
  <li>Routine Terrain: (Routine +10%) Skill Test</li>
  <li>Standard Terrain: (Standard +/-0%) Skill Test</li>
  <li>Challenging Terrain: (Challenging -10%) Skill Test</li>
  <li>Hard Terrain: (Hard -20%) Skill Test</li>
  <li>Arduous Terrain: (Arduous -30%) Skill Test</li>
</ul>
<p class="c-gray">As before, you need not disclose this to the players. Let it act as a story aid as you describe the wilderness. Narrate what they see during their travels: describe the sounds heard, what sort of plants grow, the coolness of the river, the fetid stench of a bog, the fragrant smell of a heavily forested vale, the intense heat of the desert. We cannot provide rules to follow in these cases, as they go beyond this book. But approach the narration in the same way that your favorite storyteller or novelist writes it. Feel free to crib their descriptions, jotting them down as you read other books, or make up your own along the way. We encourage Historians to steal, reuse and appropriate when needed!</p>
<p class="quote c-gray">The Weather May be a factor for consideration of Terrain Type. When the Historian feels this would impact a Journey (such as extremities like summer heat, brutal winters and the like), they will change the Terrain Type.</p>
<h3 class="ff-g mb-5">Threat Level</h3>
<p class="c-gray">A Threat Level represents the possibility that an external situation—whether it’s an encounter with a creature, people or roadside hazard—influences the character’s Journey during a Stretch. Random chance plays a huge role here. The events derived from the randomized results can help flesh out the tale, removing some of the pre-planning it takes for the Historian to craft a memorable adventure.</p>
<p class="c-gray">The Historian will use the following guideline to assign an appropriate Threat Level for each Stretch. Following each Threat Level are a number of D6 Chaos Dice. These are the dice players will roll along each Stretch. Only record the appropriate number of D6 on the Overland Travel Tracker:</p>
<ul class="c-gray">
  <li><b>No Danger (0D6):</b> No danger means just that; nothing will impose any sort of challenge whatsoever on the characters.</li>
  <li><b>Mildly Dangerous (1D6):</b> Some hazard or hindrance exists, especially for those who go looking for it. Washed-out roads, forested paths or less well-traveled areas pose a danger.</li>
  <li><b>Moderately Dangerous (2D6):</b> This is oftentimes true wilderness areas. Animals and beasts of all types may hunt these areas, and easy routes across them are rare.</li>
  <li><b>Highly Dangerous (3D6):</b> High mountain passes prone to rockslides, overgrown forests where ancient creatures stir, wartime encampments and angry locals qualify.</li>
</ul>
<h2 class="ff-g mb-5">Step 6: Select Roles</h2>
<p class="c-gray">There are three Roles that the characters declare they take on at the start of a Stretch, each with its own set of responsibilities. Every Role has a Skill Test they’ll make as the characters embark over each Stretch. Players should choose among themselves the best-qualified character to fill each role:</p>
<ul class="c-gray">
  <li><b>The Trailblazer (Folklore or Navigation):</b> They are the guide of the Journey. They use the position of stars, maps and telltale signs of other travelers to lead the way.</li>
  <li><b>The Quartermaster (Heal or Survival):</b> They are vigilant and watchful. They manage foodstuffs, track wildlife if the party ever needs to make camp, build a fire and attend to other duties that increase the party’s comfort.</li>
  <li><b>The Scout (Awareness or Stealth):</b> They oftentimes trek ahead of the party, looking for immediate signs of danger. They set the watch cycle, determine the safety perimeter and ensure that other hazards are avoided.</li>
</ul>
<h3 class="ff-g mb-5">Assisted Roles</h3>
<p class="c-gray">While each Role must be filled, each Role may be filled by more than one character. Players will choose a point person, and they will gain an Assist Die if two characters are filling the Role. If a character is Assisting another character in a Role, they cannot take on a Role themselves.</p>
<h3 class="ff-g mb-5">Evolving Roles</h3>
<p class="c-gray">Once a character selects a Role, it does not mean that it is their Role for the duration of the Journey. Characters can change Roles at the end of a Stretch or after Making Camp.</p>
<h3 class="ff-g mb-5">Taking On Two Roles Or More</h3>
<p class="c-gray">A single character can also take on more than one Role, but it makes their Difficulty Rating for Role Checks and Endure Checks worse by one step negatively for each additional Role.</p>
<p class="c-gray">Once all of these considerations have been taken into account, it is time for the characters to embark upon the first Stretch of their Journey.</p>
<h2 class="ff-g mb-5">Step 7: Make Role & Endure Checks</h2>
<p class="c-gray">When the Journey begins, one Character within each Role must make a Role Check in the order given below. Only one Role Check is required, regardless of the length of the Stretch. The Historian will consider the Terrain to determine the related Difficulty Rating and adjust it if a character has taken on two or more Roles.</p>
<p class="c-gray">Player characters will also make Endure Checks between Role Checks, ensuring they can withstand the road’s rigors. The number of Endure Checks is determined by the length of the Stretch and has the same Difficulty Rating as Role Checks:</p>
<ul class="c-gray">
  <li><b>Short Stretch:</b> Make one Endure Check after the Trailblazer makes a Role Check</li>
  <li><b>Medium Stretch:</b> Make one Endure Check after the Trailblazer makes a Role Check and a final one after the Scout.</li>
  <li><b>Long Stretch:</b> Make one Endure Check after the Trailblazer makes a Role Check, one after the Quartermaster and a final one after the Scout.</li>
</ul>
<p class="c-gray">As Role & Endure Checks are made, the Historian will begin to narrate what happens over the Stretch of their Journey.</p>
<h3 class="ff-g mb-5">The Trailblazer</h3>
<p class="c-gray"><i>If we take this path, I believe we’ll get there faster. Follow me, I’ve got the map.</i></p>
<p class="c-gray"><b>Role Check:</b> As the Journey begins, make a Folklore or Navigation Test. Depending on the type of terrain, the Difficulty Rating eases or worsens:</p>
<ul class="c-gray">
  <li><b>Trivial Terrain:</b> (Trivial +30%) Skill Test</li>
  <li><b>Easy Terrain:</b> (Easy +20%) Skill Test</li>
  <li><b>Routine Terrain:</b> (Routine +10%) Skill Test</li>
  <li><b>Standard Terrain:</b> (Standard +/-0%) Skill Test</li>
  <li><b>Challenging Terrain:</b> (Challenging -10%) Skill Test</li>
  <li><b>Hard Terrain:</b> (Hard -20%) Skill Test</li>
  <li><b>Arduous Terrain:</b> (Arduous -30%) Skill Test</li>
</ul>
<p class="c-gray"><b>Effect:</b> If successful, the Terrain eases by one step positively for this Stretch. This means if it was Hard Terrain, it is now Challenging Terrain. If failed, the Terrain worsens by one step negatively for this Stretch. This means if it was Challenging Terrain, it is now Hard Terrain.</p>
<p class="c-gray"><b>Critical Success:</b> The Terrain eases by two steps positively for this Stretch.</p>
<p class="c-gray"><b>Critical Failure:</b> The Terrain worsens by two steps negatively for this Stretch.</p>
<p class="c-gray"><b>Other Considerations:</b> If the Trailblazer is Incapacitated! during this Stretch, the party must Make Camp. Furthermore, if Arduous Terrain is made worse by one or more steps on this Stretch, the party must Make Camp.</p>
<h3 class="ff-g mb-5">Endure Check</h3>
<p class="c-gray"><i>Keep moving your legs, keep your eyes open and push . . .</i></p>
<p class="c-gray"><b>Endure Check:</b> If a Short, Medium or Long Stretch, all player characters make a Survival or Toughness Test. Depending on the type of Terrain, the Difficulty Rating eases or worsens:</p>
<ul class="c-gray">
  <li><b>Trivial Terrain:</b> (Trivial +30%) Skill Test</li>
  <li><b>Easy Terrain:</b> (Easy +20%) Skill Test</li>
  <li><b>Routine Terrain:</b> (Routine +10%) Skill Test</li>
  <li><b>Standard Terrain:</b> (Standard +/-0%) Skill Test</li>
  <li><b>Challenging Terrain:</b> (Challenging -10%) Skill Test</li>
  <li><b>Hard Terrain:</b> (Hard -20%) Skill Test</li>
  <li><b>Arduous Terrain:</b> (Arduous -30%) Skill Test</li>
</ul>
<p class="c-gray"><b>Effect:</b> If successful, the character suffers no Peril. If failed, the character suffers 2D10+2 Peril.</p>
<p class="c-gray"><b>Critical Success:</b> As succeeded, and you share your comfort with another character who failed their check. One other character may automatically succeed.</p>
<p class="c-gray"><b>Critical Failure:</b> The character suffers 3D10+3 Peril instead.</p>
<p class="c-gray"><b>Other Considerations:</b> If they are Incapacitated! in extreme cold or hot climates, they suffer Frostbite or Heatstroke, respectively.</p>
<h3 class="ff-g mb-5">The Quartermaster</h3>
<p class="c-gray"><i>I’ll keep the foodstuffs and ensure we are well-rested along our path. Should it come to it, we’ll make camp and do some hunting.</i></p>
<p class="c-gray">Role Check: In the middle of the Journey, make a Heal or Survival Test. Depending on the type of terrain, the Difficulty Rating eases or worsens:</p>
<ul class="c-gray">
  <li><b>Trivial Terrain:</b> (Trivial +30%) Skill Test</li>
  <li><b>Easy Terrain:</b> (Easy +20%) Skill Test</li>
  <li><b>Routine Terrain:</b> (Routine +10%) Skill Test</li>
  <li><b>Standard Terrain:</b> (Standard +/-0%) Skill Test</li>
  <li><b>Challenging Terrain:</b> (Challenging -10%) Skill Test</li>
  <li><b>Hard Terrain:</b> (Hard -20%) Skill Test</li>
  <li><b>Arduous Terrain:</b> (Arduous -30%) Skill Test</li>
</ul>
<p class="c-gray"><b>Effect:</b> If successful, each character eats a day’s worth of provisions for each day of the trip. If failed, each character eats two days’ worth of provisions for each day of the trip.</p>
<p class="c-gray"><b>Critical Success:</b> As succeeded, and the party may ignore one Endure Check on this Stretch.</p>
<p class="c-gray"><b>Critical Failure:</b> As failed, but the party must add one additional Endure Check on this Stretch.</p>
<p class="c-gray"><b>Other Considerations:</b> If the Quartermaster is Incapacitated! during this Stretch, the party must Make Camp. Furthermore, if the party runs out of provisions during this Stretch, they must Make Camp.</p>
<h3 class="ff-g mb-5">Endure Check</h3>
<p class="c-gray"><i>We have to keep pushing; it’s not far now . . .</i></p>
<p class="c-gray"><b>Endure Check:</b> If a Medium or Long Stretch, all player characters make a Survival or Toughness Test. Depending on the type of Terrain, the Difficulty Rating eases or worsens:</p>
<ul class="c-gray">
  <li><b>Trivial Terrain:</b> (Trivial +30%) Skill Test</li>
  <li><b>Easy Terrain:</b> (Easy +20%) Skill Test</li>
  <li><b>Routine Terrain:</b> (Routine +10%) Skill Test</li>
  <li><b>Standard Terrain:</b> (Standard +/-0%) Skill Test</li>
  <li><b>Challenging Terrain:</b> (Challenging -10%) Skill Test</li>
  <li><b>Hard Terrain:</b> (Hard -20%) Skill Test</li>
  <li><b>Arduous Terrain:</b> (Arduous -30%) Skill Test</li>
</ul>
<p class="c-gray"><b>Effect:</b> If successful, the character suffers no Peril. If failed, the character suffers 2D10+2 Peril.</p>
<p class="c-gray"><b>Critical Success:</b> As succeeded, and you share your comfort with another character who failed their check. One other character may automatically succeed.</p>
<p class="c-gray"><b>Critical Failure:</b> The character suffers 3D10+3 Peril instead.</p>
<p class="c-gray"><b>Other Considerations:</b> If they are Incapacitated! in extreme cold or hot climates, they suffer Frostbite or Heatstroke, respectively.</p>
<h3 class="ff-g mb-5">The Scout</h3>
<p class="c-gray"><i>I’ll trek along the roads ahead and set the watch. Don’t tarry too long here—we’ve got a lot of ground to cover before dusk.</i></p>
<p class="c-gray"><b>Role Check:</b> Near the end of the Journey, make an Awareness or Stealth Test. Depending on the type of terrain, the Difficulty Rating eases or worsens:</p>
<ul class="c-gray">
  <li><b>Trivial Terrain:</b> (Trivial +30%) Skill Test</li>
  <li><b>Easy Terrain:</b> (Easy +20%) Skill Test</li>
  <li><b>Routine Terrain:</b> (Routine +10%) Skill Test</li>
  <li><b>Standard Terrain:</b> (Standard +/-0%) Skill Test</li>
  <li><b>Challenging Terrain:</b> (Challenging -10%) Skill Test</li>
  <li><b>Hard Terrain:</b> (Hard -20%) Skill Test</li>
  <li><b>Arduous Terrain:</b> (Arduous -30%) Skill Test</li>
</ul>
<p class="c-gray"><b>Effect:</b> If successful, the party watches effectively on the Stretch and reduces the Threat Level by 1D6 Chaos Die. If failed, the party watches marginally well on the Stretch but increases the Threat Level by 1D6 Chaos Die.</p>
<p class="c-gray"><b>Critical Success:</b> As succeeded, and if the party encounters any danger, they gain Surprise on their first Turn against foes.</p>
<p class="c-gray"><b>Critical Failure:</b> As failed, and if the party encounters any danger, foes gain Surprise on their first Turn.</p>
<p class="c-gray"><b>Other Considerations:</b> If the Scout is Incapacitated! during this Stretch or characters need to recover their Damage Condition Tracks due to an encounter, the party must Make Camp.</p>
<h3 class="ff-g mb-5">Endure Check</h3>
<p class="c-gray"><i>It’s not that much farther . . . just over yonder hill!</i></p>
<p class="c-gray"><b>Endure Check:</b> If a Long Stretch, all player characters make a Survival or Toughness Test. Depending on the type of Terrain, the Difficulty Rating eases or worsens:</p>
<ul class="c-gray">
  <li><b>Trivial Terrain:</b> (Trivial +30%) Skill Test</li>
  <li><b>Easy Terrain:</b> (Easy +20%) Skill Test</li>
  <li><b>Routine Terrain:</b> (Routine +10%) Skill Test</li>
  <li><b>Standard Terrain:</b> (Standard +/-0%) Skill Test</li>
  <li><b>Challenging Terrain:</b> (Challenging -10%) Skill Test</li>
  <li><b>Hard Terrain:</b> (Hard -20%) Skill Test</li>
  <li><b>Arduous Terrain:</b> (Arduous -30%) Skill Test</li>
</ul>
<p class="c-gray"><b>Effect:</b> If successful, the character suffers no Peril. If failed, the character suffers 2D10+2 Peril.</p>
<p class="c-gray"><b>Critical Success:</b> As succeeded, and you share your comfort with another character who failed their check. One other character may automatically succeed.</p>
<p class="c-gray"><b>Critical Failure:</b> The character suffers 3D10+3 Peril instead.</p>
<p class="c-gray"><b>Other Considerations:</b> If they are Incapacitated! in extreme cold or hot climates, they suffer Frostbite or Heatstroke, respectively.</p>
<h2 class="ff-g mb-5">Step 8: Roll For Random Encounter</h2>
<p class="c-gray">After all Role & Endure Checks are made for the current Stretch, the Scout will roll an appropriate number of D6 Chaos Dice equivalent to the Threat Level. The number of Chaos Dice is determined by Threat Level. If it is Mildly Dangerous, roll a 1D6 Chaos Die. If it is Moderately Dangerous, roll 2D6 Chaos Dice instead. But if it is Highly Dangerous, roll 3D6 Chaos Dice. Additional Chaos Dice may fall upon the party if they previously failed their Role Checks.</p>
<p class="c-gray">If the Scout generates one face ‘6,’ an encounter is sprung upon the party as they break camp early in the morning. If they generate two face ‘6s,’ an encounter is sprung upon the party in the afternoon. If they generate three face ‘6s’ or more, an encounter is sprung upon the party as they are asleep.</p>
<p class="c-gray">Following these results, the Historian will craft their own scenario or randomly roll against the Random Encounters table in Amendments.</p>
<div class="quote">
  <h3 class="ff-g c-gray mb-0">Historian Tip: Friendly Encounters</h3>
  <p class="c-gray">The Random Encounters tables are a mixture of friendly and hostile encounters,without any sort of game mechanic for their effect and resolution. This gives players the opportunity to gain news, rumors or to trade with other travelers. Savvy Historians can chart out their own unique encounter tables beforehand.</p>
</div>
<h2 class="ff-g mb-5"> Step 9: Making Camp</h2>
<p class="c-gray">During regular gameplay, characters can simply Sleep to restore Peril with natural recovery, Bind Wounds with the Heal Skill and use other medicines to recover. However, once a party has struck out in Overland Travel, they cannot restore their Damage & Peril Condition Tracks or account for Recuperation from Injuries unless they Make Camp, or unless their Journey is interrupted by an encounter.</p>
<p class="c-gray">Sometimes, a party may have no choice but to Make Camp for a day or more. During this time, they can take on any number of activities, such as changing Roles, healing, hunting, recuperating from Injuries, reorienting, resting or committing to other tasks that require an extended amount of time and effort. One example of activity players may use is below, but Historians should devise their own rules for other activities that fits the needs of their group.</p>
<h3 class="ff-g mb-5">Hunt & Forage Check</h3>
<p class="c-gray"><i>Let’s head out to find something to eat . . .</i></p>
<p class="c-gray"><b>Hunt & Forage Check:</b> One character makes a Survival Test. Depending on the type of Terrain, the Difficulty Rating eases or worsens:</p>
<ul class="c-gray">
  <li><b>Trivial Terrain:</b> (Trivial +30%) Skill Test</li>
  <li><b>Easy Terrain:</b> (Easy +20%) Skill Test</li>
  <li><b>Routine Terrain:</b> (Routine +10%) Skill Test</li>
  <li><b>Standard Terrain:</b> (Standard +/-0%) Skill Test</li>
  <li><b>Challenging Terrain:</b> (Challenging -10%) Skill Test</li>
  <li><b>Hard Terrain:</b> (Hard -20%) Skill Test</li>
  <li><b>Arduous Terrain:</b> (Arduous -30%) Skill Test</li>
</ul>
<p class="c-gray"><b>Effect:</b> If successful, a character sources enough days of food for themselves equal to 1+[PB] within 1D6 hours. If failed, a character sources no food and wastes 1D6 hours. Expend ammunition equal to the number of days of food acquired.</p>
<p class="c-gray"><b>Critical Success:</b> If successful, a character sources enough days of food for themselves equal to 3+[PB] within 1D6 hours. Expend ammunition equal to the number of days of food acquired.</p>
<p class="c-gray"><b>Critical Failure:</b> If failed, a character sources no food, and wastes 2D6 hours.</p>
<p class="c-gray"><b>Other Considerations:</b> If they are Incapacitated! in extreme cold or hot climates, they suffer Frostbite or Heatstroke, respectively.</p>
<h2 class="ff-g mb-5">Step 10: New Stretches</h2>
<p class="c-gray">Once the players reach the end of a Stretch, it’s time to celebrate! You should likely Make Camp to prepare for the next Stretch. Afterward, you’ll simply start a new Stretch by beginning once again at Step 6: Select Roles. Do this for subsequent Stretches until your Journey comes to its end.</p>
<h3 class="ff-g mb-5">Concluding Overland Travel</h3>
<p class="c-gray">As a reward for the characters engaging in a Journey, the Historian will remove any remaining Coins from the Historian Pool and place them into the Player Pool.</p>
