<!-- HEADER -->
<h1 class="d-f jc-sb">
  Actions
  <button mat-flat-button color="primary" [disabled]="disabled$ | async" (click)="onSave()">
    Save Changes
  </button>
</h1>
<!-- ADD NEW ITEM -->
<form [formGroup]="form" #formDirective="ngForm" (ngSubmit)="onAdd(form.value, formDirective)">
  <mat-card class="mb-10">
    <mat-card-content class="d-f fd-c ai-s">
      <mat-form-field appearance="outline" class="f-1">
        <mat-label>Name</mat-label>
        <input matInput type="text" formControlName="name" required minlength="1">
        <mat-error *ngIf="form.get('name')?.hasError('required')">Field is required.</mat-error>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Dicepool</mat-label>
        <textarea matInput formControlName="dicepool" required minlength="1"></textarea>
        <mat-error *ngIf="form.get('dicepool')?.hasError('required')">Field is required.</mat-error>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Possible Penalties</mat-label>
        <textarea matInput formControlName="penalties" minlength="1"></textarea>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Action</mat-label>
        <textarea matInput formControlName="action"></textarea>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Description</mat-label>
        <textarea matInput formControlName="description" required minlength="1"></textarea>
        <mat-error *ngIf="form.get('description')?.hasError('required')">Field is required.</mat-error>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Dramatic Failure</mat-label>
        <textarea matInput formControlName="dramatic" minlength="1"></textarea>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Failure</mat-label>
        <textarea matInput formControlName="failure" minlength="1"></textarea>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Success</mat-label>
        <textarea matInput formControlName="success" minlength="1"></textarea>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Exceptional Success</mat-label>
        <textarea matInput formControlName="exceptional" minlength="1"></textarea>
      </mat-form-field>
      <div>
        <button mat-flat-button class="as-fs mr-10" color="accent" type="submit" [disabled]="!form.valid">
          {{ !!form.get('id').value ? 'Edit' : 'Add' }}
        </button>
        <button *ngIf="!!form.get('id').value" mat-stroked-button class="as-fs" color="accent" type="button" (click)="onCancel()">
          Cancel
        </button>
      </div>
    </mat-card-content>
  </mat-card>
</form>
<!-- ITEM LIST -->
<mat-accordion>
  <mat-expansion-panel *ngFor="let item of data$ | async" hideToggle>
    <mat-expansion-panel-header>
      <mat-panel-title>{{item.name}}</mat-panel-title>
    </mat-expansion-panel-header>
    <p><span class="fw-b">Dicepool: </span>{{item.dicepool}}</p>
    <p><span class="fw-b">Description: </span>{{item.description}}</p>
    <p><span *ngIf="!!item.penalties" class="fw-b">Possible penalties: </span>{{item.penalties}}</p>
    <p><span *ngIf="!!item.dramatic" class="fw-b">Dramatic Failure: </span>{{item.dramatic}}</p>
    <p><span *ngIf="!!item.failure" class="fw-b">Failure: </span>{{item.failure}}</p>
    <p><span *ngIf="!!item.success" class="fw-b">Success: </span>{{item.success}}</p>
    <p><span *ngIf="!!item.exceptional" class="fw-b">Exceptional Success: </span>{{item.exceptional}}</p>
    <mat-action-row>
      <button mat-stroked-button color="accent" (click)="onEdit(item)">Edit</button>
      <button mat-stroked-button color="warn" class="ml-10" (click)="onDelete(item)">Delete</button>
    </mat-action-row>
  </mat-expansion-panel>
</mat-accordion>
