<mat-card class="mb-15">
  <mat-card-header class="ai-fs">
    <mat-card-title>Spells</mat-card-title>
    <button mat-button type="button" (click)="onAddClick()">
      <mat-icon>add</mat-icon> Add
    </button>
  </mat-card-header>
  <mat-card-content>
    <div *ngFor="let group of form.controls;" class="d-f ai-b fw-nw">
      <mat-form-field appearance="outline" class="mr-5">
        <mat-label>Spell</mat-label>
        <mat-select [formControl]="group.get('id')">
          <mat-optgroup label="Combat Spells">
            <mat-option *ngFor="let i of spells | filterBy: 'category':1" [value]="i.id" [disabled]="isOptionDisabled(i.id)">
              {{i.name}}
            </mat-option>
          </mat-optgroup>
          <mat-optgroup label="Detection Spells">
            <mat-option *ngFor="let i of spells | filterBy: 'category':2" [value]="i.id" [disabled]="isOptionDisabled(i.id)">
              {{i.name}}
            </mat-option>
          </mat-optgroup>
          <mat-optgroup label="Health Spells">
            <mat-option *ngFor="let i of spells | filterBy: 'category':3" [value]="i.id" [disabled]="isOptionDisabled(i.id)">
              {{i.name}}
            </mat-option>
          </mat-optgroup>
          <mat-optgroup label="Illusion Spells">
            <mat-option *ngFor="let i of spells | filterBy: 'category':4" [value]="i.id" [disabled]="isOptionDisabled(i.id)">
              {{i.name}}
            </mat-option>
          </mat-optgroup>
          <mat-optgroup label="Manipulation Spells">
            <mat-option *ngFor="let i of spells | filterBy: 'category':5" [value]="i.id" [disabled]="isOptionDisabled(i.id)">
              {{i.name}}
            </mat-option>
          </mat-optgroup>
        </mat-select>
      </mat-form-field>
      <mat-form-field *ngIf="spells | find: 'id' : group.get('id').value | map: 'specialty'" appearance="outline">
        <mat-label>Specialty</mat-label>
        <input matInput type="text" [formControl]="group.get('specialty')">
      </mat-form-field>
      <span class="f-1"></span>
      <button mat-icon-button type="button" [disabled]="!isDeletable(group)" (click)="onRemoveClick(group.get('id').value)">
        <mat-icon>delete</mat-icon>
      </button>
    </div>
  </mat-card-content>
</mat-card>
