<mat-sidenav-container>
  <mat-sidenav mode="side" opened>
    <mat-nav-list dense>
      <a mat-list-item routerLink="./ailments" routerLinkActive="active">
        <span>Ailments</span>
      </a>
      <a mat-list-item routerLink="./drugs" routerLinkActive="active">
        <span>Drugs</span>
      </a>
      <a mat-list-item routerLink="./qualities" routerLinkActive="active">
        <span>Qualities</span>
      </a>
      <a mat-list-item routerLink="./quirks" routerLinkActive="active">
        <span>Quirks</span>
      </a>
      <a mat-list-item routerLink="./talents" routerLinkActive="active">
        <span>Talents</span>
      </a>
      <a mat-list-item routerLink="./traits" routerLinkActive="active">
        <span>Traits</span>
      </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
