<mat-toolbar class="toolbar-main">
  <h1>Character View</h1>
  <span class="f-1"></span>
  <button *ngIf="view$ | async as view"
    mat-icon-button
    (click)="view$.next(view === 'full' ? 'concise' : 'full')"
    [matTooltip]="view === 'full' ? 'Concise View' : 'Full View'">
    <mat-icon>{{view === 'full' ? 'unfold_less' : 'unfold_more'}}</mat-icon>
  </button>
</mat-toolbar>

<s5e-view-general [character]="character$ | async" [view]="view$ | async"></s5e-view-general>
<s5e-view-qualities [character]="character$ | async" [view]="view$ | async"></s5e-view-qualities>
<s5e-view-attributes [character]="character$ | async" [view]="view$ | async"></s5e-view-attributes>
<s5e-view-skills [character]="character$ | async" [view]="view$ | async"></s5e-view-skills>
<s5e-view-knowledge [character]="character$ | async" [view]="view$ | async"></s5e-view-knowledge>
<s5e-view-spells *ngIf="isSpells$ | async" [character]="character$ | async" [view]="view$ | async"></s5e-view-spells>
<s5e-view-complex-forms *ngIf="isComplexForms$ | async" [character]="character$ | async" [view]="view$ | async"></s5e-view-complex-forms>
<s5e-view-gear [character]="character$ | async" [view]="view$ | async"></s5e-view-gear>
