<mat-toolbar>
  <h1 class="mr-10">Admin</h1>
  <a mat-button routerLink="actions" routerLinkActive="active">Actions</a>
  <a mat-button routerLink="conditions" routerLinkActive="active">Conditions</a>
  <a mat-button routerLink="equipment" routerLinkActive="active">Equipment</a>
  <a mat-button routerLink="equipment-qualities" routerLinkActive="active">Eq. Qualities</a>
  <a mat-button routerLink="merits" routerLinkActive="active">Merits</a>
  <a mat-button routerLink="tilts" routerLinkActive="active">Tilts</a>
  <a mat-button routerLink="anchors" routerLinkActive="active">Anchors</a>
</mat-toolbar>
<div class="p-10">
  <router-outlet></router-outlet>
</div>
