<h2 class="ff-g mb-5">Extreme Weather</h2>
<p class="c-gray">Your adventures will take you far beyond the safety of the cities. The environment is an enemy worse than any musket or ghastly spirit.</p>
<h3 class="ff-g mb-5">Frostbite</h3>
<p class="c-gray">Frostbite occurs as the result of becoming Incapacitated! outside when temperatures are cold enough to freeze water. Once you suffer from Frostbite, you can no longer recover steps on your Damage Condition and Peril Condition Tracks by normal means.</p>
<h3 class="ff-g mb-5">Heal Frostbite: Debridement</h3>
<p class="c-gray"><i>Let’s hope that you get to keep at least two of your fingers . . .</i></p>
<p class="c-gray"><b>Debridement:</b> A caregiver must have a surgical kit, a bandage and spend one hour for Debridement. Depending on where you’re at on the Damage Condition Track, the Difficulty Rating eases or worsens:</p>
<ul class="c-gray">
  <li>Unharmed: (Easy +20%) Heal</li>
  <li>Hurt: (Routine +10%) Heal</li>
  <li>Moderately Wounded: (Standard +/-0%) Heal</li>
  <li>Seriously Wounded: (Challenging -10%) Heal</li>
  <li>Grievously Wounded: (Hard -20%) Heal</li>
</ul>
<p class="c-gray"><b>Effect:</b> If successful, the character is no longer suffering from Frostbite.</p>
<p class="c-gray"><b>Critical Success:</b> Move one step up the Damage & Peril Condition Tracks positively.</p>
<p class="c-gray"><b>Critical Failure:</b> You gain the Prosthetic Foot or Prosthetic Hand Permanent Injury. If you already have this Permanent Injury, you permanently lose -9% Agility or Brawn (depending on whether you lost all fingers or toes).</p>
<p class="c-gray"><b>Other Considerations:</b> A failed Debridement results in losing 1D6-1 (to a minimum of 1) toes or 1D6-1 (to a minimum of 1) fingers. For every toe lost, you permanently lose -1% Brawn. For every finger lost, you permanently lose -1% Agility. If you lose all toes, you gain a Prosthetic Foot, and if you lose all fingers, you gain a Prosthetic Hand. If you already have this Permanent Injury, you permanently lose -9% Agility or Brawn (depending on whether you lost all fingers or toes).</p>
<h3 class="ff-g mb-5">Heatstroke</h3>
<p class="c-gray">Heatstroke occurs as the result of becoming Incapacitated! outside when temperatures are scorching. Once you suffer from Heatstroke, you can no longer recover steps on your Damage & Peril Condition Tracks by normal means.</p>
<h3 class="ff-g mb-5">Heal Heatstroke: Immersion</h3>
<p class="c-gray"><i>If we don’t get them in a cold compress soon, they’re going to die . . .</i></p>
<p class="c-gray"><b>Immersion:</b> A caregiver must have water and spend one hour in Immersion. Depending on where you’re at on the Damage Condition Track, the Difficulty Rating eases or worsens:</p>
<ul class="c-gray">
  <li>Unharmed: (Easy +20%) Heal</li>
  <li>Hurt: (Routine +10%) Heal</li>
  <li>Moderately Wounded: (Standard +/-0%) Heal</li>
  <li>Seriously Wounded: (Challenging -10%) Heal</li>
  <li>Grievously Wounded: (Hard -20%) Heal</li>
</ul>
<p class="c-gray"><b>Effect:</b> If successful, the character is no longer suffering from Heatstroke.</p>
<p class="c-gray"><b>Critical Success:</b> Move one step up the Damage & Peril Condition Tracks positively.</p>
<p class="c-gray"><b>Critical Failure:</b> You gain the Planet-Struck Permanent Injury. If you already have this Permanent Injury, you permanently lose -9% Willpower.</p>
<p class="c-gray"><b>Other Considerations:</b> Upon a failed Immersion, you permanently lose -6% Willpower. If you are not successfully treated in twenty-four hours, you are Slain!.</p>
<h2 class="ff-g mb-5">Falling</h2>
<p class="c-gray">It’s one thing to stumble while playing the child’s game of ‘don’t step on the crack.’ It’s another when you fall over the edge of the Cumberland Gap. As you traverse the rugged landscape in FLAMES OF FREEDOM, the risk of death by falling is a certainty.</p>
<p class="c-gray">You suffer Damage equal to 1D10+the number of yards you fell. So, if you fell 5 yards, you’d suffer 1D10+5 Damage. You do not suffer standard Injuries from a fall. Roll Chaos Dice as you usually would for Injuries, but if any land on face ‘6,’ you are Incapacitated!, Unconscious and unable to walk for one hour.</p>
<h3 class="ff-g mb-5">Fall Into Water</h3>
<p class="c-gray">If you fall into water that is at least half as deep as the distance you fell, reduce the yards you fell by 9 (to a minimum of 1 yard) for purposes of lessening Total Damage suffered.</p>
<h2 class="ff-g mb-5">Fire</h2>
<div class="quote">
  <h3 class="ff-g c-gray mb-0">On Fire</h3>
  <p class="c-gray">You do not suffer standard Injuries from fire. Roll Chaos Dice as you normally would, but if any land on face ‘6,’ you are On Fire. Whenever you are On Fire, you suffer 3D10+3 Damage from fire now and every minute until Snuffed Out.</p>
</div>
<p class="c-gray">The ferocity of a fire will impact the severity of the Damage it inflicts. The Historian determines the fire’s severity, but the descriptions below should lend some insight as to how they’re normally treated. Whenever you are exposed to fire, you must Resist its effects.</p>
<h3 class="ff-g mb-5">Mildly Dangerous</h3>
<p class="c-gray"><i>Don’t touch the lamp or torch . . .</i></p>
<p class="c-gray"><b>Examples:</b> Lamp, lantern and torch.</p>
<p class="c-gray"><b>Resist:</b> (Routine +10%) Coordination every minute. Effect: You suffer 1D10+1 Damage from fire.</p>
<p class="c-gray"><b>Critical Success:</b> You are immune to fire for ten minutes.</p>
<p class="c-gray"><b>Critical Failure:</b> You are On Fire.</p>
<p class="c-gray"><b>Other Considerations:</b> When your Damage Condition Track drops to Moderately Wounded, Seriously Wounded or Grievously Wounded, roll an appropriate number of Chaos Dice. If any land on face ‘6,’ you are On Fire.</p>
<p class="c-gray"><b>Duration:</b> Until Snuffed Out.</p>
<h3 class="ff-g mb-5">Moderately Dangerous</h3>
<p class="c-gray"><i>Stay out of the campf ire and hearth . . .</i></p>
<p class="c-gray"><b>Examples:</b> Burning field, campfire and hearth.</p>
<p class="c-gray"><b>Resist:</b> (Standard +/-0%) Coordination every minute.</p>
<p class="c-gray"><b>Effect:</b> You suffer 2D10+2 Damage from fire.</p>
<p class="c-gray"><b>Critical Success:</b> You are immune to fire for ten minutes.</p>
<p class="c-gray"><b>Critical Failure:</b> You are On Fire.</p>
<p class="c-gray"><b>Other Considerations:</b> When your Damage Condition Track drops to Moderately Wounded, Seriously Wounded or Grievously Wounded, roll an appropriate number of Chaos Dice. If any land on face ‘6,’ you are On Fire.</p>
<p class="c-gray"><b>Duration:</b> Until Snuffed Out.</p>
<h3 class="ff-g mb-5">Seriously Dangerous</h3>
<p class="c-gray"><i>A bolt of lightning from the sky, a burning building and raging forest fire . . .</i></p>
<p class="c-gray"><b>Examples:</b> Burning building, forest fire and lightning.</p>
<p class="c-gray"><b>Resist:</b> (Challenging -10%) Coordination every minute.</p>
<p class="c-gray"><b>Effect:</b> You suffer 3D10+3 Damage from fire.</p>
<p class="c-gray"><b>Critical Success:</b> You are immune to fire for ten minutes.</p>
<p class="c-gray"><b>Critical Failure:</b> You are On Fire.</p>
<p class="c-gray"><b>Other Considerations:</b> When your Damage Condition Track drops to Moderately Wounded, Seriously Wounded or Grievously Wounded, roll an appropriate number of Chaos Dice. If any land on face ‘6,’ you are On Fire.</p>
<p class="c-gray"><b>Duration:</b> Until Snuffed Out.</p>
<h3 class="ff-g mb-5">Snuff On Fire: Stop, Drop & Roll</h3>
<p class="c-gray"><i>Ah, ahh, ahhh, ahhhh, AHHH, it burns, it burns!</i></p>
<p class="c-gray"><b>Stop, Drop & Roll:</b> You need to roll on the ground. Depending on where you’re at on the Damage Condition Track, the Difficulty Rating eases or worsens:</p>
<ul class="c-gray">
  <li>Unharmed: (Easy +20%) Coordination</li>
  <li>Hurt: (Routine +10%) Coordination</li>
  <li>Moderately Wounded: (Standard +/-0%) Coordination</li>
  <li>Seriously Wounded: (Challenging -10%) Coordination</li>
  <li>Grievously Wounded: (Hard -20%) Coordination</li>
</ul>
<p class="c-gray"><b>Effect:</b> If successful, you are no longer On Fire.</p>
<p class="c-gray"><b>Critical Success:</b> You are immune to fire for ten minutes.</p>
<p class="c-gray"><b>Critical Failure:</b> You are Slain!.</p>
<p class="c-gray"><b>Other Considerations:</b> Upon a failed Stop, Drop & Roll, you remain On Fire.</p>
<h2 class="ff-g mb-5">Sleep Deprivation</h2>
<p class="c-gray">You must sleep at least six hours after every twenty-four hours that pass. Once twenty-four hours have passed, you cannot recover your Damage & Peril Condition Tracks until after you’ve slept. In addition, you suffer 2D10+2 Peril for every additional twenty-four hours that pass without sleep. If you reach Incapacitated!, you fall Unconscious as you Sleep for twenty-four hours.</p>
<h3 class="ff-g mb-5">Heal Sleep Deprivation: Sleep</h3>
<p class="c-gray"><i>Off to never-never land . . .</i></p>
<p class="c-gray"><b>Sleep:</b> Sleep for six hours.</p>
<p class="c-gray"><b>Effect:</b> Recover your Peril Condition Track to Unhindered if Sleeping in a safe place, or recover to Imperiled if Sleeping in an unsafe place.</p>
<p class="c-gray"><b>Other Considerations:</b> When you Sleep, the Historian will determine whether you are in a safe or unsafe place. You can break up the six hours of Sleep over nine hours to recover. Finally, you cannot recover from Peril until your Injuries are in Recuperation.</p>
<h2 class="ff-g mb-5">Starvation</h2>
<p class="c-gray">You must eat at least one meal a day, consisting of at least bread and water. For every twenty-four hours you go without a meal, you cannot recover your Damage & Peril Condition Tracks until after you’ve eaten. In addition, you suffer 2D10+2 Peril after twenty-four hours pass. Should you continue not eating for a number of days greater than your [BB], you are Slain!.</p>
<h3 class="ff-g mb-5">Heal Starvation: Eat Food</h3>
<p class="c-gray"><i>Eat to live, don’t live to eat . . .</i></p>
<p class="c-gray"><b>Eat Food:</b> Eat for ten minutes.</p>
<p class="c-gray"><b>Effect:</b> You avoid Starvation for twenty-four hours.</p>
<p class="c-gray"><b>Other Considerations:</b> You must have food, and you can only gain the benefits of Eat Food every twenty-four hours.</p>
<h2 class="ff-g mb-5">Suffocation</h2>
<p class="c-gray">You can hold your breath a number of minutes equal to your [BB]. Afterward, for every minute without breath, you suffer 2D10+2 Peril. Upon reaching Incapacitated!, you fall Unconscious, are Suffocating and must be revived with a Kiss Of Life. Finally, if you are Suffocatin for a number of minutes in excess of your [BB], you are Slain!.</p>
<h3 class="ff-g mb-5">Heal Suffocation: Kiss Of Life</h3>
<p class="c-gray"><i>Ah, hah, hah, hah, stayin’ alive, stayin’ alive . . .</i></p>
<p class="c-gray">Kiss Of Life: A caregiver must have both hands free and spend one minute (3 AP if in combat) to give a Kiss Of Life. Depending on how long the character has been Incapacitated!, the Difficulty Rating eases or worsens:</p>
<ul class="c-gray">
  <li>1 minute: (Trivial +30%) Heal</li>
  <li>2 minutes: (Easy +20%) Heal</li>
  <li>3 minutes: (Routine +10%) Heal</li>
  <li>4 minutes: (Standard +/-0%) Heal</li>
  <li>5 minutes: (Challenging -10%) Heal</li>
  <li>6 minutes: (Hard -20%) Heal</li>
  <li>7 minutes or more: (Arduous -30%) Heal</li>
</ul>
<p class="c-gray"><b>Effect:</b> If successful, you are no longer Unconscious. Failure means you remain Unconscious and must undergo a Kiss Of Life again.</p>
<p class="c-gray"><b>Critical Success:</b> Move one step up the Peril Condition Track positively.</p>
<p class="c-gray"><b>Critical Failure:</b> You are Slain!, and the caregiver gains 3 Conflict.</p>
<p class="c-gray"><b>Other Considerations:</b> You cannot perform a Kiss Of Life upon yourself.</p>
