<mat-toolbar class="toolbar-main">
  <h1>Character Creation</h1>
</mat-toolbar>
<form [formGroup]="form" (ngSubmit)="onSubmit(form.getRawValue())">
  <mat-card class="mb-15">
    <mat-card-content class="d-f fd-c">
      <mat-form-field appearance="outline">
        <mat-label>Campaign</mat-label>
        <mat-select formControlName="campaign">
          <mat-option *ngFor="let i of campaigns$ | async" [value]="i.id">{{i.name}}</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Name</mat-label>
        <input matInput formControlName="name">
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Full Name</mat-label>
        <input matInput formControlName="full_name">
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Culture</mat-label>
        <mat-select formControlName="culture">
          <mat-option *ngFor="let i of CULTURES" [value]="i.id">{{i.name}}</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Languages</mat-label>
        <mat-select formControlName="languages" multiple>
          <mat-option *ngFor="let i of LANGUAGES" [value]="i.id">{{i.name}}</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Allegiances</mat-label>
        <input matInput formControlName="allegiances">
<!--        <mat-select formControlName="allegiances" multiple>-->
<!--          <mat-option *ngFor="let i of ALLEGIANCES" [value]="i.id">{{i.name}}</mat-option>-->
<!--        </mat-select>-->
      </mat-form-field>
    </mat-card-content>
  </mat-card>

<!--  <mat-card class="mb-15">-->
<!--    <mat-card-header>-->
<!--      <mat-card-title>Allegiances</mat-card-title>-->
<!--    </mat-card-header>-->
<!--    <mat-card-content class="d-f fd-c" formGroupName="allegiances">-->
<!--      <mat-radio-group *ngFor="let i of ALLEGIANCES" [formControlName]="i.id" class="d-f mb-10">-->
<!--        <mat-label class="f-1 mr-10">{{i.name}}</mat-label>-->
<!--        <mat-radio-button *ngFor="let j of DISPOSITIONS" class="f-1" [value]="j.id">{{j.name}}</mat-radio-button>-->
<!--      </mat-radio-group>-->
<!--    </mat-card-content>-->
<!--  </mat-card>-->

  <mat-card class="mb-15">
    <mat-card-header>
      <mat-card-title>Belief & Flaw</mat-card-title>
    </mat-card-header>
    <mat-card-content class="d-f jc-sb cg-5">
      <mat-form-field appearance="outline" class="f-1">
        <mat-label>Belief</mat-label>
        <mat-select formControlName="belief">
          <mat-option *ngFor="let i of BELIEFS" [value]="i.id" [matTooltip]="i.labels?.description">
            {{i.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field appearance="outline" class="f-1">
        <mat-label>Flaw</mat-label>
        <mat-select formControlName="flaw">
          <mat-option *ngFor="let i of FLAWS" [value]="i.id" [matTooltip]="i.labels?.description">
            {{i.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </mat-card-content>
  </mat-card>

  <mat-card class="mb-15">
    <mat-card-header>
      <mat-card-title>Attributes</mat-card-title>
    </mat-card-header>
    <mat-card-content formGroupName="attributes" class="d-f jc-sb cg-5">
      <mat-form-field *ngFor="let i of ATTRIBUTES;" appearance="outline" class="f-1">
        <mat-label>{{i.name}}</mat-label>
        <input matInput type="number" min="25" max="55" [formControlName]="i.id">
        <mat-hint>
          {{i.name.slice(0,1).toLocaleUpperCase()}}B {{getAttributeBonus(i.id)}}
        </mat-hint>
      </mat-form-field>
    </mat-card-content>
  </mat-card>

  <mat-card class="mb-15">
    <mat-card-header>
      <mat-card-title>Secondary Attributes</mat-card-title>
    </mat-card-header>
    <mat-card-content class="d-f jc-sb cg-5">
      <mat-form-field appearance="outline" class="f-1">
        <mat-label>Determination</mat-label>
        <input matInput formControlName="determination">
      </mat-form-field>
      <mat-form-field appearance="outline" class="f-1">
        <mat-label>Damage Thresholds</mat-label>
        <input matInput [disabled]="true" [value]="damageThresholds$ | async">
      </mat-form-field>
      <mat-form-field appearance="outline" class="f-1">
        <mat-label>Peril Thresholds</mat-label>
        <input matInput [disabled]="true" [value]="perilThresholds$ | async">
      </mat-form-field>
      <mat-form-field appearance="outline" class="f-1">
        <mat-label>Encumbrance Limit</mat-label>
        <input matInput [disabled]="true" [value]="encumbranceLimit$ | async">
      </mat-form-field>
      <mat-form-field appearance="outline" class="f-1">
        <mat-label>Initiative</mat-label>
        <input matInput [disabled]="true" [value]="initiative$ | async">
      </mat-form-field>
      <mat-form-field appearance="outline" class="f-1">
        <mat-label>Movement</mat-label>
        <input matInput [disabled]="true" [value]="movement$ | async">
      </mat-form-field>
    </mat-card-content>
  </mat-card>

  <mat-card class="mb-15">
    <mat-card-header>
      <mat-card-title>Archetype, Archetype Trait, Tier</mat-card-title>
    </mat-card-header>
    <mat-card-content class="d-f jc-sb cg-5">
      <mat-form-field appearance="outline" class="f-1">
        <mat-label>Archetype</mat-label>
        <mat-select formControlName="archetype">
          <mat-option *ngFor="let i of ARCHETYPES;" [value]="i.id">
            {{i.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field appearance="outline" class="f-1">
        <mat-label>Trait</mat-label>
        <mat-select formControlName="trait">
          <mat-option *ngFor="let i of TRAITS;" [value]="i.id"  [class.hide]="isTraitHidden(i.id)">
            {{i.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field appearance="outline" class="f-1">
        <mat-label>Tier</mat-label>
        <mat-select formControlName="tier">
          <mat-option *ngFor="let i of TIERS;" [value]="i.id">
            {{i.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </mat-card-content>
    <mat-card-content *ngIf="!!form.get('archetype').value">
      <p><b>Starting wares, weapons & money: </b>{{(form.get('archetype').value | getById: 'archetypes')?.labels?.wares}}</p>
    </mat-card-content>
  </mat-card>

  <mat-card class="mb-15">
    <mat-card-header>
      <mat-card-title>Professions & Advancements</mat-card-title>
    </mat-card-header>
    <mat-card-content class="d-f jc-sb cg-5">
      <ng-container formGroupName="professions">
        <mat-form-field appearance="outline" class="f-1">
          <mat-label>Basic Profession</mat-label>
          <mat-select formControlName="basic">
            <mat-option *ngFor="let i of basicProfessions$ | async;" [value]="i.id" [class.hide]="isProfessionHidden(i.id)">
              {{i.name}} {{isMagicalProfession(i.id) ? '*' : ''}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </ng-container>
      <ng-container formGroupName="advancements" *ngIf="isAdvancesAvailable('professions.basic') as profession;">
        <ng-container formGroupName="basic">
          <mat-form-field appearance="outline" class="f-1">
            <mat-label>Attribute Bonus</mat-label>
            <mat-select multiple formControlName="bonuses">
              <mat-option *ngFor="let i of profession?.advancements?.bonuses;" [value]="i">
                {{(i | getById: 'attributes').name.slice(0,1).toLocaleUpperCase()}}B
              </mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field appearance="outline" class="f-1">
            <mat-label>Skills</mat-label>
            <mat-select multiple formControlName="skills">
              <mat-option *ngFor="let i of profession?.advancements?.skills;" [value]="i">
                {{(i | getById: 'skills').name}}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field appearance="outline" class="f-1">
            <mat-label>Talents</mat-label>
            <mat-select multiple formControlName="talents">
              <mat-option *ngFor="let i of profession?.advancements?.talents;" [value]="i">
                {{(i | getById: 'talents').name}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </ng-container>
      </ng-container>
    </mat-card-content>
    <mat-card-content class="d-f jc-sb cg-5" *ngIf="form.get('tier').value >= TIERS[1].id">
      <ng-container formGroupName="professions">
        <mat-form-field appearance="outline" class="f-1">
          <mat-label>Intermediate Profession</mat-label>
          <mat-select formControlName="intermediate">
            <mat-option *ngFor="let i of PROFESSIONS;" [value]="i.id" [class.hide]="isProfessionHidden(i.id)">
              {{i.name}} {{isMagicalProfession(i.id) ? '*' : ''}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </ng-container>
      <ng-container formGroupName="advancements" *ngIf="isAdvancesAvailable('professions.intermediate') as profession;">
        <ng-container formGroupName="intermediate">
          <mat-form-field appearance="outline" class="f-1">
            <mat-label>Attribute Bonus</mat-label>
            <mat-select multiple formControlName="bonuses">
              <mat-option *ngFor="let i of profession.advancements.bonuses;" [value]="i">
                {{(i | getById: 'attributes').name.slice(0,1).toLocaleUpperCase()}}B
              </mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field appearance="outline" class="f-1">
            <mat-label>Skills</mat-label>
            <mat-select multiple formControlName="skills">
              <mat-option *ngFor="let i of profession.advancements.skills;" [value]="i">
                {{(i | getById: 'skills').name}}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field appearance="outline" class="f-1">
            <mat-label>Talents</mat-label>
            <mat-select multiple formControlName="talents">
              <mat-option *ngFor="let i of profession.advancements.talents;" [value]="i">
                {{(i | getById: 'talents').name}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </ng-container>
      </ng-container>
    </mat-card-content>
    <mat-card-content class="d-f jc-sb cg-5" *ngIf="form.get('tier').value >= TIERS[2].id">
      <ng-container formGroupName="professions">
        <mat-form-field appearance="outline" class="f-1">
          <mat-label>Advanced Profession</mat-label>
          <mat-select formControlName="advanced">
            <mat-option *ngFor="let i of PROFESSIONS;" [value]="i.id" [class.hide]="isProfessionHidden(i.id)">
              {{i.name}} {{isMagicalProfession(i.id) ? '*' : ''}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </ng-container>
      <ng-container formGroupName="advancements" *ngIf="isAdvancesAvailable('professions.advanced') as profession;">
        <ng-container formGroupName="advanced">
          <mat-form-field appearance="outline" class="f-1">
            <mat-label>Attribute Bonus</mat-label>
            <mat-select multiple formControlName="bonuses">
              <mat-option *ngFor="let i of profession.advancements.bonuses;" [value]="i">
                {{(i | getById: 'attributes').name.slice(0,1).toLocaleUpperCase()}}B
              </mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field appearance="outline" class="f-1">
            <mat-label>Skills</mat-label>
            <mat-select multiple formControlName="skills">
              <mat-option *ngFor="let i of profession.advancements.skills;" [value]="i">
                {{(i | getById: 'skills').name}}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field appearance="outline" class="f-1">
            <mat-label>Talents</mat-label>
            <mat-select multiple formControlName="talents">
              <mat-option *ngFor="let i of profession.advancements.talents;" [value]="i">
                {{(i | getById: 'talents').name}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </ng-container>
      </ng-container>
    </mat-card-content>
  </mat-card>

  <mat-card class="mb-15">
    <mat-card-header>
      <mat-card-title>Magic</mat-card-title>
    </mat-card-header>
    <mat-card-content class="d-f jc-sb cg-5">
      <mat-form-field appearance="outline" class="f-1">
        <mat-label>Spells</mat-label>
        <mat-select formControlName="spells" multiple>
          <mat-option *ngFor="let i of SPELLS" [value]="i.id" [matTooltip]="i.labels.tooltip">
            {{i.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>

    </mat-card-content>
  </mat-card>

  <mat-card class="mb-15">
    <mat-card-header>
      <mat-card-title>Physical Appearance</mat-card-title>
    </mat-card-header>
    <mat-card-content class="d-f jc-sb cg-5">
      <mat-form-field appearance="outline" class="f-1" formGroupName="miscellaneous">
        <mat-label>Sex</mat-label>
        <mat-select formControlName="sex">
          <mat-option *ngFor="let i of SEX" [value]="i.id">{{i.name}}</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field appearance="outline" class="f-1" formGroupName="miscellaneous">
        <mat-label>Age</mat-label>
        <mat-select formControlName="age">
          <mat-option *ngFor="let i of AGES" [value]="i.id">{{i.name}}</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field appearance="outline" class="f-1" formGroupName="miscellaneous">
        <mat-label>Stature</mat-label>
        <mat-select formControlName="stature">
          <mat-option *ngFor="let i of STATURE" [value]="i.id">{{i.name}}</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field appearance="outline" class="f-1" formGroupName="miscellaneous">
        <mat-label>Build</mat-label>
        <mat-select formControlName="build">
          <mat-option *ngFor="let i of BUILD" [value]="i.id">{{i.name}}</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field appearance="outline" class="f-1" formGroupName="miscellaneous">
        <mat-label>Style</mat-label>
        <mat-select formControlName="style">
          <mat-option *ngFor="let i of STYLE" [value]="i.id">{{i.name}}</mat-option>
        </mat-select>
      </mat-form-field>
    </mat-card-content>
    <mat-card-content class="d-f jc-sb cg-5">
      <mat-form-field appearance="outline" class="f-1" formGroupName="miscellaneous">
        <mat-label>Eyes</mat-label>
        <mat-select formControlName="eyes">
          <mat-option *ngFor="let i of EYES" [value]="i.id">{{i.name}}</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field appearance="outline" class="f-1" formGroupName="miscellaneous">
        <mat-label>Hair Length</mat-label>
        <mat-select formControlName="hair_length">
          <mat-option *ngFor="let i of HAIR_LENGTH" [value]="i.id">{{i.name}}</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field appearance="outline" class="f-1" formGroupName="miscellaneous">
        <mat-label>Hair Style</mat-label>
        <mat-select formControlName="hair_style">
          <mat-option *ngFor="let i of HAIR_STYLE" [value]="i.id">{{i.name}}</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field appearance="outline" class="f-1" formGroupName="miscellaneous">
        <mat-label>Hair Color</mat-label>
        <mat-select formControlName="hair_color">
          <mat-option *ngFor="let i of HAIR_COLOR" [value]="i.id">{{i.name}}</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field appearance="outline" class="f-1" formGroupName="miscellaneous">
        <mat-label>Mark</mat-label>
        <mat-select formControlName="mark">
          <mat-option *ngFor="let i of MARKS" [value]="i.id">{{i.name}}</mat-option>
        </mat-select>
      </mat-form-field>
    </mat-card-content>
  </mat-card>

  <mat-card class="mb-15">
    <mat-card-header>
      <mat-card-title>Advanced</mat-card-title>
    </mat-card-header>
    <mat-card-content class="d-f fd-c">
      <mat-form-field appearance="outline" class="f-1">
        <mat-label>Afflictions</mat-label>
        <mat-select formControlName="afflictions" multiple>
          <mat-option *ngFor="let i of AFFLICTIONS" [value]="i.id" [matTooltip]="i.labels.tooltip">
            {{i.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field appearance="outline" class="f-1">
        <mat-label>Permanent Injuries</mat-label>
        <mat-select formControlName="permanent_injuries" multiple>
          <mat-option *ngFor="let i of PERMANENT_INJURIES" [value]="i.id" [matTooltip]="i.labels.tooltip">
            {{i.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </mat-card-content>
  </mat-card>

  <mat-card class="mb-15">
    <mat-card-actions>
      <button type="reset" mat-button class="mr-15">Reset</button>
      <button type="submit" mat-flat-button color="primary" [disabled]="!form.valid">Save</button>
    </mat-card-actions>
  </mat-card>
</form>
