@use '~@angular/material' as mat;
@import 'variables';
@import "~projects/shadowrun/src/variables";

@include mat.core($general-typography);
@include mat.all-component-themes($app-theme);

$font-gothic-1: 'IM Fell English SC';
$font-gothic-2: 'IM Fell English';
// TEXT
.font-gothic-h {
  font-family: $font-gothic-1, serif !important;
}
.font-gothic-p {
  font-family: $font-gothic-2, serif !important;
}



// Material Overrides

table.mat-table {
  border: 1px solid gray;
  border-radius: 4px;

  .mat-cell {
    padding: 0 5px;
  }
}

.mat-tooltip {
  line-height: 1.25;
  white-space: pre-line;
}

.snackbar-error {
  color: white;
  background-color: $color-warn;
}

.toolbar-main {
  margin: -10px -10px 10px -10px !important;
  box-sizing: content-box !important;
}
