<mat-sidenav-container>
  <mat-sidenav mode="side" opened position="end">
    <div class="d-f fd-c cg-5 mb-10">
      <button mat-icon-button matTooltip="Add" color="primary" [matMenuTriggerFor]="menu">
        <mat-icon>add</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <ng-template matMenuContent>
          <button mat-menu-item *ngFor="let i of characters$ | async" (click)="onAddPlayerClick(i)">
            {{i.name}}
          </button>
          <button mat-menu-item *ngFor="let i of threats" (click)="onAddThreatClick(i)">
            {{i.name}} ({{(i.risk_factor | getById: DataTypes.RISK_FACTORS)?.name }} {{(i.notch  | getById: DataTypes.NOTCHES)?.name}})
          </button>
        </ng-template>
      </mat-menu>
      <button mat-icon-button matTooltip="Sort" (click)="onSortClick()">
        <mat-icon>sort</mat-icon>
      </button>
      <button mat-icon-button color="warn" matTooltip="Clean" (click)="onCleanClick()">
        <mat-icon>delete_forever</mat-icon>
      </button>
    </div>
  </mat-sidenav>
  <mat-sidenav-content class="p-5">
    <mat-card class="mb-15 environment-card">
      <mat-card-content class="d-f fd-c">
        <form [formGroup]="form" class="d-f g-5">
          <mat-form-field appearance="outline">
            <mat-label>Lighting</mat-label>
            <mat-select formControlName="lighting">
              <mat-option *ngFor="let i of lighting" [value]="i.id">{{i.name}}</mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>Obscurement</mat-label>
            <mat-select formControlName="obscurement">
              <mat-option *ngFor="let i of obscurement" [value]="i.id">{{i.name}}</mat-option>
            </mat-select>
          </mat-form-field>
        </form>
        <p *ngIf="getLighting(form.get('lighting').value) as lighting">
          <b>Lighting:</b>
          <span class="c-gray ml-5 mr-5">{{lighting.labels?.examples}}</span>
          ({{lighting.labels?.effect}})
        </p>
        <p *ngIf="getObscurement(form.get('obscurement').value) as obscurement">
          <b>Obscurement:</b>
          <span class="c-gray ml-5 mr-5">{{obscurement.labels?.examples}}</span>
          ({{obscurement.labels?.effect}})
        </p>
        <p>
          <b>Threats:</b>
          <span *ngFor="let i of deployed$ | async" class="comma-separated">
            {{(i.risk_factor | getById: DataTypes.RISK_FACTORS)?.name}} ({{(i.notch | getById: DataTypes.NOTCHES)?.name}}): {{i.value}}
          </span>
        </p>
      </mat-card-content>
    </mat-card>
    <app-combat-tracker-unit *ngFor="let unit of units$ | async; trackBy: trackByUid;"
      [value]="unit"
      (clone)="onCloneClick($event)"
      (remove)="onRemoveClick($event)">
    </app-combat-tracker-unit>
  </mat-sidenav-content>
</mat-sidenav-container>
