.w-200px {
  width: 200px;
}
.w-100px {
  width: 100px;
}
.portrait {
  width: 200px;
  height: 200px;
  margin-right: 10px;
  object-fit: cover;
}
table {
  border-spacing: 10px 0;
  border-collapse: separate;
}
