<form [formGroup]="form">
  <h1 mat-dialog-title>Add Item Modification</h1>
  <div mat-dialog-content class="d-f fd-c pt-5">
    <mat-form-field appearance="outline">
      <mat-label>Name</mat-label>
      <input matInput formControlName="name">
    </mat-form-field>
    <div class="d-f g-10">
      <mat-form-field appearance="outline">
        <mat-label>Cost</mat-label>
        <input matInput type="number" formControlName="cost">
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Availability</mat-label>
        <mat-select formControlName="availability">
          @for (i of availabilities$ | async; track trackById($index, i)) {
            <mat-option [value]="i.id">
              {{i.name}}
            </mat-option>
          }
        </mat-select>
      </mat-form-field>
    </div>
    <ng-container formGroupName="labels">
      <mat-form-field appearance="outline">
        <mat-label>Flavor</mat-label>
        <textarea matInput formControlName="flavor"></textarea>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Description</mat-label>
        <textarea matInput formControlName="description"></textarea>
      </mat-form-field>
    </ng-container>
    <std-key-value-array formControlName="system"></std-key-value-array>
  </div>
  <div mat-dialog-actions>
    <button mat-button [mat-dialog-close]="null">Cancel</button>
    <button mat-flat-button color="primary" [mat-dialog-close]="form.getRawValue()" [disabled]="!form.valid">Add</button>
  </div>
</form>
