<mat-accordion>
  <mat-expansion-panel *ngFor="let i of drugs; trackBy: trackById;" hideToggle>
    <mat-expansion-panel-header>
      <mat-panel-title class="ff-g">{{i.name}}</mat-panel-title>
    </mat-expansion-panel-header>
    <div>
      <p matLine class="c-gray"><i>{{i.labels.description}}</i></p>
      <p matLine><b class="c-gray">Resist:</b> {{i.labels.resist}}</p>
      <p matLine class="ws-pw"><b class="c-gray">Effect:</b> {{i.labels.effect}}</p>
      <p matLine><b class="c-gray">Critical Success:</b> {{i.labels.critical_success}}</p>
      <p matLine><b class="c-gray">Critical Failure:</b> {{i.labels.critical_failure}}</p>
      <p matLine><b class="c-gray">Other Considerations:</b> {{i.labels.other_considerations}}</p>
      <p matLine><b class="c-gray">Duration:</b> {{i.labels.duration}}</p>
    </div>
  </mat-expansion-panel>
</mat-accordion>
