<mat-toolbar>
  <h1>Character Creation</h1>
</mat-toolbar>
<mat-stepper orientation="vertical" [linear]="true" #stepper>
  <!-- STEP 1: GENERAL -->
  <mat-step [stepControl]="form1">
    <form [formGroup]="form1" class="d-f fd-c">
      <ng-template matStepLabel>Campaign, Name & Details</ng-template>
      <mat-form-field appearance="outline">
        <mat-label>Campaign</mat-label>
        <mat-select formControlName="campaign">
          <mat-option *ngFor="let i of campaigns$ | async; trackBy: trackById;" [value]="i.id">{{i.name}}</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Name</mat-label>
        <input matInput formControlName="name">
      </mat-form-field>
      <div>
        <button mat-button matStepperNext [disabled]="!form1.valid">Next</button>
      </div>
    </form>
  </mat-step>
  <!-- STEP 2: -->
<!--  <mat-step [stepControl]="form2">-->
<!--    <form [formGroup]="form2" class="d-f fd-c">-->
<!--      <ng-template matStepLabel>Characteristics</ng-template>-->
<!--      <div>-->
<!--        <button mat-button matStepperPrevious>Back</button>-->
<!--        <button mat-button matStepperNext [disabled]="!form2.valid">Next</button>-->
<!--      </div>-->
<!--    </form>-->
<!--  </mat-step>-->
  <!-- STEP 3: -->
  <mat-step>
    <ng-template matStepLabel>Overview</ng-template>
    <p class="mt-5">
      You are now done.
    </p>
    <div>
      <button mat-button matStepperPrevious>Back</button>
      <button mat-button (click)="stepper.reset()">Reset</button>
      <button mat-button color="primary" (click)="onSubmit()">Save</button>
    </div>
  </mat-step>
</mat-stepper>


<!--<form [formGroup]="form" (ngSubmit)="onSubmit(form.getRawValue())">-->
<!--  <mat-card class="mb-15">-->
<!--    <mat-card-content class="d-f fd-c">-->
<!--      <mat-form-field appearance="outline">-->
<!--        <mat-label>Campaign</mat-label>-->
<!--        <mat-select formControlName="campaign">-->
<!--          <mat-option *ngFor="let i of campaigns$ | async; trackBy: trackById;" [value]="i.id">{{i.name}}</mat-option>-->
<!--        </mat-select>-->
<!--      </mat-form-field>-->
<!--      <mat-form-field appearance="outline">-->
<!--        <mat-label>Name</mat-label>-->
<!--        <input matInput formControlName="name">-->
<!--      </mat-form-field>-->
<!--      <mat-form-field appearance="outline">-->
<!--        <mat-label>Full Name</mat-label>-->
<!--        <input matInput formControlName="full_name">-->
<!--      </mat-form-field>-->
<!--      <mat-form-field appearance="outline">-->
<!--        <mat-label>Culture</mat-label>-->
<!--        <mat-select formControlName="culture">-->
<!--          <mat-option *ngFor="let i of CULTURES; trackBy: trackById;" [value]="i.id">{{i.name}}</mat-option>-->
<!--        </mat-select>-->
<!--      </mat-form-field>-->
<!--      <mat-form-field appearance="outline">-->
<!--        <mat-label>Languages</mat-label>-->
<!--        <mat-select formControlName="languages" multiple>-->
<!--          <mat-option *ngFor="let i of LANGUAGES; trackBy: trackById;" [value]="i.id">{{i.name}}</mat-option>-->
<!--        </mat-select>-->
<!--      </mat-form-field>-->
<!--      <mat-form-field appearance="outline">-->
<!--        <mat-label>Allegiances</mat-label>-->
<!--        <input matInput formControlName="allegiances">-->
<!--      </mat-form-field>-->
<!--    </mat-card-content>-->
<!--  </mat-card>-->


<!--  <mat-card class="mb-15">-->
<!--    <mat-card-header>-->
<!--      <mat-card-title>Belief & Flaw</mat-card-title>-->
<!--    </mat-card-header>-->
<!--    <mat-card-content class="d-f jc-sb cg-5">-->
<!--      <mat-form-field appearance="outline" class="f-1">-->
<!--        <mat-label>Belief</mat-label>-->
<!--        <mat-select formControlName="belief">-->
<!--          <mat-option *ngFor="let i of BELIEFS; trackBy: trackById;" [value]="i.id" [matTooltip]="i.labels?.description">-->
<!--            {{i.name}}-->
<!--          </mat-option>-->
<!--        </mat-select>-->
<!--      </mat-form-field>-->
<!--      <mat-form-field appearance="outline" class="f-1">-->
<!--        <mat-label>Flaw</mat-label>-->
<!--        <mat-select formControlName="flaw">-->
<!--          <mat-option *ngFor="let i of FLAWS; trackBy: trackById;" [value]="i.id" [matTooltip]="i.labels?.description">-->
<!--            {{i.name}}-->
<!--          </mat-option>-->
<!--        </mat-select>-->
<!--      </mat-form-field>-->
<!--    </mat-card-content>-->
<!--  </mat-card>-->

<!--  <mat-card class="mb-15">-->
<!--    <mat-card-header>-->
<!--      <mat-card-title>Attributes</mat-card-title>-->
<!--    </mat-card-header>-->
<!--    <mat-card-content formGroupName="attributes" class="d-f jc-sb cg-5">-->
<!--      <mat-form-field *ngFor="let i of ATTRIBUTES; trackBy: trackById;" appearance="outline" class="f-1">-->
<!--        <mat-label>{{i.name}}</mat-label>-->
<!--        <input matInput type="number" min="25" max="55" [formControlName]="i.id">-->
<!--        <mat-hint>-->
<!--          {{i.name.slice(0,1).toLocaleUpperCase()}}B {{getAttributeBonus(i.id)}}-->
<!--        </mat-hint>-->
<!--      </mat-form-field>-->
<!--    </mat-card-content>-->
<!--  </mat-card>-->

<!--  <mat-card class="mb-15">-->
<!--    <mat-card-header>-->
<!--      <mat-card-title>Archetype, Archetype Trait, Tier</mat-card-title>-->
<!--    </mat-card-header>-->
<!--    <mat-card-content class="d-f jc-sb cg-5">-->
<!--      <mat-form-field appearance="outline" class="f-1">-->
<!--        <mat-label>Archetype</mat-label>-->
<!--        <mat-select formControlName="archetype">-->
<!--          <mat-option *ngFor="let i of ARCHETYPES; trackBy: trackById;" [value]="i.id">-->
<!--            {{i.name}}-->
<!--          </mat-option>-->
<!--        </mat-select>-->
<!--      </mat-form-field>-->
<!--      <mat-form-field appearance="outline" class="f-1">-->
<!--        <mat-label>Trait</mat-label>-->
<!--        <mat-select formControlName="trait">-->
<!--          <mat-option *ngFor="let i of TRAITS; trackBy: trackById;" [value]="i.id"  [class.hide]="isTraitHidden(i.id)">-->
<!--            {{i.name}}-->
<!--          </mat-option>-->
<!--        </mat-select>-->
<!--      </mat-form-field>-->
<!--      <mat-form-field appearance="outline" class="f-1">-->
<!--        <mat-label>Tier</mat-label>-->
<!--        <mat-select formControlName="tier">-->
<!--          <mat-option *ngFor="let i of TIERS; trackBy: trackById;" [value]="i.id">-->
<!--            {{i.name}}-->
<!--          </mat-option>-->
<!--        </mat-select>-->
<!--      </mat-form-field>-->
<!--    </mat-card-content>-->
<!--    <mat-card-content *ngIf="!!form.get('archetype').value">-->
<!--      <p><b>Starting wares, weapons & money: </b>{{(form.get('archetype').value | getById: TYPES.ARCHETYPES)?.labels?.wares}}</p>-->
<!--    </mat-card-content>-->
<!--  </mat-card>-->

<!--  <mat-card class="mb-15">-->
<!--    <mat-card-header>-->
<!--      <mat-card-title>Professions & Advancements</mat-card-title>-->
<!--    </mat-card-header>-->
<!--    <mat-card-content *ngFor="let tier of tiers; index as index; trackBy: trackById;" class="d-f jc-sb cg-5">-->
<!--      <ng-container formGroupName="professions" *ngIf="form.get('tier').value >= TIERS[index].id">-->
<!--        <mat-form-field appearance="outline" class="f-1">-->
<!--          <mat-label>{{tier}} Profession</mat-label>-->
<!--          <mat-select [formControlName]="tier.toLocaleLowerCase()" (valueChange)="onProfessionChange($event, tier.toLocaleLowerCase())">-->
<!--            <mat-option *ngFor="let i of PROFESSIONS; trackBy: trackById;" [value]="i.id" [class.hide]="isProfessionHidden(i.id, tier.toLocaleLowerCase())">-->
<!--              {{i.name}} {{isMagicalProfession(i.id) ? '*' : ''}}-->
<!--            </mat-option>-->
<!--          </mat-select>-->
<!--        </mat-form-field>-->
<!--      </ng-container>-->
<!--      <ng-container formGroupName="advancements" *ngIf="isAdvancesAvailable('professions.' + tier.toLocaleLowerCase()) as profession;">-->
<!--        <button mat-icon-button type="button" class="edit-scheme-button" matTooltip="Edit Advancements" (click)="onEditSchemeClick(tier.toLocaleLowerCase())">-->
<!--          <mat-icon>edit_note</mat-icon>-->
<!--        </button>-->
<!--        <ng-container [formGroupName]="tier.toLocaleLowerCase()">-->
<!--          <mat-form-field appearance="outline" class="f-1">-->
<!--            <mat-label>Attribute Bonus</mat-label>-->
<!--            <mat-select multiple formControlName="bonuses">-->
<!--              <mat-option *ngFor="let i of form.get('schemas.' + tier.toLocaleLowerCase() + '.bonuses').value; trackBy: trackById;" [value]="i">-->
<!--                {{(i | getById: 'attributes').name.slice(0,1).toLocaleUpperCase()}}B-->
<!--              </mat-option>-->
<!--            </mat-select>-->
<!--          </mat-form-field>-->
<!--          <mat-form-field appearance="outline" class="f-1">-->
<!--            <mat-label>Skills</mat-label>-->
<!--            <mat-select multiple formControlName="skills">-->
<!--              <mat-option *ngFor="let i of form.get('schemas.' + tier.toLocaleLowerCase() + '.skills').value; trackBy: trackById;" [value]="i">-->
<!--                {{(i | getById: 'skills').name}}-->
<!--              </mat-option>-->
<!--            </mat-select>-->
<!--          </mat-form-field>-->
<!--          <mat-form-field appearance="outline" class="f-1">-->
<!--            <mat-label>Talents</mat-label>-->
<!--            <mat-select multiple formControlName="talents">-->
<!--              <mat-option *ngFor="let i of form.get('schemas.' + tier.toLocaleLowerCase() + '.talents').value; trackBy: trackById;" [value]="i">-->
<!--                {{(i | getById: 'talents').name}}-->
<!--              </mat-option>-->
<!--            </mat-select>-->
<!--          </mat-form-field>-->
<!--        </ng-container>-->
<!--      </ng-container>-->
<!--    </mat-card-content>-->
<!--  </mat-card>-->

<!--  <mat-card class="mb-15">-->
<!--    <mat-card-header>-->
<!--      <mat-card-title>Magic</mat-card-title>-->
<!--    </mat-card-header>-->
<!--    <mat-card-content class="d-f fd-c">-->
<!--      <mat-form-field appearance="outline" class="f-1">-->
<!--        <mat-label>Spells</mat-label>-->
<!--        <mat-select formControlName="spells" multiple>-->
<!--          <mat-option *ngFor="let i of SPELLS; trackBy: trackById;" [value]="i.id" [matTooltip]="i.labels.tooltip">-->
<!--            {{i.name}}-->
<!--          </mat-option>-->
<!--        </mat-select>-->
<!--      </mat-form-field>-->
<!--      <mat-form-field appearance="outline" class="f-1">-->
<!--        <mat-label>Alchemical Arts</mat-label>-->
<!--        <mat-select formControlName="alchemical_arts" multiple>-->
<!--          <mat-option *ngFor="let i of ALCHEMICAL_ARTS; trackBy: trackById;" [value]="i.id" [matTooltip]="i.labels.tooltip">-->
<!--            {{i.name}}-->
<!--          </mat-option>-->
<!--        </mat-select>-->
<!--      </mat-form-field>-->
<!--    </mat-card-content>-->
<!--  </mat-card>-->

<!--  <mat-card class="mb-15">-->
<!--    <mat-card-header>-->
<!--      <mat-card-title>Physical Appearance</mat-card-title>-->
<!--    </mat-card-header>-->
<!--    <mat-card-content class="d-f jc-sb cg-5">-->
<!--      <mat-form-field appearance="outline" class="f-1" formGroupName="miscellaneous">-->
<!--        <mat-label>Sex</mat-label>-->
<!--        <mat-select formControlName="sex">-->
<!--          <mat-option *ngFor="let i of SEX; trackBy: trackById;" [value]="i.id">{{i.name}}</mat-option>-->
<!--        </mat-select>-->
<!--      </mat-form-field>-->
<!--      <mat-form-field appearance="outline" class="f-1" formGroupName="miscellaneous">-->
<!--        <mat-label>Age</mat-label>-->
<!--        <mat-select formControlName="age">-->
<!--          <mat-option *ngFor="let i of AGES; trackBy: trackById;" [value]="i.id">{{i.name}}</mat-option>-->
<!--        </mat-select>-->
<!--      </mat-form-field>-->
<!--      <mat-form-field appearance="outline" class="f-1" formGroupName="miscellaneous">-->
<!--        <mat-label>Stature</mat-label>-->
<!--        <mat-select formControlName="stature">-->
<!--          <mat-option *ngFor="let i of STATURE; trackBy: trackById;" [value]="i.id">{{i.name}}</mat-option>-->
<!--        </mat-select>-->
<!--      </mat-form-field>-->
<!--      <mat-form-field appearance="outline" class="f-1" formGroupName="miscellaneous">-->
<!--        <mat-label>Build</mat-label>-->
<!--        <mat-select formControlName="build">-->
<!--          <mat-option *ngFor="let i of BUILD; trackBy: trackById;" [value]="i.id">{{i.name}}</mat-option>-->
<!--        </mat-select>-->
<!--      </mat-form-field>-->
<!--      <mat-form-field appearance="outline" class="f-1" formGroupName="miscellaneous">-->
<!--        <mat-label>Style</mat-label>-->
<!--        <mat-select formControlName="style">-->
<!--          <mat-option *ngFor="let i of STYLE; trackBy: trackById;" [value]="i.id">{{i.name}}</mat-option>-->
<!--        </mat-select>-->
<!--      </mat-form-field>-->
<!--    </mat-card-content>-->
<!--    <mat-card-content class="d-f jc-sb cg-5">-->
<!--      <mat-form-field appearance="outline" class="f-1" formGroupName="miscellaneous">-->
<!--        <mat-label>Eyes</mat-label>-->
<!--        <mat-select formControlName="eyes">-->
<!--          <mat-option *ngFor="let i of EYES; trackBy: trackById;" [value]="i.id">{{i.name}}</mat-option>-->
<!--        </mat-select>-->
<!--      </mat-form-field>-->
<!--      <mat-form-field appearance="outline" class="f-1" formGroupName="miscellaneous">-->
<!--        <mat-label>Hair Length</mat-label>-->
<!--        <mat-select formControlName="hair_length">-->
<!--          <mat-option *ngFor="let i of HAIR_LENGTH; trackBy: trackById;" [value]="i.id">{{i.name}}</mat-option>-->
<!--        </mat-select>-->
<!--      </mat-form-field>-->
<!--      <mat-form-field appearance="outline" class="f-1" formGroupName="miscellaneous">-->
<!--        <mat-label>Hair Style</mat-label>-->
<!--        <mat-select formControlName="hair_style">-->
<!--          <mat-option *ngFor="let i of HAIR_STYLE; trackBy: trackById;" [value]="i.id">{{i.name}}</mat-option>-->
<!--        </mat-select>-->
<!--      </mat-form-field>-->
<!--      <mat-form-field appearance="outline" class="f-1" formGroupName="miscellaneous">-->
<!--        <mat-label>Hair Color</mat-label>-->
<!--        <mat-select formControlName="hair_color">-->
<!--          <mat-option *ngFor="let i of HAIR_COLOR; trackBy: trackById;" [value]="i.id">{{i.name}}</mat-option>-->
<!--        </mat-select>-->
<!--      </mat-form-field>-->
<!--      <mat-form-field appearance="outline" class="f-1" formGroupName="miscellaneous">-->
<!--        <mat-label>Mark</mat-label>-->
<!--        <mat-select formControlName="mark">-->
<!--          <mat-option *ngFor="let i of MARKS; trackBy: trackById;" [value]="i.id">{{i.name}}</mat-option>-->
<!--        </mat-select>-->
<!--      </mat-form-field>-->
<!--    </mat-card-content>-->
<!--  </mat-card>-->

<!--  <mat-card class="mb-15">-->
<!--    <mat-card-header>-->
<!--      <mat-card-title>Advanced</mat-card-title>-->
<!--    </mat-card-header>-->
<!--    <mat-card-content class="d-f fd-c">-->
<!--      <mat-form-field appearance="outline" class="f-1">-->
<!--        <mat-label>Afflictions</mat-label>-->
<!--        <mat-select formControlName="afflictions" multiple>-->
<!--          <mat-option *ngFor="let i of AFFLICTIONS; trackBy: trackById;" [value]="i.id" [matTooltip]="i.labels.tooltip">-->
<!--            {{i.name}}-->
<!--          </mat-option>-->
<!--        </mat-select>-->
<!--      </mat-form-field>-->
<!--      <mat-form-field appearance="outline" class="f-1">-->
<!--        <mat-label>Permanent Injuries</mat-label>-->
<!--        <mat-select formControlName="permanent_injuries" multiple>-->
<!--          <mat-option *ngFor="let i of PERMANENT_INJURIES; trackBy: trackById;" [value]="i.id" [matTooltip]="i.labels.tooltip">-->
<!--            {{i.name}}-->
<!--          </mat-option>-->
<!--        </mat-select>-->
<!--      </mat-form-field>-->
<!--      <span class="d-f jc-sb cg-5">-->
<!--        <mat-form-field appearance="outline" class="f-1">-->
<!--          <mat-label>Permanent Belief Ranks</mat-label>-->
<!--          <input matInput type="number" min="0" max="10" formControlName="permanent_belief_ranks">-->
<!--        </mat-form-field>-->
<!--        <mat-form-field appearance="outline" class="f-1">-->
<!--          <mat-label>Permanent Flaw Ranks</mat-label>-->
<!--          <input matInput type="number" min="0" max="10" formControlName="permanent_flaw_ranks">-->
<!--        </mat-form-field>-->
<!--      </span>-->
<!--    </mat-card-content>-->
<!--  </mat-card>-->

<!--  <mat-card class="mb-15">-->
<!--    <mat-card-actions>-->
<!--      <button type="button" mat-button class="mr-15" (click)="stepper.reset()">Reset</button>-->
<!--      <button type="submit" mat-flat-button color="primary" [disabled]="!form.valid">Save</button>-->
<!--    </mat-card-actions>-->
<!--  </mat-card>-->
<!--</form>-->
