<mat-toolbar>
  <h1>Character Creation</h1>
</mat-toolbar>
<mat-stepper orientation="vertical" [linear]="true" #stepper>
  <!-- STEP 1: CHARACTERISTICS -->
  <mat-step [stepControl]="step1">
    <form [formGroup]="step1" class="d-f fd-c">
      <ng-template matStepLabel>Characteristics</ng-template>
      <div class="d-f jc-sb" formArrayName="characteristics">
        <mat-form-field
          *ngFor="let characteristic of characteristics$ | async; trackBy: trackById; let i = index"
          [formGroupName]="i"
          appearance="outline"
          style="width:80px;">
          <mat-label>{{characteristic.labels?.abbreviation}}</mat-label>
          <input matInput type="number" formControlName="starting" [min]="20" [max]="50" [step]="1">
          <mat-error *ngIf="step1.get('characteristics.' + i + '.value')?.hasError('required')">Required</mat-error>
          <mat-error *ngIf="step1.get('characteristics.' + i + '.value')?.hasError('min')">Min is 20</mat-error>
          <mat-error *ngIf="step1.get('characteristics.' + i + '.value')?.hasError('max')">Max is 50</mat-error>
        </mat-form-field>
      </div>
      <div>
        <button mat-button matStepperNext [disabled]="!step1.valid">Next</button>
      </div>
    </form>
  </mat-step>
  <!-- STEP 2: ORIGIN -->
  <mat-step [stepControl]="step2">
    <form [formGroup]="step2" class="d-f fd-c">
      <ng-template matStepLabel>
        Origin <span *ngIf="step2.get('origin').value">(<interactive [id]="step2.get('origin').value"></interactive>)</span>
      </ng-template>
      <mat-form-field appearance="outline">
        <mat-label>Origin</mat-label>
        <mat-select formControlName="origin">
          <mat-option *ngFor="let i of origins$ | async; trackBy: trackById;" [value]="i.id">{{i.name}}</mat-option>
        </mat-select>
      </mat-form-field>
    </form>
    <ng-container *ngIf="originBonuses$ | async" [formGroup]="bonuses">
      <selected-bonuses
        formControlName="origin"
        [value]="originBonuses$ | async">
      </selected-bonuses>
    </ng-container>
    <div class="d-f g-5">
      <button mat-button matStepperPrevious>Back</button>
      <button mat-button matStepperNext [disabled]="!step2.valid">Next</button>
    </div>
  </mat-step>
  <!-- STEP 3: FACTION -->
  <mat-step [stepControl]="step3">
    <form [formGroup]="step3" class="d-f fd-c">
      <ng-template matStepLabel>
        Faction <span *ngIf="step3.get('faction').value">(<interactive [id]="step3.get('faction').value"></interactive>)</span>
      </ng-template>
      <mat-form-field appearance="outline">
        <mat-label>Faction</mat-label>
        <mat-select formControlName="faction">
          <mat-option *ngFor="let i of factions$ | async; trackBy: trackById;" [value]="i.id">{{i.name}}</mat-option>
        </mat-select>
      </mat-form-field>
    </form>
    <ng-container *ngIf="factionBonuses$ | async" [formGroup]="bonuses">
      <selected-bonuses formControlName="faction" [value]="factionBonuses$ | async"></selected-bonuses>
    </ng-container>
    <div class="d-f g-5">
      <button mat-button matStepperPrevious>Back</button>
      <button mat-button matStepperNext [disabled]="!step3.valid">Next</button>
    </div>
  </mat-step>
  <!-- STEP 4: ROLE -->
  <mat-step [stepControl]="step4">
    <form [formGroup]="step4" class="d-f fd-c">
      <ng-template matStepLabel>
        Role <span *ngIf="step4.get('role').value">(<interactive [id]="step4.get('role').value"></interactive>)</span>
      </ng-template>
      <mat-form-field appearance="outline">
        <mat-label>Role</mat-label>
        <mat-select formControlName="role">
          <mat-option *ngFor="let i of roles$ | async; trackBy: trackById;" [value]="i.id">{{i.name}}</mat-option>
        </mat-select>
      </mat-form-field>
    </form>
    <ng-container *ngIf="roleBonuses$ | async" [formGroup]="bonuses">
      <selected-bonuses formControlName="role" [value]="roleBonuses$ | async"></selected-bonuses>
    </ng-container>
    <div class="d-f g-5">
      <button mat-button matStepperPrevious>Back</button>
      <button mat-button matStepperNext [disabled]="!step4.valid">Next</button>
    </div>
  </mat-step>
  <!-- STEP 5: EQUIPMENT -->
  <mat-step [stepControl]="step5">
<!--    <form [formGroup]="step5" class="d-f fd-c">-->
<!--      <ng-template matStepLabel>Equipment</ng-template>-->
<!--      <div class="d-f fd-c g-5 mb-5">-->
<!--        <div *ngFor="let item of formItems$ | async; trackBy: trackById; let i = index">{{item}}</div>-->
<!--      </div>-->
<!--    </form>-->
    <div class="d-f g-5">
      <button mat-button matStepperPrevious>Back</button>
      <button mat-button matStepperNext [disabled]="!step5.valid">Next</button>
<!--      <button mat-stroked-button color="primary" (click)="onAddItemClick()">Add Item</button>-->
    </div>
  </mat-step>
  <!-- STEP 10: GENERAL -->
  <mat-step [stepControl]="step6">
    <form [formGroup]="step6" class="d-f fd-c">
      <ng-template matStepLabel>Name & Details</ng-template>
      <mat-form-field appearance="outline">
        <mat-label>Name</mat-label>
        <input matInput formControlName="name">
        <mat-error *ngIf="step6.get('name').hasError('required')">Name is required</mat-error>
      </mat-form-field>
      <div class="d-f g-10">
        <image-input
          formControlName="image"
          class="mb-20"
          [path]="imagesPath$ | async">
        </image-input>
        <image-upload color="accent" [path]="imagesPath$ | async"></image-upload>
      </div>
      <mat-form-field appearance="outline" style="align-items:stretch;">
        <mat-label>Psychic Powers</mat-label>
        <mat-select formControlName="powers" multiple>
          <mat-option *ngFor="let i of powers$ | async; trackBy: trackById;" [value]="i.id" [matTooltip]="i.labels?.tooltip">
            {{i.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <div class="d-f g-5">
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext [disabled]="!step6.valid">Next</button>
      </div>
    </form>
  </mat-step>
  <!-- OVERVIEW -->
  <mat-step>
    <ng-template matStepLabel>Overview</ng-template>
    <p class="mt-5">You are now done.</p>
    <div class="d-f g-5">
      <button mat-button matStepperPrevious>Back</button>
      <button mat-button (click)="stepper.reset()">Reset</button>
      <button mat-button color="primary" (click)="onSubmit()">Save</button>
    </div>
  </mat-step>
</mat-stepper>
