<mat-sidenav-container>
  <mat-sidenav mode="side" opened position="end">
    <form [formGroup]="filters" class="d-f fd-c p-5">
      <button mat-icon-button type="button" class="mb-10" (click)="onFiltersResetClick()" matTooltip="Reset Filters">
        <mat-icon>restart_alt</mat-icon>
      </button>
      <mat-form-field appearance="outline" class="f-1">
        <mat-label>Archetype</mat-label>
        <mat-select formControlName="archetype">
          <mat-option *ngFor="let i of archetypes; trackBy: trackById;" [value]="i.professions">
            {{i.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field appearance="outline" class="f-1">
        <mat-label>Skills</mat-label>
        <mat-select multiple formControlName="skills">
          <mat-option *ngFor="let i of skills; trackBy: trackById;" [value]="i.id" [matTooltip]="i.labels?.tooltip">
            {{i.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field appearance="outline" class="f-1">
        <mat-label>Talents</mat-label>
        <mat-select multiple formControlName="talents">
          <mat-option *ngFor="let i of talents; trackBy: trackById;" [value]="i.id" [matTooltip]="i.labels?.tooltip">
            {{i.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </form>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-accordion>
      <mat-expansion-panel *ngFor="let i of professions$ | async; trackBy: trackById;" hideToggle>
        <mat-expansion-panel-header>
          <mat-panel-title class="ff-g">{{i.name}}</mat-panel-title>
        </mat-expansion-panel-header>
        <div>
          <p>
            <b class="c-gray">Trait: </b>
            <span [matTooltip]="(i.traits[0] | getById:TYPES.TRAITS)?.labels?.tooltip">
              {{(i.traits[0] | getById:TYPES.TRAITS)?.name}}
            </span>
          </p>
          <p>
            <b class="c-gray">Quirk: </b>
            <span [matTooltip]="(i.quirks[0] | getById:TYPES.QUIRKS)?.labels?.tooltip">
              {{(i.quirks[0] | getById:TYPES.QUIRKS)?.name}}
            </span>
          </p>
          <p>
            <b class="c-gray">Skill Ranks: </b>
            <span *ngFor="let j of i.advancements.skills;" class="comma-separated" [matTooltip]="(j | getById:TYPES.SKILLS)?.labels?.tooltip">
              {{(j | getById:TYPES.SKILLS)?.name}}
            </span>
          </p>
          <p>
            <b class="c-gray">Bonus Advances: </b>
            <span *ngFor="let j of i.advancements.bonuses;" class="comma-separated">
              {{(j | getById:TYPES.ATTRIBUTES)?.name}}
            </span>
          </p>
          <p>
            <b class="c-gray">Talents: </b>
            <span *ngFor="let j of i.advancements.talents;" class="comma-separated" [matTooltip]="(j | getById:TYPES.TALENTS)?.labels?.tooltip">
              {{(j | getById:TYPES.TALENTS)?.name}}
            </span>
          </p>
        </div>
      </mat-expansion-panel>
    </mat-accordion>
  </mat-sidenav-content>
</mat-sidenav-container>
