<p *ngIf="view === 'concise' && spirits$ | async as spirits">
  <b>Spells:</b>
  <span *ngFor="let i of spirits;" class="comma-separated ws-pw" [matTooltip]="i.tooltip">
    {{i.name}}
  </span>
</p>
<mat-card *ngIf="view === 'full' && spirits$ | async as spirits" class="mb-15">
  <mat-card-header class="ai-fs">
    <mat-card-title>Spells</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <table class="mat-table">
      <thead>
      <tr class="mat-header-row">
        <th class="mat-header-cell">Name</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let i of spirits;" class="mat-row">
<!--        <td class="mat-cell" [matTooltip]="i.category?.name">{{i.category?.name[0]}}</td>-->
<!--        <td class="mat-cell">-->
<!--          <span [matTooltip]="i.tooltip">{{i.name}}{{i.specialty ? ' (' + i.specialty + ')' : ''}}</span>-->
<!--        </td>-->
      </tr>
      </tbody>
    </table>
  </mat-card-content>
</mat-card>
