<h2 class="ff-g">Stress</h2>
<p class="c-gray">
  Stress is invoked by situations that cause unease or trepidation within the mind. Restlessness, anxiety caused by tedium while under a deadline and conditions provoking impatience often cause Stress. The anticipation that something can go horribly awry is another provocation for Stress. Stressful situations include:
</p>
<ul>
  <li>You are put in a situation where intergenerational trauma is realized in a social situation.</li>
  <li>You inch along a cliffside so narrow, falling could spell your doom.</li>
  <li>You investigate the grisly scene of a murder.</li>
  <li>You discover that the trusted town barber who just performed surgery on you may have been a heretic.</li>
  <li>You are called to witness the execution of someone — regardless of whether they are guilty or innocent.</li>
  <li>You break a promise or knowingly tell a lie to someone of prominence.</li>
  <li>You are lost in the wilderness, unsure which direction is the way to safety.</li>
  <li>You are arrested and shackled in the middle of the night for a crime you didn’t commit.</li>
  <li>Your reputation is called into question at a public forum, humiliating you — or worse.</li>
</ul>
