<h2 class="ff-g mb-5">Three Types Of Horror</h2>
<h3 class="ff-g mb-5">Stress</h3>
<p class="c-gray">Stress is invoked by situations that cause unease or trepidation within the mind. Restlessness, anxiety caused by tedium while under a deadline and conditions provoking impatience often cause Stress. The anticipation that something can go horribly awry is another provocation for Stress. Stressful situations include:</p>
<ul class="c-gray">
  <li>You are put in a situation where intergenerational trauma is realized in a social situation.</li>
  <li>You inch along a cliffside so narrow, falling could spell your doom.</li>
  <li>You investigate the grisly scene of a murder.</li>
  <li>You discover that the trusted town barber who just performed surgery on you may have been a heretic.</li>
  <li>You are called to witness the execution of someone — regardless of whether they are guilty or innocent.</li>
  <li>You break a promise or knowingly tell a lie to someone of prominence.</li>
  <li>You are lost in the wilderness, unsure which direction is the way to safety.</li>
  <li>You are arrested and shackled in the middle of the night for a crime you didn’t commit.</li>
  <li>Your reputation is called into question at a public forum, humiliating you — or worse.</li>
</ul>
<h3 class="ff-g mb-5">Fear</h3>
<p class="c-gray">Unlike Stress, the effects of Fear are felt more acutely. It is an emotion aroused by impending danger or pain, regardless of whether the threat is real or imagined. Whether it strikes suddenly and starkly — or it creeps up on you — Fear brings about feelings of prolonged danger. Fearful situations include:</p>
<ul class="c-gray">
  <li>You witness someone killed or injured brutally.</li>
  <li>You can hear the beating of a heart within the darkness of a hallway.</li>
  <li>You hear the unearthly chanting of the dead within a crypt.</li>
  <li>You know that a council of delegates may have had a hand in the disappearance of numerous innocent people.</li>
  <li>You stumble across a bear protecting her cubs in the forest.</li>
  <li>You must hide beneath the rotting bodies of your peers to avoid notice by another army.</li>
  <li>You have a conversation with someone you know is dead.</li>
  <li>You discover that a friend is a perpetrator behind a string of killings.</li>
  <li>You are the lone survivor of an onslaught that took the lives of your family and friends.</li>
</ul>
<h3 class="ff-g mb-5">Terror</h3>
<p class="c-gray">By far the most intense emotion,Terror is provoked after situations where grim realizations of the bizarre and unimaginable world come true. ‘Things that should not be’ encapsulate conditions which promote Terror, with helplessness being the most common emotion provoked by it. Terrifying situations include:</p>
<ul class="c-gray">
  <li>You commit violent acts against people due to differences in skin tone, gender, disability or spiritual practices.</li>
  <li>You experience endless nightmares from your youth, only to discover that it was real all along.</li>
  <li>You have the revelation that the death of a trusted friend or a loved one was your fault.</li>
  <li>You are ritually prepared to be consumed in a grotesque buffet for those who have been tainted by evil powers.</li>
  <li>You discover that you’re facing terminal illness.</li>
  <li>You witness the emergence of a devil into the world without the proper protections.</li>
  <li>You have committed an act of cannibalism or been forced to commit an act of auto-cannibalism.</li>
  <li>You witness a friend transform into an unnatural creature.</li>
  <li>You are a witness to a true miracle.</li>
</ul>
<h3 class="ff-g mb-5">Withstand Horror</h3>
<p class="c-gray"><i>I’ve got a baaad feeling about this...</i></p>
<p class="c-gray"><b>Withstand Horror:</b> Whenever you face a threat or situation that the Historian feels would provoke Stress, Fear or Terror, make a Resolve Test to Withstand Horror. Depending on the type of horror, the Difficulty Rating eases or worsens:</p>
<ul class="c-gray">
  <li>Stress (Challenging -10%)</li>
  <li>Fear (Hard -20%)</li>
  <li>Terror (Arduous -30%)</li>
</ul>
<p class="c-gray"><b>Effect:</b> If successful, you withstand the Stress, Fear or Terror. If you fail, you suffer 1D10+1 Peril and 3 Conflict for Stress, suffer 2D10+2 Peril and 6 Conflict for Fear or suffer 3D10+3 Peril and 9 Conflict for Terror.</p>
<p class="c-gray"><b>Critical Success:</b> You provide emotional support for one other character of your choice, as they automatically succeed their Resolve Test. This works regardless of whether you rolled dice before or after the other character’s player.</p>
<p class="c-gray"><b>Critical Failure:</b> You also suffer from Despair.</p>
<p class="c-gray"><b>Other Considerations:</b> Some threats do not have to Withstand Stress, Fear and Terror. If a character reaches Incapacitated! due to it, they suffer from Despair.</p>
<div class="quote">
  <h3 class="ff-g c-gray mb-0">Broken Heart Syndrome</h3>
  <p class="c-gray">Characters can literally be scared to death when failing to Withstand Horror.</p>
  <p class="c-gray">If a character suffers from Stress, Fear or Terror while already Incapacitated!, the character is rendered Unconscious until they undergo successful Trepanation. Once they have undergone a failed Trepanation, the character gains either the Failing Heart or Planet-Struck Permanent Injury. If they already have one of these Permanent Injuries, then they gain the other. If they already have both of these Permanent Injuries, the character is Slain!, having been scared to death.</p>
</div>
<h2 class="ff-g mb-5">Despair</h2>
<p class="c-gray">While the effects of horror will follow a character throughout the story, how they respond will vary. Whenever a character Critically Fails a Resolve Test to Withstand Horror or reaches Incapacitated! due to it, they suffer the usual consequences and must select one of the following Despair responses. A Despair response stays in effect until the character escapes the source of horror.</p>
<h3 class="ff-g mb-5">Fawn</h3>
<p class="c-gray">Those who have this response will do all they can to please those around them, often forgoing their own needs for those of others. They will be overly helpful, deferring to others when it comes to making decisions.</p>
<p class="c-gray"><b>Effect:</b> Add two Assist Dice to allies you help until you dispatch of or escape the source of horror. However, you suffer 2D10+2 Peril and gain 3 Conflict every time you take advantage of this benefit.</p>
<h3 class="ff-g mb-5">Fight</h3>
<p class="c-gray">Those who have this response will attempt to control a situation with domination and power. They go for action rather than waiting and can be impulsive and domineering. They’re often critical, assertive and sometimes bullying.</p>
<p class="c-gray"><b>Effect:</b> Add an additional 1D6 Fury Die to Total Damage until you dispatch of or escape the source of horror. However, you suffer 2D10+2 Peril and gain 3 Conflict every time you take advantage of this benefit.</p>
<h3 class="ff-g mb-5">Freeze</h3>
<p class="c-gray">Those who have this response will be withdrawn and attempt to avoid people. They struggle to make decisions, preferring inaction and avoidance, which is often mistaken as laziness or boredom.</p>
<p class="c-gray"><b>Effect:</b> You can flip the results to succeed at all Defend Tests until you escape the source of horror. However, you suffer 2D10+2 Peril and gain 3 Conflict every time you take advantage of this benefit.</p>
<h2 class="ff-g mb-5">Hardened</h2>
<p class="c-gray">Whenever your character manages to live through a situation or successfully face down a threat that triggers Stress, Fear or Terror, you can make a choice for them to become Hardened to it. Record on your character sheet the threat or situation using a keyword that would quickly communicate what your character is now Hardened to. In exchange, mark one permanent Flaw Rank.</p>
<p class="c-gray">As a result, when the character is in a similar situation or facing similar threats in the future, they are able to ignore the effects of Stress, Fear and Terror that they would normally evoke.</p>
