<mat-card>
  <mat-card-title>
    <span class="ff-pp fs-18">{{src?.name}}</span>
  </mat-card-title>

  <mat-card-content>
    <p *ngIf="!!src?.description">
      <span class="fw-b mr-10">Description:</span>{{ src?.description }}
    </p>
    <table class="mat-table mb-10 w-100 ta-c">
      <thead>
        <tr class="mat-header-row">
          <th class="mat-header-cell" *ngIf="src?.parameters.hasOwnProperty('damage')">Damage</th>
          <th class="mat-header-cell" *ngIf="src?.parameters.hasOwnProperty('range')">Ranges</th>
          <th class="mat-header-cell" *ngIf="src?.parameters.hasOwnProperty('clips')">Clips</th>
          <th class="mat-header-cell" *ngIf="src?.parameters.hasOwnProperty('initiative')">Initiative</th>
          <th class="mat-header-cell" *ngIf="src?.parameters.hasOwnProperty('strength')">Strength</th>
          <th class="mat-header-cell" *ngIf="src?.parameters.hasOwnProperty('general')">Rating</th>
          <th class="mat-header-cell" *ngIf="src?.parameters.hasOwnProperty('defence')">Defence</th>
          <th class="mat-header-cell" *ngIf="src?.parameters.hasOwnProperty('speed')">Speed</th>
          <th class="mat-header-cell" *ngIf="src?.parameters.hasOwnProperty('bonus')">Dice Bonus</th>
          <th class="mat-header-cell" *ngIf="src?.parameters.hasOwnProperty('durability')">Durability</th>
          <th class="mat-header-cell" *ngIf="src?.parameters.hasOwnProperty('structure')">Structure</th>
          <th class="mat-header-cell" *ngIf="src?.parameters.hasOwnProperty('size')">Size</th>
          <th class="mat-header-cell" *ngIf="src?.parameters.hasOwnProperty('availability')">Availability</th>
          <th class="mat-header-cell" *ngIf="src?.parameters.hasOwnProperty('coverage')">Coverage</th>
        </tr>
      </thead>
      <tbody>
        <tr class="mat-row">
          <td class="mat-cell" *ngIf="src?.parameters.hasOwnProperty('damage')">{{ src?.parameters.damage }}</td>
          <td class="mat-cell" *ngIf="src?.parameters.hasOwnProperty('range')">{{ src?.parameters.range ? '' : 'x' }}{{ src?.parameters.short || '-' }}/{{ src?.parameters.range ? 'x' : '' }}{{ src?.parameters.medium || '-' }}/{{ src?.parameters.range ? 'x' : '' }}{{ src?.parameters.long || '-' }}</td>
          <td class="mat-cell" *ngIf="src?.parameters.hasOwnProperty('clips')">{{ src?.parameters.clips }}</td>
          <td class="mat-cell" *ngIf="src?.parameters.hasOwnProperty('initiative')">{{ src?.parameters.initiative }}</td>
          <td class="mat-cell" *ngIf="src?.parameters.hasOwnProperty('strength')">{{ src?.parameters.strength }}</td>
          <td class="mat-cell" *ngIf="src?.parameters.hasOwnProperty('general')">{{ src?.parameters.general }} / {{ src?.parameters.ballistic || 0 }}</td>
          <td class="mat-cell" *ngIf="src?.parameters.hasOwnProperty('defence')">{{ src?.parameters.defence }}</td>
          <td class="mat-cell" *ngIf="src?.parameters.hasOwnProperty('speed')">{{ src?.parameters.speed }}</td>
          <td class="mat-cell" *ngIf="src?.parameters.hasOwnProperty('bonus')">{{ src?.parameters.bonus || 0 }}</td>
          <td class="mat-cell" *ngIf="src?.parameters.hasOwnProperty('durability')">{{ src?.parameters.durability || '-' }}</td>
          <td class="mat-cell" *ngIf="src?.parameters.hasOwnProperty('structure')">{{ src?.parameters.structure || '-' }}</td>
          <td class="mat-cell" *ngIf="src?.parameters.hasOwnProperty('size')">{{ src?.parameters.size }}</td>
          <td class="mat-cell" *ngIf="src?.parameters.hasOwnProperty('availability')">{{ src?.parameters.availability }}</td>
          <td class="mat-cell tt-c" *ngIf="src?.parameters.hasOwnProperty('coverage')">{{ src?.parameters.coverage || [] | getById: 'coverage' | async | map: 'name' | join: ', ' }}</td>
        </tr>
      </tbody>
    </table>
    <p *ngIf="!!src?.parameters.qualities.length">
      <span class="fw-b mr-10">Special:</span>
      <span *ngFor="let i of src?.parameters.qualities || [] | getById: 'qualities' | async" class="mr-10">
      {{ i.name }}
    </span>
    </p>
    <p *ngIf="!!src?.parameters.effect">
      <span class="fw-b mr-10">Effect:</span>{{ src?.parameters.effect }}
    </p>
  </mat-card-content>

  <mat-card-actions *ngIf="mode === 'edit'">
    <button mat-stroked-button color="accent" (click)="edit.emit(src)">Edit</button>
    <button mat-stroked-button color="warn" class="ml-10" (click)="delete.emit(src)">Delete</button>
  </mat-card-actions>
</mat-card>
