<mat-accordion>
  <mat-expansion-panel *ngFor="let i of talents$ | async; trackBy: trackById;" hideToggle>
    <mat-expansion-panel-header>
      <mat-panel-title class="ff-g">{{i.name}}<span *ngIf="i.grouped">&nbsp;({{i.labels.placeholder}})</span></mat-panel-title>
    </mat-expansion-panel-header>
    <div>
      <p *ngIf="i.labels?.max" matLine><b>Max:</b> {{i.labels.max}}</p>
      <p *ngIf="i.labels?.tests" matLine><b>Tests:</b> {{i.labels.tests}}</p>
      <p matLine>{{i.labels?.description}}</p>
    </div>
  </mat-expansion-panel>
</mat-accordion>
