<mat-accordion>
  @for (i of talents$ | async; track trackById($index, i)) {
    <mat-expansion-panel hideToggle>
      <mat-expansion-panel-header>
        <mat-panel-title class="ff-g">{{i.name}}@if (i.grouped) {
          <span>&nbsp;({{i.labels.placeholder}})</span>
        }</mat-panel-title>
      </mat-expansion-panel-header>
      <div>
        @if (i.labels?.max) {
          <p matLine><b>Max:</b> {{i.labels.max}}</p>
        }
        @if (i.labels?.tests) {
          <p matLine><b>Tests:</b> {{i.labels.tests}}</p>
        }
        <p matLine>{{i.labels?.description}}</p>
      </div>
    </mat-expansion-panel>
  }
</mat-accordion>
