.specialization-chip {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
  padding-top: 0 !important;
  padding-bottom: 0 !important;
  min-height: 23px !important;
}

::ng-deep {
  .mat-chip-input.mat-input-element {
    min-width: 5px !important;
    flex: 1 0 !important;
  }
}
