<mat-accordion>
  <mat-expansion-panel *ngFor="let i of skills;" hideToggle>
    <mat-expansion-panel-header>
      <mat-panel-title class="ff-g">
        {{i.name}}
        <span class="c-cyan">{{i.type === 2 ? '*' : ''}}</span>
        <span class="ml-10 c-gray"> ({{(i.attribute | getById: 'attributes').name}})</span>
      </mat-panel-title>
    </mat-expansion-panel-header>
    <div>
      <p matLine class="c-gray"><i>{{i.labels.description}}</i></p>
    </div>
  </mat-expansion-panel>
</mat-accordion>
