<mat-accordion>
  <mat-expansion-panel *ngFor="let i of skills; trackBy: trackById;" hideToggle>
    <mat-expansion-panel-header>
      <mat-panel-title class="ff-g">
        {{i.name}}
        <span class="c-amber">{{i.type === SKILL_TYPE_SPECIAL ? '*' : ''}}</span>
        <span class="ml-10 c-gray"> ({{(i.attribute | getById: 'attributes').name}})</span>
      </mat-panel-title>
    </mat-expansion-panel-header>
    <div>
      <p matLine class="c-gray"><i>{{i.labels.description}}</i></p>
      <p matLine class="ws-pl">{{i.labels.difficulties}}</p>
    </div>
  </mat-expansion-panel>
</mat-accordion>
