<h2 class="ff-g mb-5">Step 1: Set The Scene</h2>
<p class="c-gray">As this is a narrative approach to structuring chases, neither a battle map nor figures are necessary to depict a chase. Characters, NPCs and creatures are always broken down between two types: either they are Pursuers or Escapees. As a Chase Scene begins, the Historian will highlight four major elements:</p>
<h3 class="ff-g mb-5">Location</h3>
<p class="c-gray">The Historian will narratively describe where the Chase Scene will play out. While this doesn’t necessarily have any game mechanic elements tied to it,it will be essential to frame each player’s perspective as to where their characters are, as this will inform their mindset as the Chase Scene begins.</p>
<h3 class="ff-g mb-5">Distances</h3>
<p class="c-gray">A Chase Scene doesn’t necessarily play out in local movement as it would for combat. Whenever you begin a Chase Scene, the Historian will tell you the Distance measurement unit that the Chase Scene will use narratively: yards, miles or leagues.</p>
<h3 class="ff-g mb-5">Escapee & Pursuers</h3>
<p class="c-gray">A character who is attempting to escape is the Escapee. A character chasing after them is called the Pursuer.</p>
<h3 class="ff-g mb-5">Rounds</h3>
<p class="c-gray">A Chase Scene uses Rounds. A Round reflects the time it takes for Escapees and Pursuers involved to complete their Turn. During a Round, assume every character will get a Turn unless there are extenuating circumstances. Unlike Combat Encounters, a Round is an indeterminate amount of time. Unlike combat, a Round can be equal to minutes, hours or days—the Historian will provide clarity in the Escape Condition.</p>
<h2 class="ff-g mb-5">Step 2: Establish Chase Scene Tracker</h2>
<p class="c-gray">The Escapee’s name is written at the top of the Chase Scene Tracker. It is similar to the Initiative Tracker, displayed out in the open for all to see. If there are multiple Escapees, they’ll be put in any order on the Chase Scene Tracker. The Historian will also put in each Pursuer’s name in any order. The Chase Scene Tracker can be found in the Amendments at the back of the book.</p>
<h2 class="ff-g mb-5">Step 3: Set Escape Condition</h2>
<p class="c-gray">The Historian will announce the Escape Condition: the distinct number of Rounds it will take before the Escapee completely eludes the Pursuer.</p>
<h3 class="ff-g mb-5">Short Chase — Three Rounds</h3>
<p class="c-gray">This is a good way to handle Chase Scenes for groups of five players or more at the game table. This allows every character to contribute while not extending the time to run a Chase Scene beyond fifteen minutes of real-world time.</p>
<h3 class="ff-g mb-5">Long Chase — Six Rounds</h3>
<p class="c-gray">This is ideal for a group of four players, introducing more opportunities for random elements to occur during the chase. This also mirrors the average length of combat between equally powerful opponents.</p>
<h3 class="ff-g mb-5">Extended chase — Nine Rounds</h3>
<p class="c-gray">This is ideal for when three or fewer players are involved. Extended Chases allow for multiple opportunities for smaller groups to make waves, despite their party’s size.</p>
<h2 class="ff-g mb-5">Step 4: Begin Pursuit</h2>
<p class="c-gray">It’s time to begin the chase! The players and Historian should narrate together what happens during a Chase Scene.</p>
<h3 class="ff-g mb-5">Head Start</h3>
<p class="c-gray">The Historian will determine whether an Escapee or Pursuer has a Head Start. If so, they’ll add +3 to their Movement, but only on the first Round.</p>
<h3 class="ff-g mb-5">Determine Escape Value</h3>
<p class="c-gray">At the beginning of each Round, the Escapee will take flight by generating an Escape Value. It represents the relative Distance they’re ahead of the Pursuer for that Round. Record the Escape Value beside the Escapee’s name.</p>
<p class="c-gray">Determine the Escape Value by adding the Escapee’s Head Start+Movement+1D10 Chase Die. Calculate all results together to determine total Escape Value, recording it on the Chase Scene Tracker.</p>
<p class="c-gray">Player characters who are Escapees determine individual Escape Values. However, NPCs will typically roll a single Escape Value if the player characters are Pursuers (unless the Historian rules otherwise).</p>
<h3 class="ff-g mb-5">Determine Pursuit Value</h3>
<p class="c-gray">After the Escape Value is set, the Pursuer will begin chasing after the Escapee by determining their Pursuit Value. Determine the Pursuit Value by adding their Head Start+Movement+1D10 Chase Die. Calculate all results together to determine total Pursuit Value, recording it on the Chase Scene Tracker.</p>
<p class="c-gray">Player characters who are Pursuers should always determine their Pursuit Value. However, NPCs will typically roll a single Pursuit Value if the player characters are Escapees (unless the Historian rules otherwise).</p>
<p class="c-gray">PURSUIT VALUE IS EQUAL TO OR BELOW ESCAPE VALUE: If Pursuit Value is below the Escape Value, the Pursuer doesn’t catch up to the Escapee.</p>
<p class="c-gray">PURSUIT VALUE EXCEEDS ESCAPE VALUE: Whenever Pursuit Value is equal to or exceeds the Escape Value, a Pursuer can attempt to Capture the Escapee.</p>
<h3 class="ff-g mb-5">Capture</h3>
<p class="c-gray"><i>I’ve got you now, you pox-stained cur!</i></p>
<p class="c-gray"><b>Capture:</b> Whenever Pursuit Value is equal to or exceeds the Escape Value, a Pursuer will make an Athletics or Coordination Test. Depending on what Round it is, the Difficulty Rating eases or worsens:</p>
<ul class="c-gray">
  <li>Round 1: (Trivial +30%) Skill Test</li>
  <li>Round 2: (Easy +20%) Skill Test</li>
  <li>Round 3: (Routine +10%) Skill Test</li>
  <li>Round 4: (Standard +/-0%) Skill Test</li>
  <li>Round 5: (Challenging -10%) Skill Test</li>
  <li>Round 6: (Hard -20%) Skill Test</li>
  <li>Round 7 and up: (Arduous -30%) Skill Test</li>
</ul>
<p class="c-gray"><b>Effect:</b> After successfully rolling, the Escapee will attempt to Resist using Athletics or Coordination. Depending on what Round it is, the Difficulty Rating eases or worsens (as demonstrated in the bullet points above).</p>
<p class="c-gray">If the Pursuer fails or the Escapee successfully Resists, the Escapee gains a Head Start in the next Round of the chase. If the Escapee fails to Resist, they are knocked Prone, suffer 2D10+2 Peril and are captured.</p>
<p class="c-gray"><b>Critical Success:</b> If a Pursuer Critically Succeeds,the Escapee is Incapacitated! and captured. If an Escapee Critically Succeeds, the Pursuer suffers 3D10+3 Peril.</p>
<p class="c-gray"><b>Critical Failure:</b> If a Pursuer Critically Fails,you can no longer participate in the Chase Scene due to narrative complications the Historian will create. If an Escapee Critically Fails, they are knocked Prone, Incapacitated! and captured.</p>
<p class="c-gray"><b>Other Considerations:</b> NONE</p>
<h3 class="ff-g mb-5">Attacking Escapees?</h3>
<p class="c-gray">Chase Scenes are focused on momentum. If a character wants to attack with a weapon at any point, it is better to switch from a Chase Scene into a Combat Encounter immediately.</p>
<h2 class="ff-g mb-5">Step 5: Catch Your Breath</h2>
<p class="c-gray">During a Chase Scene, characters on both sides will grow tired and run the risk of stumbling into trouble or worse.</p>
<h3 class="ff-g mb-5">Catch Your Breath</h3>
<p class="c-gray"><i>I’m... not... done... with... you... yet!</i></p>
<p class="c-gray"><b>Catch Your Breath:</b> If a Capture fails or the Pursuer fails to catch up, both Escapee and Pursuer must make a Toughness Test at the end of the Round. Depending on what Round it is, the Difficulty Rating eases or worsens:</p>
<ul class="c-gray">
  <li>Round 1: (Trivial +30%) Toughness</li>
  <li>Round 2: (Easy +20%) Toughness</li>
  <li>Round 3: (Routine +10%) Toughness</li>
  <li>Round 4: (Standard +/-0%) Toughness</li>
  <li>Round 5: (Challenging -10%) Toughness</li>
  <li>Round 6: (Hard -20%) Toughness</li>
  <li>Round 7 and up: (Arduous -30%) Toughness</li>
</ul>
<p class="c-gray"><b>Effect:</b> If Catch Your Breath succeeds, nothing happens. When Catch Your Breath fails, the character temporarily reduces their Movement by -1, until the Chase Scene ends.</p>
<p class="c-gray"><b>Critical Success:</b> You gain a Head Start at the beginning of your next Round.</p>
<p class="c-gray"><b>Critical Failure:</b> You temporarily reduce your Movement by -3 until the Chase Scene ends.</p>
<p class="c-gray"><b>Other Considerations:</b> NONE</p>
<h2 class="ff-g mb-5">Step 6: New Rounds</h2>
<p class="c-gray">Once a Capture fails or the Pursuer fails to catch up to the Escapee, start a new Round by beginning at the top of the Chase Scene Tracker in Step 4: Begin Pursuit. Do this for subsequent Rounds until one of the situations is met:</p>
<ul class="c-gray">
  <li>Escapee is Captured</li>
  <li>Escape Condition is met</li>
  <li>Escapee or all Pursuers give up</li>
</ul>
<h3 class="ff-g mb-5">Concluding A Chase Scene</h3>
<p class="c-gray">As a reward for the characters engaging in a Chase Scene, the Historian will remove any remaining Coins from the Historian Pool and place them into the Player Pool.</p>
