<h1 class="ff-g mb-5">Running Combat Encounters</h1>
<h2 class="ff-g mb-5">Step 1: Set The Scene</h2>
<p class="c-gray">As combat readies to unfold, the Historian will narratively explain what the battlefield is like. They will also disclose the position of foes who are not hidden. In addition, they will outline two important elements that are found in the battlefield. These elements should be recorded on the Initiative Tracker.</p>
<div class="quote">
  <h3 class="ff-g c-gray mb-0">Lighting</h3>
  <ul class="c-gray">
    <li><b>Perfect Light (no ambient penalties):</b> daytime, in a direct source of light</li>
    <li><b>Fleeting Shadows (must flip the results to fail vision-related Skill Tests; cannot give or gain the benefits of Assist Dice):</b> dawn, dusk or clear night skies</li>
    <li><b>Total Darkness (cannot be targeted unless Engaged; line of sight is broken):</b> blinding light, moonless night, pitch-black</li>
  </ul>
</div>
<div class="quote">
  <h3 class="ff-g c-gray mb-0">Obscurement</h3>
  <ul class="c-gray">
    <li><b>Light Obscurement (cannot use Extreme Distances):</b> mist, light rain or light snow</li>
    <li><b>Medium Obscurement (cannot use Extreme or Long Distances):</b> fog, heavy rain or heavy snow</li>
    <li><b>Heavy Obscurement (cannot use Extreme, Long or Medium Distances):</b> sleet, smoke or blizzard</li>
  </ul>
</div>
<p class="c-gray">If combatants are using light sources, you can determine the Distances their light gives in Article 5: Wares & Weapons.</p>
<h2 class="ff-g mb-5">Step 2: Refer To Initiative Tracker</h2>
<p class="c-gray">Following the Pre-Game Rituals from Article 6: Narrative Tools, players should have already rolled Initiative.</p>
<h3 class="ff-g mb-5">Historian Rolls Their Initiative</h3>
<p class="c-gray">The Historian will determine Initiative for threats, NPCs and other creatures they may be controlling. Historians should group similar enemies together when rolling Initiative unless they are special, a ‘named’ foe or are different types or classifications of threats. They’ll  roll 1D10+Initiative f rom their threat listing. One player who is not the Historian will then record combatants on the Initiative Tracker, highest to lowest.</p>
<p class="c-gray">Should two or more combatants generate the same Initiative result, the combatants can either decide who goes first or each roll 1D10, until one of them generates a higher value and is declared the winner.</p>
<h3 class="ff-g mb-5">Instigating Combat Outside The Tracker</h3>
<p class="c-gray">Sometimes a character will instigate combat on their own, falling outside the normal flow of Initiative. In these cases, simply have that combatant go first at the top of the Initiative Tracker and refer to their normal Initiative result on the next Round.</p>
<h3 class="ff-g mb-5">Secret Events</h3>
<p class="c-gray">The environment also plays a role in combat. Examples include a blazing fire, lightning strike or a keg of blackpowder exploding. The Historian will roll 2D10+2 to determine the event’s placement on the Initiative Tracker.</p>
<h2 class="ff-g mb-5">Step 3: First Round</h2>
<p class="c-gray">Whichever combatant has the highest Initiative value starts the first Round by taking their Turn. Once they declare the end of their Turn, the combatant with the next highest value takes a Turn and so o n, until all combatants have taken their Turn. Remember, when a combatant starts their Turn, they immediately ‘refresh’ 3 AP to spend on Actions In Combat.</p>
<h3 class="ff-g mb-5">Refreshing & Banking AP</h3>
<p class="c-gray">AP refreshes at the start of your Turn, not the beginning of the Round. This is important to remember when it comes to the Initiative Tracker, as defenders with lower Initiative values generally don’t have the AP to use Reactions that have an AP cost associated with them (unless they have banked AP from a previous Round or from a Talent, Trait or other ability).</p>
<p class="c-gray">Combatants are not required to spend all of their AP on their Turn and can hold on to them—banking AP—to perform Reactions outside of their Turn. A combatant cannot carry AP over into their next Turn. When a combatant’s new Turn begins, all of their banked AP are lost and it refreshes with the usual allotment of 3 AP (unless a condition stipulates otherwise).</p>
<h3 class="ff-g mb-5">Gaining Surprise</h3>
<p class="c-gray">Unlike Zweihander, there is not a Surprise Turn in Flames Of Freedom. Instead, when the Historian feels it’s appropriate, an attacker can gain the benefits of Surprise on their Turn, regardless of whether this is the first Round of combat or a later one. The benefits of Surprise rarely last more than one Turn.</p>
<div class="quote">
  <h3 class="ff-g c-gray mb-0">Benefits Of Surprise</h3>
  <p class="c-gray">Attackers who gain the benefits of Surprise treat their Actions In Combat as (Easy +20%) and add a 1D6 Fury Die to Total Damage. In addition, the combatant you hit with your next Attack Action or Rough & Tumble is Defenseless to it.</p>
</div>
<h2 class="ff-g mb-5">Step 4: New Rounds</h2>
<p class="c-gray">Once the first Round of combat ends, begin again at the top of the Initiative Tracker for the next Round. Do this for subsequent Rounds until the players and Historian both agree that combat should end. The players and Historian will then narrate together how it ends.</p>
<h3 class="ff-g mb-5">Concluding A Combat Encounter</h3>
<p class="c-gray">As a reward for the characters engaging in a combat encounter, the Historian will remove any remaining Coins from the Historian Pool and place them into the Player Pool.</p>
<div class="quote">
  <h3 class="ff-g c-gray mb-0">Combat Conditions</h3>
  <ul class="c-gray">
    <li><b>Bleeding:</b> You Bleed every minute at the beginning of your Turn. If you Bleed for a number of minutes in excess of your [BB], you are Slain!.</li>
    <li><b>Choked:</b> Cannot use any Action In Combat, unless you have successfully Resisted escaping using Athletics.</li>
    <li><b>Defenseless:</b> Cannot use any Reactions whatsoever.</li>
    <li><b>Disarmed:</b> Any weapon in your primary hand is knocked or thrown from your grasp and lands 3 yards away; cannot use primary hand or two- handed weapons until next Turn.</li>
    <li><b>Disoriented:</b> Must spend 1 additional AP for Reactions until the end of combat.</li>
    <li><b>Engaged:</b> Two or more combatants stand toe-to-toe, less than 1 yard away. If using miniatures and a map grid, Engaged is whenever combatants are standing in an adjacent square or hex.</li>
    <li><b>Gutted:</b> Must spend 1 additional AP for Movement Actions until the end of combat.</li>
    <li><b>Hastened:</b> Add +1 to Initiative and Movement until the end of combat.</li>
    <li><b>Hidden:</b> Your foe is surprised when you take your Turn.</li>
    <li><b>High Cover:</b> Add +9 to Damage Threshold against Damage from ranged weapons.</li>
    <li><b>Incapacitated!:</b> You cannot succeed at any Skill Tests.</li>
    <li><b>Inspired:</b> Add +1 to Damage Threshold & Peril Threshold until the end of combat.</li>
    <li><b>Intimidated:</b> Suffer -1 to Damage Threshold & Peril Threshold until the end of combat.</li>
    <li><b>Low Cover:</b> Add +3 to Damage Threshold against Damage from ranged weapons.</li>
    <li><b>Medium Cover:</b> Add +6 to Damage Threshold against Damage from ranged weapons.</li>
    <li><b>Prone:</b> You are on the ground and suffer an additional 1D6 Fury Die to Total Damage. The only Movement Actions you can use while Prone are Get Up, Hustle and Maneuver.</li>
    <li><b>Shaken:</b> Must spend 1 additional AP to Load a weapon until the end of combat.</li>
    <li><b>Strained:</b> Must spend 1 additional AP for Attack Actions until the end of combat.</li>
    <li><b>Surrounded:</b> When three or more foes stand Engaged with a single defender, they add 1D6 Fury Die to Total Damage. The Historian may make exceptions to this rule (such as facing foes which are significantly bigger than the attackers).</li>
    <li><b>Unconscious:</b> Asleep for 1 hour and can be Slain! with any attack.</li>
  </ul>
</div>
<h3 class="ff-g mb-5">Stacking Effects</h3>
<p class="c-gray">Keep in mind that using multiple Actions In Combat confer the same sort of bonuses, and conditions against a single foe do not stack. This means you could not take advantage of Charging multiple times to generate a handful of Fury Dice for Total Damage against one foe, and combatants can’t continuously Disorient a foe until they no longer have any AP. Always consider a condition or bonus but once.</p>
<p class="quote c-gray">Although Combat Conditions generally persist until the end of combat, your Historian may allow you to spend one Coin to ‘edit’ the situation to escape its effects.</p>
<h3 class="ff-g mb-5">Fury Dice</h3>
<p class="c-gray">You’ll see mention of a 1D6 Fury Die to generate Damage with melee and ranged weapons. Anytime a combatant rolls for Damage and it lands on face ‘6,’ the die ‘explodes,’ generating an additional 1D6 Fury Dice. There is no upper limit to the number of Fury Dice that can explode when calculating Damage. Tally the results from each 1D6 Fury Die together to determine Total Damage.</p>
<p class="c-gray">As a rule, Fury Dice are used with weapons only. Magick Spells don’t gain the benefits of exploding Fury Dice (unless the Spell’s entry indicates otherwise in Article 9: Hexenmeister’s Almanack). Where reference is made to D10, of any number, they never explode as Fury Dice do.</p>
<table class="mat-table w-100 mb-15">
  <tr class="mat-row">
    <th class="mat-header-cell ta-l">Movement Actions</th>
    <th class="mat-header-cell ta-l">AP Cost</th>
    <th class="mat-header-cell ta-l">Description</th>
  </tr>
  <tr class="mat-row">
    <td class="mat-cell">Charge</td>
    <td class="mat-cell">2 AP</td>
    <td class="mat-cell">Charge at 2x Movement and add 1D6 Fury Die to Damage from a melee weapon.</td>
  </tr>
  <tr class="mat-row">
    <td class="mat-cell">Get Up</td>
    <td class="mat-cell">2 AP</td>
    <td class="mat-cell">Stand up from Prone, mount a horse or embark in a vehicle.</td>
  </tr>
  <tr class="mat-row">
    <td class="mat-cell">Hustle</td>
    <td class="mat-cell">1 AP</td>
    <td class="mat-cell">Hustle at 1x Movement. Invokes Counterattack if moving out of an Engagement.</td>
  </tr>
  <tr class="mat-row">
    <td class="mat-cell">Maneuver</td>
    <td class="mat-cell">2 AP</td>
    <td class="mat-cell">Maneuver 3 yards out of an Engagement, avoiding all Counterattacks.</td>
  </tr>
  <tr class="mat-row">
    <td class="mat-cell">Run</td>
    <td class="mat-cell">3 AP</td>
    <td class="mat-cell">Run at 3x Movement, gain Low Cover. Invokes Counterattack if moving out of an Engagement.</td>
  </tr>
  <tr class="mat-row">
    <td class="mat-cell">Take Cover</td>
    <td class="mat-cell">1 AP</td>
    <td class="mat-cell">Gain +3, +6 or +9 Damage Threshold, depending on the cover type. Invokes Counterattack if moving out of an Engagement.</td>
  </tr>
</table>
<table class="mat-table w-100 mb-15">
  <tr class="mat-row">
    <th class="mat-header-cell ta-l">Attack Actions</th>
    <th class="mat-header-cell ta-l">AP Cost</th>
    <th class="mat-header-cell ta-l">Description</th>
  </tr>
  <tr class="mat-row">
    <td class="mat-cell">Cast Spell</td>
    <td class="mat-cell">Varies</td>
    <td class="mat-cell">Make an Incantation Test to use a Spell.</td>
  </tr>
  <tr class="mat-row">
    <td class="mat-cell">Fire Through Cover</td>
    <td class="mat-cell">Varies</td>
    <td class="mat-cell">Ignore Low Cover for 2 AP, Medium Cover for 3 AP or High Cover for 4 AP. Then make a Combat-based Test. The foe must Defend or suffer Damage.</td>
  </tr>
  <tr class="mat-row">
    <td class="mat-cell">Melee Attack</td>
    <td class="mat-cell">1 AP</td>
    <td class="mat-cell">Make a Combat-based Test. The foe must Defend or suffer Damage.</td>
  </tr>
  <tr class="mat-row">
    <td class="mat-cell">Ranged Attack</td>
    <td class="mat-cell">1 AP</td>
    <td class="mat-cell">Make a Combat-based Test. The foe must Defend or suffer Damage.</td>
  </tr>
  <tr class="mat-row">
    <td class="mat-cell">Targeted Attack</td>
    <td class="mat-cell">2 AP</td>
    <td class="mat-cell">Declare to hit either arm, body, head or leg. The foe must Defend, or suffer Damage and one of four Combat Conditions.</td>
  </tr>
</table>
<table class="mat-table w-100 mb-15">
  <tr class="mat-row">
    <th class="mat-header-cell ta-l">Rough & Tumble</th>
    <th class="mat-header-cell ta-l">AP Cost</th>
    <th class="mat-header-cell ta-l">Description</th>
  </tr>
  <tr class="mat-row">
    <td class="mat-cell">Below The Belt</td>
    <td class="mat-cell">1 AP</td>
    <td class="mat-cell">Make an Athletics or Guile Test. The foe must Resist Toughness or be Gutted. When Gutted, your foe must spend 1 additional AP for Movement Actions until the end of combat.</td>
  </tr>
  <tr class="mat-row">
    <td class="mat-cell">Chokehold</td>
    <td class="mat-cell">1 AP</td>
    <td class="mat-cell">Make an Athletics Test or Toughness Test. The foe must Resist Athletics or be Choked. Suffer 1D10+[BB] Peril immediately and on your Turns when maintained, until Resisted.</td>
  </tr>
  <tr class="mat-row">
    <td class="mat-cell">Eye Gouge</td>
    <td class="mat-cell">1 AP</td>
    <td class="mat-cell">Make a Guile or Intimidate Test. The foe must Resist Awareness or be Disoriented. While Disoriented, your foe must spend 1 additional AP for Reactions until the end of combat.</td>
  </tr>
  <tr class="mat-row">
    <td class="mat-cell">Knockdown</td>
    <td class="mat-cell">1 AP</td>
    <td class="mat-cell">Make an Athletics or Coordination Test. The foe must Resist Coordination or be knocked Prone. While Prone, a foe drops to the ground until they Get Up. If they are Defenseless, they are also Unconscious. While Unconscious, they are asleep for one hour and can be Slain! with any attack.</td>
  </tr>
</table>
<table class="mat-table w-100 mb-15">
  <tr class="mat-row">
    <th class="mat-header-cell ta-l">Special Actions</th>
    <th class="mat-header-cell ta-l">AP Cost</th>
    <th class="mat-header-cell ta-l">Description</th>
  </tr>
  <tr class="mat-row">
    <td class="mat-cell">First Aid</td>
    <td class="mat-cell">Varies</td>
    <td class="mat-cell">When Engaged with an ally, perform one of the following Healing Practices: Apply Tourniquet, Bind Wounds, Kiss of Life, Inject Quicksilver, Inject Tincture, Use Laudanum or Use Smelling Salts.</td>
  </tr>
  <tr class="mat-row">
    <td class="mat-cell">Load</td>
    <td class="mat-cell">Varies</td>
    <td class="mat-cell">Load a ranged weapon.</td>
  </tr>
  <tr class="mat-row">
    <td class="mat-cell">Quickload</td>
    <td class="mat-cell">0 AP</td>
    <td class="mat-cell">Load a ranged weapon, but can only take advantage of Short Distance and remain Defenseless until the beginning of your next Turn.</td>
  </tr>
  <tr class="mat-row">
    <td class="mat-cell">Take Aim</td>
    <td class="mat-cell">1 or 2 AP</td>
    <td class="mat-cell">Spend 1 AP to gain +10% Base Chance or spend 2 AP to gain +20% Base Chance to your next Attack Action or Rough & Tumble. Cannot Take Aim for Cast Spell.</td>
  </tr>
  <tr class="mat-row">
    <td class="mat-cell">Wait</td>
    <td class="mat-cell">0 AP</td>
    <td class="mat-cell">Wait until later to spend your APs.</td>
  </tr>
  <tr class="mat-row">
    <td class="mat-cell">Words As Weapons</td>
    <td class="mat-cell">1 AP</td>
    <td class="mat-cell">Declare to use either Hastened, Inspired or Intimidated; then make a relevant Skill Test. Combatants cannot Resist and gain one of three Combat Conditions until the end of combat.</td>
  </tr>
</table>
<table class="mat-table w-100 mb-15">
  <tr class="mat-row">
    <th class="mat-header-cell ta-l">Reactions</th>
    <th class="mat-header-cell ta-l">AP Cost</th>
    <th class="mat-header-cell ta-l">Description</th>
  </tr>
  <tr class="mat-row">
    <td class="mat-cell">Assist</td>
    <td class="mat-cell">Varies</td>
    <td class="mat-cell">You can attempt to Assist an ally’s Skill Test.</td>
  </tr>
  <tr class="mat-row">
    <td class="mat-cell">Counterattack</td>
    <td class="mat-cell">0 AP</td>
    <td class="mat-cell">Make a Combat-based Skill Test in specific situations, and one foe is Defenseless to this attack.</td>
  </tr>
  <tr class="mat-row">
    <td class="mat-cell">Defend</td>
    <td class="mat-cell">1 AP</td>
    <td class="mat-cell">Make a Combat-based or Coordination Test to avoid Damage from attacks.</td>
  </tr>
  <tr class="mat-row">
    <td class="mat-cell">Resist</td>
    <td class="mat-cell">0 AP</td>
    <td class="mat-cell">Resist the effects of Actions In Combat.</td>
  </tr>
  <tr class="mat-row">
    <td class="mat-cell">Risk Backlash</td>
    <td class="mat-cell">1 AP</td>
    <td class="mat-cell">Before or after a Difficulty Rating is called out, modify the Difficulty Rating by one, two or three positive steps, but suffer Conflict.</td>
  </tr>
</table>
<h2 class="ff-g mb-5">Movement Actions</h2>
<p class="c-gray">Actions In Combat for Movement Actions follow:</p>
<h3 class="ff-g mb-5">Charge (2 AP)</h3>
<p class="c-gray"><i>Tally-ho, let’s run them down!</i></p>
<p class="c-gray"><b>Effect:</b> Charge up to 2x your Movement. If you Charge at least 3 yards and successfully make a Melee Attack or Targeted Attack on the same Turn, add a 1D6 Fury Die to Total Damage.</p>
<p class="c-gray"><b>Other Considerations:</b> Charging provokes a Counterattack if you move away from being Engaged with foes.</p>
<div class="quote">
  <h3 class="ff-g c-gray mb-0">Jump & Leap</h3>
  <p class="c-gray">On the same Turn after Charging or Running, you may jump horizontally two yards for every 3 points of [BB] or leap vertically one yard for every 6 points of [BB].</p>
</div>
<h3 class="ff-g mb-5">Get Up (2 AP)</h3>
<p class="c-gray"><i>Once I get up off the ground, you’re in for a world of hurt!</i></p>
<p class="c-gray"><b>Effect:</b> Get Up from the ground Prone, mount a horse or embark into a vehicle. If you have at least one Skill Rank in Coordination, Get Up for 1 AP instead.</p>
<p class="c-gray"><b>Other Considerations:</b> Get Up does not provoke Counterattacks. You can Get Up while Prone.</p>
<h3 class="ff-g mb-5">Hustle (1 AP)</h3>
<p class="c-gray"><i>Pick up the pace—we’ve got them cornered!</i></p>
<p class="c-gray"><b>Effect:</b> Hustle up to 1x your Movement.</p>
<p class="c-gray"><b>Other Considerations:</b> Hustling provokes a Counterattack if you move away from being Engaged with foes. You can Hustle while Prone.</p>
<h3 class="ff-g mb-5">Maneuver (2 AP)</h3>
<p class="c-gray"><i>Ha, try again, you fiend—your weapon shall not find purchase here!</i></p>
<p class="c-gray"><b>Effect:</b> Maneuver 3 yards to get out of Engaged without provoking Counterattacks.</p>
<p class="c-gray"><b>Other Considerations:</b> You can Maneuver while Prone.</p>
<h3 class="ff-g mb-5">Run (3 AP)</h3>
<p class="c-gray"><i>Move, Move, MOVE!</i></p>
<p class="c-gray"><b>Effect:</b> Run up to 3x your Movement, and gain the benefits of Low Cover until the beginning of your next Turn.</p>
<p class="c-gray"><b>Other Considerations:</b> Running provokes a Counter-attack if you move away from being Engaged with foes.</p>
<div class="quote">
  <h3 class="ff-g c-gray mb-0">Cases Of See And Hear Clearly</h3>
  <p class="c-gray">While a Historian will impose Difficulty Ratings based on visibility conditions, Total Cover and Total Darkness both break line of sight, and combatants cannot be targeted by Actions In Combat, unless the Historian rules otherwise.</p>
</div>
<h3 class="ff-g mb-5">Take Cover (1 AP)</h3>
<p class="c-gray"><i>Stay in the shadows of the tree and look for our enemies!</i></p>
<p class="c-gray"><b>Effect:</b> Move up to 1 yard and Take Cover by crouching down behind a solid barrier, gaining the benefits of Low Cover, Medium Cover, High Cover or Total Cover until the beginning of your next Turn.</p>
<p class="c-gray"><b>Other Considerations:</b> If you make an Attack Action or Rough & Tumble after Taking Cover, you no longer gain its benefits (until you Take Cover once again). Taking Cover provokes a Counterattack if you move away from being Engaged with foes. Finally, Taking Cover never completely breaks the line of sight unless behind Total Cover.</p>
<div class="quote">
  <h3 class="ff-g c-gray mb-0">Being Hit While In Cover</h3>
  <p class="c-gray">Any time a defender is Taking Cover and an attacker successfully deals Damage to the defender, that specific cover no longer affords any benefit to the defender. They must Take Cover elsewhere.</p>
  <ul class="c-gray">
    <li>Low Cover: behind a cart, low stone wall or tree stump</li>
    <li>Medium Cover: behind a wagon, boulder or short tree</li>
    <li>High Cover: behind a pillar, tall tree or plinth of rock</li>
    <li>Total Cover: behind a building or totally hidden</li>
  </ul>
</div>
<h2 class="ff-g mb-5">Attack Actions</h2>
<p class="c-gray">Actions In Combat for Attack Actions follow:</p>
<h3 class="ff-g mb-5">Cast Spell (Varies)</h3>
<p class="c-gray"><i>You shall rue the day you crossed me, disbeliever!</i></p>
<p class="c-gray"><b>Effect:</b> When Engaged or at a Distance with a foe, select a Spell and make an Incantation Test. The AP cost is dictated by the Spell. Further details are covered by the Spell’s entry.</p>
<p class="c-gray"><b>Critical Success:</b> Positive benefits are covered in the Spell’s entry.</p>
<p class="c-gray"><b>Critical Failure:</b> Negative outcomes are covered in the Spell’s entry.</p>
<p class="c-gray"><b>Other Considerations:</b> A full reference for Spells is found in Article 9: Hexenmeister’s Almanack.</p>
<div class="quote">
  <h3 class="ff-g c-gray mb-0">Four Cardinal Rules For Casting Spells</h3>
  <ul class="c-gray">
    <li>You must be able to see.</li>
    <li>You must be able to speak.</li>
    <li>You must have one hand free.</li>
    <li>You must have all reagents handy.</li>
  </ul>
</div>
<h3 class="ff-g mb-5">Fire Through Cover (Varies)</h3>
<p class="c-gray"><i>I’ve got them in my sights — FIRE!</i></p>
<p class="c-gray"><b>Effect:</b> When at Distance from a foe, ignore the effects of Low Cover for 2 AP, Medium Cover for 3 AP or High Cover for 4 AP for your next Attack Action. Then, make a relevant Combat-based Skill Test. After successfully rolling (and the foe cannot or fails to Defend using Coordination), they suffer 1D6+[CB] Fury Die to Total Damage.</p>
<p class="c-gray"><b>Critical Success:</b> Your foe cannot Defend, and you add a 1D6 Fury Die to Total Damage.</p>
<p class="c-gray"><b>Critical Failure:</b> If an ally is nearby, you hit them instead. The ally cannot Defend, and you add a 1D6 Fury Die to Total Damage.</p>
<p class="c-gray"><b>Other Considerations:</b> You must be using a weapon with Blackpowder Quality unless you are using a weapon with the Pistol Quality.</p>
<div class="quote">
  <h3 class="ff-g c-gray mb-0">Sparing Human Enemies</h3>
  <p class="c-gray">Whenever you deal enough Damage to kill a combatant classified as Humanoid (including player cultures), the Historian will ask whether you wish to let them live or kill them. If you let them live, they are Grievously Wounded, Incapacitated! and Unconscious for an hour. If you kill them, you gain 3 Conflict as they are Slain!.</p>
</div>
<h3 class="ff-g mb-5">Melee Attack (1 AP)</h3>
<p class="c-gray"><i>Draw your blade, and we shall settle this now as our ancestors did!</i></p>
<p class="c-gray"><b>Effect:</b> When Engaged with a foe, make a relevant Combat-based Skill Test. After successfully rolling (and the foe cannot or fails to Defend using a relevant Combat-based Skill Test), they suffer 1D6+[CB] Fury Die to Total Damage.</p>
<p class="c-gray"><b>Critical Success:</b> Your foe cannot Defend, and you add a 1D6 Fury Die to Total Damage.</p>
<p class="c-gray"><b>Critical Failure:</b> You are Disarmed.</p>
<p class="c-gray"><b>Other Considerations:</b> If you are Engaged with foes, you cannot make a Melee Attack against another opponent unless you are using a weapon with a Distance of Engaged or 1 yard.</p>
<div class="quote">
  <h3 class="ff-g c-gray mb-0">Mounted Combat</h3>
  <p class="c-gray">You can attack while mounted using a Melee Attack, but with these changes:</p>
  <ul class="c-gray">
    <li>When Engaged with a foe, make a Ride Test to attack with your horse or a relevant Combat- based Skill Test if using a melee weapon.</li>
    <li>After successfully rolling (and the foe cannot or fails to Defend using Coordination), they suffer 1D6+[AB] Fury Die to Total Damage if attacking with your horse. If using your melee weapon, they suffer 1D6+[CB] Fury Die to Total Damage. If striking foes who are on foot or Prone, add a 1D6 Fury Die to Total Damage.</li>
    <li>If you Critically Succeed, reference the normal benefits.</li>
    <li>If you Critically Fail, you are thrown from the horse, suffer 1D10+1 Damage from falling and are knocked Prone.</li>
  </ul>
  <p class="c-gray">If riding and your horse begins to Bleed or suffers an Injury, make a Handle Animal Test. After successfully rolling, you keep control of your horse for the rest of the combat. If failed, the horse remains Prone until the end of combat. If Critically Failed, you are thrown from the horse, suffer 1D10+1 Damage from falling and are knocked Prone.</p>
</div>
<h3 class="ff-g mb-5">Ranged Attack (1 AP)</h3>
<p class="c-gray"><i>I am not throwing away my shot!</i></p>
<p class="c-gray"><b>Effect:</b> When at a Distance from a foe, make a relevant Combat-based Skill Test. After successfully rolling (and the foe cannot or fails to Defend using Coordination), they suffer 1D6+[CB] Fury Die to Total Damage.</p>
<p class="c-gray"><b>Critical Success:</b> Your foe cannot Defend, and you add a 1D6 Fury Die to Total Damage.</p>
<p class="c-gray"><b>Critical Failure:</b> If an ally is nearby, you hit them instead. The ally cannot Defend, and you add a 1D6 Fury Die to Total Damage.</p>
<p class="c-gray"><b>Other Considerations:</b> If you are Engaged with foes, you cannot make a Ranged Attack against another opponent unless you are using a weapon with the Pistol Quality.</p>
<div class="quote">
  <h3 class="ff-g c-gray mb-0">Misfires</h3>
  <p class="c-gray">Whenever you roll a Critical Failure with a weapon of the Blackpowder Quality, roll D100 to see what else occurs:</p>
  <ul class="c-gray">
    <li>1 to 40 - You must spend 3 AP to fix the firing mechanism before attacking with this weapon again.</li>
    <li>41 to 70 - The weapon is inoperable until you can clear the barrel after combat ends.</li>
    <li>71 to 90 - The weapon was primed with too much blackpowder and fires with a loud bang, knocking you Prone.</li>
    <li>91 to 100 - The weapon is destroyed, and you suffer 2D10+2 Damage from fire.</li>
  </ul>
</div>
<h3 class="ff-g mb-5">Targeted Attack (2 AP)</h3>
<p class="c-gray"><i>Aim small, miss small!</i></p>
<p class="c-gray"><b>Effect:</b> When Engaged or at Distance with a foe, declare that you want to hit the arm, body, head or leg of a foe, then make a relevant Combat-based Skill Test. After successfully rolling (and the foe cannot or fails to Defend using Coordination if avoiding a ranged weapon, or relevant Combat-based Skill Test if avoiding a melee weapon), they suffer 1D6+[CB] Fury Die to Total Damage, and suffer the following Combat Condition:</p>
<ul class="c-gray">
  <li>Arm: Disarmed</li>
  <li>Body: Gutted</li>
  <li>Head: Disoriented</li>
  <li>Leg: Prone</li>
</ul>
<p class="c-gray"><b>Critical Success:</b> Your foe cannot Defend, and you add a 1D6 Fury Die to Total Damage.</p>
<p class="c-gray"><b>Critical Failure:</b> Your weapon malfunctions until repaired outside of combat.</p>
<p class="c-gray"><b>Other Considerations:</b> You cannot make a Targeted Attack with a melee weapon when not Engaged with foes. You cannot make a Targeted Attack with a ranged weapon while Engaged with foes unless using a weapon with the Pistol Quality.</p>
<div class="quote">
  <h3 class="ff-g c-gray mb-0">Flying Foes</h3>
  <p class="c-gray">Unless you are at the same altitude as a foe in flight (e.g., being on its back/having climbed onto it), the foe cannot be targeted with melee weapons or Rough & Tumble.</p>
  <p class="c-gray">Any time that a flying foe is made to Bleed or suffers an Injury, they must immediately succeed a Toughness Test or be forced to the ground and knocked Prone, suffering falling Damage (as indicated in Article 8: Healing, Hazards & Horror). If you are on a flying foe and want to bring it down to the ground using your strength or riding skills, make an Opposed Test using Athletics or Ride, with the Target Number being 3x that of the flying threat’s [BB]. For instance, if a threat has a [BB] of 7, the Target Number to reach is 21 (7x3). The loser of the Opposed Test suffers falling Damage; the other remains unscathed.</p>
</div>
<div class="quote">
  <h3 class="ff-g c-gray mb-0">Helpless Foes</h3>
  <p class="c-gray">Any time a combatant is Unconscious, asleep, pinned beneath a heavy object, shackled or otherwise unable to escape on their own accord, they are Defenseless and can be automatically Slain! by any attack.</p>
</div>
<div class="quote">
  <h3 class="ff-g c-gray mb-0">Swapping Weapons</h3>
  <p class="c-gray">At the beginning of your Turn, you may either draw any weapon from your own body, pick up a weapon you dropped at your feet, swap weapons at your side or give a weapon to an ally for 0 AP. Swapping multiple weapons around requires the expenditure of 1 AP.</p>
</div>
<h2 class="ff-g mb-5">Rough & Tumble</h2>
<p class="c-gray">Actions In Combat for Rough & Tumble follow:</p>
<h3 class="ff-g mb-5">Below The Belt (1 AP)</h3>
<p class="c-gray"><i>Do not expect manners when it comes to a fight.</i></p>
<p class="c-gray"><b>Effect:</b> When Engaged with a foe, make an Athletics or Guile Test. After successfully rolling (and the foe cannot or fails to Resist using Toughness), they are Gutted. When Gutted, your foe must spend 1 additional AP for Movement Actions until the end of combat.</p>
<p class="c-gray"><b>Critical Success:</b> Your foe cannot Resist and is knocked Prone.</p>
<p class="c-gray"><b>Critical Failure:</b> You are Gutted.</p>
<p class="c-gray"><b>Other Considerations:</b> One hand must be free to use Below The Belt. A foe remains Gutted until they successfully Resist at the beginning of their Turn.</p>
<h3 class="ff-g mb-5">Chokehold (1 AP)</h3>
<p class="c-gray"><i>Say hello to Morpheus when you see the gates of horn and ivory!</i></p>
<p class="c-gray"><b>Effect:</b> When Engaged with a foe, make an Athletics or Toughness Test. After successfully rolling (and the foe cannot or fails to Resist using Athletics), they are Choked. While Choked, your foe immediately suffers 1D10+[BB] Peril and again at the start of each of your Turns if you maintain the Chokehold. It costs 3 AP to maintain a Chokehold, requiring no additional Skill Tests to maintain. If the foe drops to Incapacitated!, they are Unconscious. Your Choked foe cannot use any Actions In Combat, except to Resist your Chokehold.</p>
<p class="c-gray"><b>Critical Success:</b> Your foe cannot Resist your Chokehold (but can try while you maintain), and is Strained.</p>
<p class="c-gray"><b>Critical Failure:</b> You are Choked.</p>
<p class="c-gray"><b>Other Considerations:</b> Both hands must be free to use and maintain a Chokehold. You can only use Movement Actions, Special Actions and Reactions while maintaining a Chokehold. If your Damage or Peril Condition Track drops one or more steps negatively while maintaining a Chokehold, you immediately release your hold. You may release a Chokehold at any time.</p>
<h3 class="ff-g mb-5">Eye Gouge (1 AP)</h3>
<p class="c-gray"><i>We knew going in that striking the eyes was considered to be fighting fair!</i></p>
<p class="c-gray"><b>Effect:</b> When Engaged with a foe, make a Guile or Intimidate Test. After successfully rolling (and the foe cannot or fails to Resist using Awareness), they are Disoriented. While Disoriented, your foe must spend 1 additional AP for Reactions until the end of combat.</p>
<p class="c-gray"><b>Critical Success:</b> Your foe cannot Resist and suffers 2D10+2 Peril.</p>
<p class="c-gray"><b>Critical Failure:</b> You are Disoriented.</p>
<p class="c-gray"><b>Other Considerations:</b> One hand must be free to use an Eye Gouge.</p>
<h3 class="ff-g mb-5">Knockdown (1 AP)</h3>
<p class="c-gray"><i>Stay down for your own good!</i></p>
<p class="c-gray"><b>Effect:</b> When Engaged with a foe, make an Athletics or Coordination Test. After successfully rolling (and the foe cannot or fails to Resist using Coordination), they are knocked Prone. While Prone, a foe drops to the ground until they Get Up. If they are Defenseless, they are also Unconscious. While Unconscious, they are asleep for one hour and can be Slain! with any attack.</p>
<p class="c-gray"><b>Critical Success:</b> Your foe cannot Resist and must spend 3 AP to Get Up.</p>
<p class="c-gray"><b>Critical Failure:</b> You are knocked Prone.</p>
<p class="c-gray"><b>Other Considerations:</b> You must be standing to use a Knockdown.</p>
<div class="quote">
  <h3 class="ff-g c-gray mb-0">Weapons Which Trigger Rough & Tumble Actions</h3>
  <p class="c-gray">Some Talents, Traits and weapon Qualities allow you to trigger Rough & Tumble in unique ways— in these cases, foes must Resist its effect prior to accounting for Damage. If the foe Defends successfully, no Resist is required.</p>
</div>
<h2 class="ff-g mb-5">Special Actions</h2>
<p class="c-gray">Actions In Combat for Special Actions follow:</p>
<h3 class="ff-g mb-5">First Aid (Varies)</h3>
<p class="c-gray"><i>Hold still, damn it — we need to bind the bloody wound!</i></p>
<p class="c-gray"><b>Effect:</b> When Engaged with an ally, perform one of the following Healing Practices: Apply Tourniquet (3 AP), Bind Wounds (3 AP), Kiss of Life (3 AP), Inject Quicksilver (1 AP), Inject Tincture (1 AP), Use Laudanum (1 AP) or Use Smelling Salts (1 AP). Most of these practices are listed later in this article.</p>
<p class="c-gray"><b>Other Considerations:</b> Refer to the Healing Practice’s other considerations.</p>
<h3 class="ff-g mb-5">Load (Varies)</h3>
<p class="c-gray"><i>Prime, load, aim, then FIRE!</i></p>
<p class="c-gray"><b>Effect:</b> Spend a number of AP listed under a ranged weapon’s listing to Load.</p>
<p class="c-gray"><b>Other Considerations:</b> You may Load weapons over two or more Turns as needed. However, you cannot Load a weapon while Engaged with foes.</p>
<h3 class="ff-g mb-5">Quickload (0 AP)</h3>
<p class="c-gray"><i>Reload as if Old Scratch was nipping at your heels!</i></p>
<p class="c-gray"><b>Effect:</b> On your Turn, Quickload a ranged weapon for 0 AP.</p>
<p class="c-gray"><b>Other Considerations:</b> You can only take advantage of your weapon’s Short Distance and are Defenseless until the beginning of your next Turn.</p>
<h3 class="ff-g mb-5">Take Aim (1 or 2 AP)</h3>
<p class="c-gray"><i>If... they’d... only... hold... still... this wouldn’t be so damned hard!</i></p>
<p class="c-gray"><b>Effect:</b> Spend 1 AP to gain a +10% Base Chance to your next Attack Action or Rough & Tumble on this Turn. If you spend 2 APs, you gain a +20% Base Chance instead.</p>
<p class="c-gray"><b>Other Considerations:</b> You cannot Take Aim to Cast Spell.</p>
<h3 class="ff-g mb-5">Wait (0 AP)</h3>
<p class="c-gray"><i>Give me a moment; I want to watch the action unfold and wait for the opportune time!</i></p>
<p class="c-gray"><b>Effect:</b> You opt not to act, holding all APs in reserve to act later. You must act before your next Turn begins, as you cannot take two Turns back-to-back.</p>
<p class="c-gray"><b>Other Considerations:</b> You cannot use an Action In Combat, then elect to Wait on the same Turn. Your Initiative doesn’t change due to Waiting. Finally, you must spend one Coin to interrupt a foe’s Turn on the Initiative Tracker.</p>
<h3 class="ff-g mb-5">Words As Weapons (1 AP)</h3>
<p class="c-gray"><i>I should expect no less from an unlicked cub such as yourself!</i></p>
<p class="c-gray"><b>Effect:</b> When Engaged or at Distance with combatants, declare that you want to use Hastened, Inspired or Intimidated on combatants, then make a relevant Skill Test explained below. After successfully rolling, select a number of combatants equal to your [FB] to gain one of the following Combat Conditions until the end of combat:</p>
<ul class="c-gray">
  <li>Test Warfare for Hastened: Add +1 to Initiative and Movement.</li>
  <li>Test Leadership for Inspired: Add +1 to Damage Threshold & Peril Threshold.</li>
  <li>Test Intimidate for Intimidated: Suffer -1 to Damage Threshold & Peril Threshold.</li>
</ul>
<p class="c-gray"><b>Critical Success:</b> You inflict one of the Combat Conditions above to combatants, and bank 1 AP for free.</p>
<p class="c-gray"><b>Critical Failure:</b> You suffer one of the Combat Conditions of the Historian’s choice.</p>
<p class="c-gray"><b>Other Considerations:</b> Foes cannot Resist Words As Weapons. Both you and combatants must be able to clearly see and hear one another. Combatants can only be made subject to each Combat Condition once during combat. You cannot use Words As Weapons if you are under the effects of Stress, Fear or Terror.</p>
<div class="quote">
  <h3 class="ff-g c-gray mb-0">Hiding From Foes</h3>
  <p class="c-gray">Characters may want to try hiding in combat. Providing you’ve broken line of sight, spend 2 AP to attempt a Stealth Test to hide. Once Hidden, you gain the benefits of Surprise against a foe. After attacking afterward (regardless of success or failure), your position is revealed, as you are no longer Hidden. The exception to this is if you are using a weapon with the Silent Quality.</p>
</div>
<h2 class="ff-g mb-5">Reactions</h2>
<p class="c-gray">Actions In Combat for Reactions follow:</p>
<h3 class="ff-g mb-5">Assist (Varies)</h3>
<p class="c-gray"><i>I’ve got your back!</i></p>
<p class="c-gray"><b>Effect:</b> Whenever an ally is about to use an Action In Combat that requires a Skill Test, you help them succeed. The Historian takes into consideration the situation you and your ally are in, the Distance between you and the ally, and finally assigns the appropriate number of AP required for you to Assist.</p>
<p class="c-gray"><b>Other Considerations:</b> An Assist never requires a Skill Test from the Assisting character. You are otherwise bound to the same rules for Assisted Skill Tests in Article 1: Basics of Gameplay.</p>
<h3 class="ff-g mb-5">Counterattack (0 AP)</h3>
<p class="c-gray"><i>Only a gollumpus would think they could get the jump on me!</i></p>
<p class="c-gray"><b>Effect:</b> In specific situations and while Engaged, interrupt an Action In Combat by making a Melee Attack or Ranged Attack for 0 AP. A foe cannot Defend against a Counterattack.</p>
<p class="c-gray"><b>Critical Success:</b> As Attack Action Type</p>
<p class="c-gray"><b>Critical Failure:</b> As Attack Action Type</p>
<p class="c-gray"><b>Other Considerations:</b> You cannot make a Counterattack when left Defenseless, on the ground Prone, Taking Cover or while Concentrating on Spells. You can also make a Counterattack using ranged weapons with the Pistol Quality.</p>
<h3 class="ff-g mb-5">Defend (1 AP)</h3>
<p class="c-gray"><i>Whew, that was a close one!</i></p>
<p class="c-gray"><b>Effect:</b> If struck by a ranged weapon, but before Damage is determined, make a Coordination Test. If struck by a melee weapon, but before Damage is determined, make a relevant Combat-based Skill Test. After successfully Defending, avoid all Damage.</p>
<p class="c-gray"><b>Critical Success:</b> Bank 1 AP for free, and make a Counterattack against the foe.</p>
<p class="c-gray"><b>Critical Failure:</b> You suffer 2D10+2 Peril.</p>
<p class="c-gray"><b>Other Considerations:</b> You cannot Defend when Defenseless. Note that if you are not already armed with a weapon, you cannot draw one in order to Defend against an Attack Action.</p>
<h3 class="ff-g mb-5">Resist (0 AP)</h3>
<p class="c-gray"><i>Ugh, that one... stung a bit.</i></p>
<p class="c-gray"><b>Effect:</b> When you are the victim of Rough & Tumble, Spells or other Talents and Traits that require you to Resist a Combat Condition, Spell or Trait’s effects, make a relevant Skill Test, referring to the Skill indicated necessary to withstand it. After successfully Resisting, you shake off all their effects.</p>
<p class="c-gray"><b>Critical Success:</b> Bank 1 AP for free.</p>
<p class="c-gray"><b>Critical Failure:</b> You are Defenseless until the beginning of your next Turn.</p>
<p class="c-gray"><b>Other Considerations:</b> In cases where your Turn starts and you are currently suffering from multiple Combat Conditions, you can attempt to Resist as your Turn begins, rolling once for all effects. If successful, you recover from the negative effects. If unsuccessful, you may attempt to Resist again at the start of your next Turn. Regardless of success or failure, you then refresh AP (as indicated earlier in this article). You cannot Resist when left Defenseless.</p>
<h3 class="ff-g mb-5">Risk Backlash (1 AP)</h3>
<p class="c-gray"><i>Must... dig... deeper... aaargh!</i></p>
<p class="c-gray"><b>Effect:</b> Either before or after the Difficulty Rating is called out by the Historian, you may positively modify your Difficulty Rating using one of these three options:</p>
<ul class="c-gray">
  <li>Increase the Difficulty Rating by one positive step and gain 1 Conflict. Roll 1D6 Chaos Die after your Spell is cast to determine if you suffer 1D10+1 Peril.</li>
  <li>Increase the Difficulty Rating by two positive steps and gain 2 Conflict. Roll 2D6 Chaos Dice after your Spell is cast to determine if you suffer 2D10+2 Peril.</li>
  <li>Increase the Difficulty Rating by three positive steps and gain 3 Conflict. Roll 3D6 Chaos Dice after your Spell is cast to determine if you suffer 3D10+3 Peril.</li>
</ul>
<p class="c-gray"><b>Other Considerations:</b> You must have the proper Trait to Risk Backlash. You suffer Peril if any Chaos Dice land on face ‘6,’ regardless of whether Cast Spell was successful or not.</p>
<h1 class="ff-g mb-5">Guide to Attacking</h1>
<h2 class="ff-g mb-5">Step 1: Choose Weapon</h2>
<p class="c-gray">Whenever you wish to hit, decide what kind of weapon to use.</p>
<h3 class="ff-g mb-5">Melee Weapons While Engaged</h3>
<p class="c-gray">With a melee weapon, you make either a Simple Melee or Martial Melee Test, depending on the type of melee weapon your character is armed with. Generally, you must be Engaged, otherwise standing next to the foe, to hit. Fighting with hands, headbutts, feet, fist and knees are considered to be bare-handed weapons.</p>
<h3 class="ff-g mb-5">Ranged Weapons At Distance</h3>
<p class="c-gray">With a ranged weapon, you will make either a Simple Ranged or Martial Ranged Test, varying by the kind of weapon they’re wielding. Distance is generally measured by your character’s [PB], modified by the ranged weapon you’re using. It represents the number of yards you can accurately target a foe:</p>
<ul class="c-gray">
  <li><b>Short Distance</b> is the minimum range you can stand away from a defender without suffering an additional penalty to your attack. This means that there must be a bare minimum of 1 yard between you and the defender. While at Short Distance, you do not suffer any additional penalties to your Skill Test due to Distance, unless the Historian dictates otherwise.</li>
  <li><b>Medium Distance</b> is 2x Short Distance. This means you can stand even farther away from a defender to fire effectively. While at Medium Distance, the Difficulty Rating becomes worse by one step on the Difficulty Rating Chart, determined by the Historian.</li>
  <li><b>Long Distance</b> is 3x Short Distance. At this range, firing a ranged weapon and hitting a defender can be considerably difficult. While at Long Distance, the Difficulty Rating becomes worse by two steps on the Difficulty Rating Chart, determined by the Historian.</li>
  <li><b>Extreme Distance</b> is 4x Short Distance. While at Extreme Distance, the Difficulty Rating becomes worse by three steps on the Difficulty Rating Chart, determined by the Historian. At such ranges, a ranged weapon must subtract 1D6 Fury Die to Total Damage.</li>
  <li>Some ranged weapons possess the <b>Throwing Quality</b> and do not have Medium, Long or Extreme Distances.</li>
</ul>
<h2 class="ff-g mb-5">Step 2: Make The Attack</h2>
<p class="c-gray">Actions In Combat generally have a fixed Difficulty Rating of (Standard +/-0%). The Historian may reward you with more favorable Difficulty Ratings, based on how you describe the actions your character is taking.</p>
<h3 class="ff-g mb-5">Roll To Hit</h3>
<p class="c-gray">Once you know what weapon you’re using and the Total Chance, roll D100. Should the result meet the Total Chance for success or result below it, the attack hits. Should the result exceed the Total Chance for success, the attack misses.</p>
<p class="c-gray">Always announce your character’s Total Chance for success before rolling a D100. Conversely, the Historian likely won’t reveal the Total Chance for success for NPCs and threats, so as to keep players guessing about the foe’s true capabilities.</p>
<h2 class="ff-g mb-5">Step 3: Foe Defends</h2>
<p class="c-gray">Providing they are not Defenseless or Unconscious, a defender has two options:</p>
<h3 class="ff-g mb-5">Defend vs. Ranged Weapons</h3>
<p class="c-gray">A defender can attempt a Coordination Test to avoid ranged weapon Damage. The Test’s Difficulty Rating is based on the Difficulty Rating of your Attack Action and always translates into its opposite as a bonus or penalty. This means that if your Attack Action had a Difficulty Rating of (Routine +10%), the defender’s Difficulty Rating to Defend is (Challenging -10%). If successful, the defender avoids all Damage.</p>
<h3 class="ff-g mb-5">Defend vs. Melee Weapons</h3>
<p class="c-gray">A defender can attempt a Combat-based Test (referring to the weapon they’re wielding) to avoid melee weapon Damage. The Test’s Difficulty Rating is based on the Difficulty Rating of your Attack Action and always translates into its opposite as a bonus or penalty. This means that if your Attack Action had a Difficulty Rating of (Easy +20%), the defender’s Difficulty Rating to Defend is (Hard -20%). If successful, the defender avoids all Damage.</p>
<p class="c-gray">The size of a weapon and foe should be considered when Defending and will change the Difficulty Rating. For example, Defending against your knife while the defender is unarmed may be considerably more difficult. The Historian will make this call.</p>
<h2 class="ff-g mb-5">Step 4: Roll Damage</h2>
<p class="c-gray">After you successfully hit and the foe cannot or fails to Defend, you’ll roll Damage. Generally, this is 1D6+[CB] Fury Die for the weapon. Some Actions In Combat or other special situations, Talents or Traits may change the way Total Damage is calculated.</p>
<div class="quote">
  <h3 class="ff-g c-gray mb-0">Bigger Foes Deal More Damage</h3>
  <p class="c-gray">Your size will modify how many Fury Dice to roll when calculating Total Damage. All cultures (including player characters) reference Normal Size, as do the Actions In Combat in this chapter. Threat sizes are explained further in Article 14: Threats, but here’s the standard table to refer to in other cases:</p>
  <ul class="c-gray">
    <li>Small Size: No Fury Dice</li>
    <li>Normal Size: 1D6 Fury Die (already factored into Attack Actions)</li>
    <li>Large Size: 2D6 Fury Dice</li>
    <li>Huge Size: 3D6 Fury Dice</li>
  </ul>
</div>
<h3 class="ff-g mb-5">Consider Damage Threshold</h3>
<p class="c-gray">After you tally Total Damage, a defender must now compare it to their Damage Threshold:</p>
<h3 class="ff-g mb-5">Equal To Or Below Damage Threshold</h3>
<p class="c-gray">If Total Damage is equal to or below the Damage Threshold, nothing happens.</p>
<h3 class="ff-g mb-5">Exceeds Damage Threshold</h3>
<p class="c-gray">When Total Damage exceeds one or more Damage Thresholds, consider how many steps a defender moves down the Damage Condition Track negatively:</p>
<ul class="c-gray">
  <li>If Total Damage exceeds the base Damage Threshold, the defender moves one step down the Damage Condition Track negatively.</li>
  <li>If Total Damage exceeds 6+Damage Threshold, the defender moves two steps down the Damage Condition Track negatively.</li>
  <li>If Total Damage exceeds 12+Damage Threshold, the defender moves three steps down the Damage Condition Track negatively.</li>
</ul>
<h3 class="ff-g mb-5">Sudden Death</h3>
<p class="c-gray">If Total Damage suffered in one attack exceeds 18+ Damage Threshold (four steps or more), the defender is instantly Slain!</p>
<h2 class="ff-g mb-5">Step 5: Record Damage Condition</h2>
<p class="c-gray">Any time a defender suffers Damage that exceeds their Damage Threshold, the player or Historian must announce to the game table where they are on the Damage Condition Track: Unharmed, Hurt, Moderately Wounded, Seriously Wounded, Grievously Wounded or Slain!.</p>
<h2 class="ff-g mb-5">Step 6: Roll For Injury</h2>
<p class="c-gray">When a defender’s Damage Condition Track drops to Moderately Wounded, Seriously Wounded or Grievously Wounded, they are at risk of suffering an Injury. In some cases, particular Talents or Traits may make said Injuries more (or less) severe. However, combatants are never at risk of suffering Injuries if they move up the Damage Condition Track, only when they move down the Damage Condition Track:</p>
<ul class="c-gray">
  <li><b>Unharmed:</b> None</li>
  <li><b>Hurt:</b> None</li>
  <li><b>Moderately Wounded:</b> Roll 1D6 Chaos Die. If it lands on face ‘6,’ suffer a Moderate Injury.</li>
  <li><b>Seriously Wounded:</b> Roll 2D6 Chaos Dice. If any lands on face ‘6,’ suffer a Serious Injury.</li>
  <li><b>Grievously Wounded:</b> Roll 3D6 Chaos Dice. If any lands on face ‘6,’ suffer a Grievous Injury.</li>
  <li><b>Slain!:</b> Dead, but player characters can spend Determination to live.</li>
</ul>
<p class="c-gray">Injuries vary by three types: Moderate, Serious and Grievous Injuries. When determining an Injury, roll a D100, referring to the relevant table below. In addition, player characters gain 3 Conflict for Moderate Injuries, 6 Conflict for Serious Injuries and 9 Conflict for Grievous Injuries. Finally, combatants cannot heal their Damage & Peril Condition Tracks until Injuries are in Recuperation.</p>
<div class="quote">
  <h3 class="ff-g c-gray mb-0">Permanent Injuries</h3>
  <p class="c-gray">Grievous Injuries must undergo a successful Perform Surgery within twent-four hours of suffering it, or else a combatant gains its related Permanent Injury. Healing treatments and Permanent Injuries are covered in Article 8: Healing, Hazards & Horror.</p>
</div>
<h2 class="ff-g mb-5">Step 7: Sacrifice Determination</h2>
<p class="c-gray">A player character can sacrifice Determination permanently from their character sheet to avoid suffering an Injury, avoid being Slain! or becoming Incapacitated!. Another way Determination can be used would be to undo the effects of Spells. Players can also use it to save someone else from death or to instantly slay a foe when it feels appropriate to the story. As mentioned in Article 2: Creating Characters, the Historian will declare when your narrative control ends, and enact repercussions that feel tense and exciting for the story.</p>
<h2 class="ff-g mb-5">Step 8: Suffering Peril</h2>
<p class="c-gray">A combatant may suffer Peril from Rough & Tumble, or in other situations in and outside of combat. You will track Peril suffered on the Peril Condition Track.</p>
<h3 class="ff-g mb-5">Consider Peril Threshold</h3>
<p class="c-gray">When Peril is tallied, the defender must now compare it to their Peril Threshold:</p>
<h3 class="ff-g mb-5">Equal To Or Below Peril Threshold</h3>
<p class="c-gray">If Peril is equal to or below the Peril Threshold, nothing happens.</p>
<h3 class="ff-g mb-5">Exceeds Peril Threshold</h3>
<p class="c-gray">When Peril exceeds one or more Peril Thresholds, consider how many steps a defender moves down the Peril Condition Track negatively:</p>
<ul class="c-gray">
  <li>If Peril exceeds base Peril Threshold, the defender moves one step down the Peril Condition Track negatively.</li>
  <li>If Peril exceeds 6+Peril Threshold, the defender moves two steps down the Peril Condition Track negatively.</li>
  <li>If Peril exceeds 12+Peril Threshold, the defender moves three steps down the Peril Condition Track negatively.</li>
</ul>
<h3 class="ff-g mb-5">Sudden Incapacitation</h3>
<p class="c-gray">If Peril suffered in one instance exceeds 18+Peril Threshold (four steps or more), the combatant is instantly Incapacitated!.</p>
<p class="c-gray">When a defender’s Peril Condition Track drops, they are at risk of suffering penalties to their Skill Tests until healed:</p>
<ul class="c-gray">
  <li><b>Unhindered:</b> Not hurt.</li>
  <li><b>Imperiled:</b> No penalties, yet . . .</li>
  <li><b>Ignore 1 Skill Rank:</b> Ignore one Skill Rank.</li>
  <li><b>Ignore 2 Skill Ranks:</b> Ignore two Skill Ranks.</li>
  <li><b>Ignore 3 Skill Ranks:</b> Ignore three Skill Ranks.</li>
  <li><b>Incapacitated!:</b> You cannot succeed at any Skill Tests and suffer 6 Conflict.</li>
</ul>
