<h2 class="ff-g mb-5">Step 1: Determine Complexity</h2>
<p class="c-gray">Initially, the Historian will decide how simple or complex they want the interaction to be. There are two types of Social Interaction.</p>
<p class="c-gray"><b>Simplified Interaction:</b> These require one well-reasoned argument or one Skill Roll between a character and an NPC. The results determine success.</p>
<p class="c-gray">Examples include haggling over the price of something, bribing a minor official to ignore trespass, gathering rumors and so on. This is the most common form of Social Interaction you’ll use. Keeping most interactions simple like this is ideal.</p>
<p class="c-gray">If you are using a Simplified Interaction, move onto Step 2: Resolve Simplified Interaction.</p>
<p class="c-gray"><b>Complex Interaction:</b> These require continuous engagement, requiring one Skill Test between multiple characters and an NPC. However, the results do not necessarily determine success. Role- playing lies at the heart of Complex Interactions.</p>
<p class="c-gray">Examples include convincing a Loyalist to capitulate to demands they would typically find unreasonable or gain access to a formidable Loyalist fortification through Social Interaction. Complex Interactions generally require more than a simple verbal barb or a bit of flattery to convince another. Historians will use this kind of interaction when characters’ plans involve sowing seeds of discontent with a major NPC mover and shaker.</p>
<p class="c-gray">If you are using a Complex Interaction, skip Step 2 and move onto Step 3: Establish Social Intrigue Tracker.</p>
<h2 class="ff-g mb-5">Step 2: Resolve Simplified Interaction</h2>
<p class="c-gray">Simplified Interactions generally take no more than five minutes in the game world. The Historian will narrate what is happening and let the players decide how their characters react or respond.</p>
<h3 class="ff-g mb-5">No Risk? Don’t Roll</h3>
<p class="c-gray">If the Historian determines that how the player role-played their character is enough to convince the NPC without a Skill Test, the character succeeds in their endeavor. From there, the interaction plays out between the NPC and the player characters.</p>
<h3 class="ff-g mb-5">If There’s Risk, Make A Test</h3>
<p class="c-gray">If the Historian decides that what the player is asking on behalf of their character puts their character’s reputation, life or something else at risk, a Skill Test is required. If the Historian decides a Skill Test is required, they will then determine the NPC Disposition.</p>
<h3 class="ff-g mb-5">NPC Disposition</h3>
<p class="c-gray">When characters interact with a non-player character, the Historian determines how the NPC feels about a character, using one of the following seven NPC Dispositions as a starting point.</p>
<p class="c-gray"><b>Helpful:</b> NPCs will go out of their way to aid the characters, either out of admiration, duty or notoriety. They share an almost familial bond, willingly putting their fortunes at stake to ensure that the characters come out on top.</p>
<p class="c-gray"><b>Friendly:</b> NPCs share a bond of fealty with the characters, one that would be shared between those who have deep loyalties to the party. Although they still need to be persuaded, it would be quite common for the NPC to help the characters to the best of their ability.</p>
<p class="c-gray"><b>Polite:</b> NPCs view the characters favorably. While they would not go so far as to state that they’re friends, acquaintanceship may guarantee some sort of benefit. They won’t quickly put themselves at risk unless there is something to be gained from doing so.</p>
<p class="c-gray"><b>Indifferent:</b> NPCs have no particular feelings toward the characters, either for good or ill. They can be bargained with, but only if persuaded with favors or compensation. They will likely follow orders out of duty, but won’t put themselves into harm’s way.</p>
<p class="c-gray"><b>Impolite:</b> NPCs have a general disdain toward the characters. This mistrust may be in relation to the characters’ misdeeds or general outlook of the NPC they’re interacting with. They certainly won’t entertain an alliance and are difficult to convince otherwise.</p>
<p class="c-gray"><b>Unfriendly:</b> NPCs do not like the characters. Their reasoning is grounded in their own misgivings, or maybe due to their own personal hang-ups. Unfriendly people can rarely be convinced to work in the characters’ favor and entertain conspiracies to take them down.</p>
<p class="c-gray"><b>Antagonistic:</b> NPCs intend malicious harm to the characters. They actively participate in efforts to bring them down or destroy their reputations. It would take the movement of mountains for them to cede to the characters’ demands.</p>
<h3 class="ff-g mb-5">Interact Check</h3>
<p class="c-gray"><i>I feel you should reconsider your position, friend...</i></p>
<p class="c-gray"><b>Interact Check:</b> Whenever you are interacting with an NPC, make a relevant Skill Test. Depending on their NPC Disposition, the Difficulty Rating eases or worsens:</p>
<ul class="c-gray">
  <li>Helpful: (Trivial +30%) Skill Test</li>
  <li>Friendly: (Easy +20%) Skill Test</li>
  <li>Polite: (Routine +10%) Skill Test</li>
  <li>Indifferent: (Standard +/-0%) Skill Test</li>
  <li>Impolite: (Challenging -10%) Skill Test</li>
  <li>Unfriendly: (Hard -20%) Skill Test</li>
  <li>Antagonistic: (Arduous -30%) Skill Test</li>
</ul>
<p class="c-gray"><b>Effect:</b> If successful, the NPC will capitulate to your demands, providing that does not put them into harm’s way. If failed, nothing happens. The Historian will be the ultimate judge of how the NPC reacts.</p>
<p class="c-gray"><b>Critical Success:</b> You also change the NPC’s Disposition toward you one step positively when you Interact with them now and in the future. As an example, this means if the NPC was previously Indifferent, they are now Polite.</p>
<p class="c-gray"><b>Critical Failure:</b> You also change the NPC’s Disposition toward you one step negatively when you Interact with them now and in the future. As an example, this means if the NPC was previously Indifferent, they are now Impolite.</p>
<p class="c-gray"><b>Other Considerations:</b> Whenever you Interact, the Historian will determine which Skill you need to Test.</p>
<h2 class="ff-g mb-5">Step 3: Establish Social Intrigue Tracker</h2>
<p class="c-gray">At this point, the Historian has determined that a Complex Interaction is needed rather than a Simplified Interaction. The players will discuss objectives out of character to discuss three things that will affect a Complex Interaction.</p>
<h3 class="ff-g mb-5">Who Will Participate?</h3>
<p class="c-gray">The players must decide which characters will participate in Social Interaction. The more players who participate, the better chance they have of producing a desirable result, based on the results of their dice rolls. It’s also important to remember that players don’t have to be the best role-players to participate in Social Interaction. Both first- and third-person role-playing are perfectly valid ways to engage in a tense session of Social Interaction.</p>
<p class="c-gray">The Historian will place the character’s names at the top of the Social Intrigue Tracker. It is secretly maintained by the Historian.</p>
<h3 class="ff-g mb-5">What Is To Be Gained?</h3>
<p class="c-gray">All players—no matter whether their characters intend to participate in Social Interaction—will discuss the broad strokes of their objectives. Likely, there will be several agendas in play. For instance, one player may wish to ferret out secrets from the person their characters are interacting with, whereas another may want to establish a firmer relationship or patronage.</p>
<p class="c-gray">These objectives do not have to be shared in character between the players, but everyone should be made aware of what the other players are after. Some players may wish to hide their character’s agenda from the others, but this should only be for role-playing purposes and because it fits their character’s Beliefs & Flaw, rather than out of a desire to derail the game. They may also choose a person on point to lead the discussion, while the other characters wait in the wings.</p>
<p class="c-gray">Once the players have agreed upon their objectives, it will give them a solid theme to adhere to during Social Interaction.</p>
<h3 class="ff-g mb-5">What Is At Stake?</h3>
<p class="c-gray">When characters enter into a Social Interaction, they always have something at stake, whether it be esteem, Allegiance or even their lives. Players should announce and agree upon what will be at stake when entering Social Interaction. The Historian and players should keep these stakes in mind for later when it’s time to role- play, as potential pressure points during negotiations. As before, discussing stakes should be done out of character.</p>
<h2 class="ff-g mb-5">Step 4: Select Social Tactic</h2>
<p class="c-gray">Social Interaction requires honeyed words, deals struck, pledges given, lines drawn and veiled threats of violence to force NPCs to acquiesce to demands they’d not normally say yes to.</p>
<p class="c-gray">Before role-playing commences in a Complex Interaction, each player will select a Social Tactic. This tactic should be related to what the characters are trying to achieve (as What Is To Be Gained?). Using a Skill Test, it will generate Attitudes the Historian will refer to whenever they role-play with the characters as the NPC. Only the following Skills can be selected by players for a Social Tactic:</p>
<ul class="c-gray">
  <li>Bargain (Fellowship)</li>
  <li>Charm (Fellowship)</li>
  <li>Guile (Fellowship)</li>
  <li>Interrogation (Willpower)</li>
  <li>Intimidate (Brawn)</li>
  <li>Leadership (Fellowship)</li>
  <li>Rumor (Fellowship)</li>
</ul>
<p class="c-gray">Once each player has selected their Social Tactic, the Historian will write it down beside the character’s name on the Social Intrigue Tracker. They’ll secretly refer to this later during the interaction.</p>
<h2 class="ff-g mb-5">Step 5: NPC Disposition & Allegiance</h2>
<p class="c-gray">As detailed in Step 2: Resolve Simplified Interaction, the Historian will secretly record the NPC’s Disposition.</p>
<ul class="c-gray">
  <li>Helpful</li>
  <li>Friendly</li>
  <li>Polite</li>
  <li>Indifferent</li>
  <li>Impolite</li>
  <li>Unfriendly</li>
  <li>Antagonistic</li>
</ul>
<h3 class="ff-g mb-5">NPC Allegiance</h3>
<p class="c-gray">Unlike during a Simplified Interaction, however, an NPC’s Disposition alone does not determine the Difficulty Rating. Allegiance is worn (often literally among soldiers) on its people’s sleeve, be they Loyalist, a Rebel or one of the Secret Societies the Historian may bring into the story. Certain mannerisms, political leanings and ways of talking are all a part of one’s Allegiance, and difficult to hide.</p>
<p class="c-gray">In a Complex Interaction, Allegiances are foremost in the minds of NPCs. They will tend to side with and understand those with whom they share an Allegiance. Characters may attempt to masquerade as other Allegiances if they have reason to, but such decisions are likely already made before entering a Social Interaction.</p>
<p class="c-gray">The Historian will secretly record the Allegiance of the NPC on the Social Intrigue Tracker.</p>
<h2 class="ff-g mb-5">Step 6: Make Social Tactics Check</h2>
<p class="c-gray">Taking into consideration all steps as laid out above, players are now ready to make a Social Tactics Check. Attitudes are drawn out by Social Tactics, revealing an NPC’s nature and how they generally react. They are like personality traits but are more interchangeable, depending on how players approach the NPC during Social Interaction. The results will generate a set of Attitudes the Historian will refer to whenever it’s time to role-play the interaction.</p>
<h3 class="ff-g mb-5">Social Tactics Check</h3>
<p class="c-gray"><i>Here’s how it’s going to play out . . .</i></p>
<p class="c-gray"><b>Social Tactics Check:</b> Whenever in a Complex Interaction, make a relevant Skill Test. Depending on their Disposition and Allegiance with the character, the Difficulty Rating eases or worsens.</p>
<p class="c-gray">NPC Has Same Allegiance</p>
<ul class="c-gray">
  <li>Helpful: (Trivial +30%) Skill Test</li>
  <li>Friendly: (Trivial +30%) Skill Test</li>
  <li>Polite: (Easy +20%) Skill Test</li>
  <li>Indifferent: (Easy +20%) Skill Test</li>
  <li>Impolite: (Routine +10%) Skill Test</li>
  <li>Unfriendly: (Standard +/-0%) Skill Test</li>
  <li>Antagonistic: (Challenging -10%) Skill Test</li>
</ul>
<p class="c-gray">NPC Has Different Allegiance</p>
<ul class="c-gray">
  <li>Helpful: (Routine +10%) Skill Test</li>
  <li>Friendly: (Standard +/-0%) Skill Test</li>
  <li>Polite: (Challenging -10%) Skill Test</li>
  <li>Indifferent: (Hard -20%) Skill Test</li>
  <li>Impolite: (Hard -20%) Skill Test</li>
  <li>Unfriendly: (Arduous -30%) Skill Test</li>
  <li>Antagonistic: (Arduous -30%) Skill Test</li>
</ul>
<p class="c-gray"><b>Effect:</b> Regardless of success or failure, the Historian will secretly record the NPC’s attitudes.</p>
<p class="c-gray"><b>Critical Success:</b> The Historian will secretly record the Attitude as if the NPC was of the Helpful Disposition and move 1 Coin from the Historian Pool into the Player Pool.</p>
<p class="c-gray"><b>Critical Failure:</b> The Historian will secretly record the Attitude as if the NPC was of the Antagonistic Disposition and characters suffer 2D20+2 Peril.</p>
<p class="c-gray"><b>Other Considerations:</b> NONE</p>
<h2 class="ff-g mb-5">Step 7: Determine NPC Attitudes</h2>
<p class="c-gray">As each Skill Test is resolved, the Historian will compare the results to the Attitudes table below and write them down on the Social Intrigue Tracker. Attitudes have many different applications, but will primarily fuel how the Historian will role-play the NPC the characters are interacting with.</p>
<p class="c-gray">Successful NPC Attitudes</p>
<table class="mat-table w-100 mb-15">
  <tr class="mat-row">
    <th class="mat-header-cell ta-l">Skill</th>
    <th class="mat-header-cell ta-l">Helpful</th>
    <th class="mat-header-cell ta-l">Friendly</th>
    <th class="mat-header-cell ta-l">Polite</th>
    <th class="mat-header-cell ta-l">Indifferent</th>
    <th class="mat-header-cell ta-l">Impolite</th>
    <th class="mat-header-cell ta-l">Unfriendly</th>
    <th class="mat-header-cell ta-l">Antagonistic</th>
  </tr>
  <tr class="mat-row">
    <td class="mat-cell"><b>Bargain</b></td>
    <td class="mat-cell">Charitable</td>
    <td class="mat-cell">Gracious</td>
    <td class="mat-cell">Willing</td>
    <td class="mat-cell">Generous</td>
    <td class="mat-cell">Considerate</td>
    <td class="mat-cell">Flexible</td>
    <td class="mat-cell">Civil</td>
  </tr>
  <tr class="mat-row">
    <td class="mat-cell"><b>Charm</b></td>
    <td class="mat-cell">Loving</td>
    <td class="mat-cell">Affectionate</td>
    <td class="mat-cell">Supportive</td>
    <td class="mat-cell">Helpful</td>
    <td class="mat-cell">Favorable</td>
    <td class="mat-cell">Sympathetic</td>
    <td class="mat-cell">Cordial</td>
  </tr>
  <tr class="mat-row">
    <td class="mat-cell"><b>Guile</b></td>
    <td class="mat-cell">Gullible</td>
    <td class="mat-cell">Impressionable</td>
    <td class="mat-cell">Trusting</td>
    <td class="mat-cell">Positive</td>
    <td class="mat-cell">Assured</td>
    <td class="mat-cell">Motivated</td>
    <td class="mat-cell">Hopeful</td>
  </tr>
  <tr class="mat-row">
    <td class="mat-cell"><b>Interrogation</b></td>
    <td class="mat-cell">Broken</td>
    <td class="mat-cell">Subdued</td>
    <td class="mat-cell">Demoralized</td>
    <td class="mat-cell">Worried</td>
    <td class="mat-cell">Disheartened</td>
    <td class="mat-cell">Nervous</td>
    <td class="mat-cell">Judgmental</td>
  </tr>
  <tr class="mat-row">
    <td class="mat-cell"><b>Intimidate</b></td>
    <td class="mat-cell">Tormented</td>
    <td class="mat-cell">Demoralized</td>
    <td class="mat-cell">Shocked</td>
    <td class="mat-cell">Menaced</td>
    <td class="mat-cell">Alarmed</td>
    <td class="mat-cell">Startled</td>
    <td class="mat-cell">Unnerved</td>
  </tr>
  <tr class="mat-row">
    <td class="mat-cell"><b>Leadership</b></td>
    <td class="mat-cell">Ardent</td>
    <td class="mat-cell">Impassioned</td>
    <td class="mat-cell">Loyal</td>
    <td class="mat-cell">Cooperative</td>
    <td class="mat-cell">Agreeable</td>
    <td class="mat-cell">Pensive</td>
    <td class="mat-cell">Contemplative</td>
  </tr>
  <tr class="mat-row">
    <td class="mat-cell"><b>Rumor</b></td>
    <td class="mat-cell">Gossipy</td>
    <td class="mat-cell">Trusting</td>
    <td class="mat-cell">Confiding</td>
    <td class="mat-cell">Familiar</td>
    <td class="mat-cell">Conciliatory</td>
    <td class="mat-cell">Genial</td>
    <td class="mat-cell">Idle</td>
  </tr>
</table>
<p class="c-gray">Failed NPC Attitudes</p>
<table class="mat-table w-100 mb-15">
  <tr class="mat-row">
    <th class="mat-header-cell ta-l">Skill</th>
    <th class="mat-header-cell ta-l">Helpful</th>
    <th class="mat-header-cell ta-l">Friendly</th>
    <th class="mat-header-cell ta-l">Polite</th>
    <th class="mat-header-cell ta-l">Indifferent</th>
    <th class="mat-header-cell ta-l">Impolite</th>
    <th class="mat-header-cell ta-l">Unfriendly</th>
    <th class="mat-header-cell ta-l">Antagonistic</th>
  </tr>
  <tr class="mat-row">
    <td class="mat-cell"><b>Bargain</b></td>
    <td class="mat-cell">Uncharitable</td>
    <td class="mat-cell">Ungracious</td>
    <td class="mat-cell">Unwilling</td>
    <td class="mat-cell">Selfish</td>
    <td class="mat-cell">Inconsiderate</td>
    <td class="mat-cell">Inflexible</td>
    <td class="mat-cell">Rude</td>
  </tr>
  <tr class="mat-row">
    <td class="mat-cell"><b>Charm</b></td>
    <td class="mat-cell">Offended</td>
    <td class="mat-cell">Unfeeling</td>
    <td class="mat-cell">Discouraging</td>
    <td class="mat-cell">Unhelpful</td>
    <td class="mat-cell">Unfavorable</td>
    <td class="mat-cell">Unfeeling</td>
    <td class="mat-cell">Disgusted</td>
  </tr>
  <tr class="mat-row">
    <td class="mat-cell"><b>Guile</b></td>
    <td class="mat-cell">Cynical</td>
    <td class="mat-cell">Skeptical</td>
    <td class="mat-cell">Untrusting</td>
    <td class="mat-cell">Negative</td>
    <td class="mat-cell">Uncertain</td>
    <td class="mat-cell">Unmoved</td>
    <td class="mat-cell">Doubtful</td>
  </tr>
  <tr class="mat-row">
    <td class="mat-cell"><b>Interrogation</b></td>
    <td class="mat-cell">Annoyed</td>
    <td class="mat-cell">Stoic</td>
    <td class="mat-cell">Pensive</td>
    <td class="mat-cell">Unconcerned</td>
    <td class="mat-cell">Unmotivated</td>
    <td class="mat-cell">Flustered</td>
    <td class="mat-cell">Angry</td>
  </tr>
  <tr class="mat-row">
    <td class="mat-cell"><b>Intimidate</b></td>
    <td class="mat-cell">Distressed</td>
    <td class="mat-cell">Irritated</td>
    <td class="mat-cell">Frustrated</td>
    <td class="mat-cell">Inflamed</td>
    <td class="mat-cell">Infuriated</td>
    <td class="mat-cell">Vexed</td>
    <td class="mat-cell">Enraged</td>
  </tr>
  <tr class="mat-row">
    <td class="mat-cell"><b>Leadership</b></td>
    <td class="mat-cell">Disappointed</td>
    <td class="mat-cell">Half-Hearted</td>
    <td class="mat-cell">Disloyal</td>
    <td class="mat-cell">Uncooperative</td>
    <td class="mat-cell">Disagreeable</td>
    <td class="mat-cell">Defiant</td>
    <td class="mat-cell">Mutinous</td>
  </tr>
  <tr class="mat-row">
    <td class="mat-cell"><b>Rumor</b></td>
    <td class="mat-cell">Withdrawn</td>
    <td class="mat-cell">Distrustful</td>
    <td class="mat-cell">Cautious</td>
    <td class="mat-cell">Dubious</td>
    <td class="mat-cell">Mistrustful</td>
    <td class="mat-cell">Upset</td>
    <td class="mat-cell">Suspicious</td>
  </tr>
</table>
<h2 class="ff-g mb-5">Step 8: Role-Play Interaction</h2>
<p class="c-gray">Unlike a Simplified Interaction, failure and success don’t necessarily mean that the characters are going to get what they want. Once the Historian has written down the Attitudes, the role-playing portion of Social Interaction commences. This is entirely free-form, but the Historian will consider the Attitudes to drive how the NPC interacts with the player characters. Even if the Social Tactics check was successful, the role-playing will likely turn into conniving, debate and negotiation against one another. We’ve provided some tips to consider.</p>
<h3 class="ff-g mb-5">Understanding NPC Motivations</h3>
<p class="c-gray">There are times when players will be suspicious of NPCs. For instance, perhaps they smell deception, in that someone is masquerading as the person they were supposed to meet. An Awareness Test may determine that the military garb that the person wears is put on incorrectly or the medals are displayed in the wrong order. An Eavesdrop Test may give a notion of a conversation this same false count is having behind a whispered hand with a confidante. Similarly, a Scrutinize Test may help players understand that the imposter’s demeanor is nervous, betraying their ruse.</p>
<p class="c-gray">When players want to understand these things, the Historian should have them make these related Skill Tests during the Complex Interaction as a Secret Test, referring to the same Difficulty Rating chart they’d used for Social Tactics Check. As stated in Article 1: Basics of Gameplay, the Historian won’t reveal the Difficulty Rating, success or failure of a Secret Test unless it is a Critical Success or Critical Failure. One of the many tools a Historian can use is to obfuscate the truth through narration, leaving players to wonder whether what their Characters are experiencing — seeing and hearing — is real or not.</p>
<h2 class="ff-g mb-5">Step 9: Resolution</h2>
<p class="c-gray">As the Complex Interaction plays out, there will come a time when the role-playing must end: when all objectives have been stated, risks addressed and points of negotiation finalized. This is the moment where the Historian will wrap up the Complex Interaction and determine the outcome.</p>
<h3 class="ff-g mb-5">Concluding A Social Interaction</h3>
<p class="c-gray">As a reward for the characters engaging in a Complex Interaction, the Historian will remove any remaining Coins from the Historian Pool and place them into the Player Pool.</p>
