<h1 mat-dialog-title>Add Setting</h1>
<div mat-dialog-content>
  <form [formGroup]="form" class="d-f fd-c">
    <mat-form-field appearance="outline">
      <mat-label>Name</mat-label>
      <input matInput formControlName="name">
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Description</mat-label>
      <textarea matInput formControlName="description"></textarea>
    </mat-form-field>
    <mat-accordion>
      <!-- ALCHEMICAL ARTS -->
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title class="ff-g f-0">
            Alchemical Arts
          </mat-panel-title>
          <mat-panel-description>
            ({{form.get('alchemical_arts').value?.length}} / {{(alchemicalArts$ | async)?.length}} selected)
          </mat-panel-description>
        </mat-expansion-panel-header>
        <app-selection-list formControlName="alchemical_arts" [value]="alchemicalArts$ | async"></app-selection-list>
      </mat-expansion-panel>
      <!-- ARCHETYPES -->
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title class="ff-g f-0">
            Archetypes
          </mat-panel-title>
          <mat-panel-description>
            ({{form.get('archetypes').value?.length}} / {{(archetypes$ | async)?.length}} selected)
          </mat-panel-description>
        </mat-expansion-panel-header>
        <app-selection-list formControlName="archetypes" [value]="archetypes$ | async"></app-selection-list>
      </mat-expansion-panel>
      <!-- QUALITIES -->
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title class="ff-g f-0">
            Qualities
          </mat-panel-title>
          <mat-panel-description>
            ({{form.get('qualities').value?.length}} / {{(qualities$ | async)?.length}} selected)
          </mat-panel-description>
        </mat-expansion-panel-header>
        <app-selection-list formControlName="qualities" [value]="qualities$ | async"></app-selection-list>
      </mat-expansion-panel>
      <!-- QUIRKS -->
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title class="ff-g f-0">
            Quirks
          </mat-panel-title>
          <mat-panel-description>
            ({{form.get('quirks').value?.length}} / {{(quirks$ | async)?.length}} selected)
          </mat-panel-description>
        </mat-expansion-panel-header>
        <app-selection-list formControlName="quirks" [value]="quirks$ | async"></app-selection-list>
      </mat-expansion-panel>
      <!-- SKILLS -->
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title class="ff-g f-0">
            Skills
          </mat-panel-title>
          <mat-panel-description>
            ({{form.get('skills').value?.length}} / {{(skills$ | async)?.length}} selected)
          </mat-panel-description>
        </mat-expansion-panel-header>
        <app-selection-list formControlName="skills" [value]="skills$ | async"></app-selection-list>
      </mat-expansion-panel>
      <!-- SPELLS -->
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title class="ff-g f-0">
            Spells
          </mat-panel-title>
          <mat-panel-description>
            ({{form.get('spells').value?.length}} / {{(spells$ | async)?.length}} selected)
          </mat-panel-description>
        </mat-expansion-panel-header>
        <app-selection-list formControlName="spells" [value]="spells$ | async"></app-selection-list>
      </mat-expansion-panel>
      <!-- TALENTS -->
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title class="ff-g f-0">
            Talents
          </mat-panel-title>
          <mat-panel-description>
            ({{form.get('talents').value?.length}} / {{(talents$ | async)?.length}} selected)
          </mat-panel-description>
        </mat-expansion-panel-header>
        <app-selection-list formControlName="talents" [value]="talents$ | async"></app-selection-list>
        <mat-selection-list formControlName="talents">
          <mat-list-option *ngFor="let i of talents$ | async; trackBy: trackById;" [value]="i.id">
            {{i.name}}
          </mat-list-option>
        </mat-selection-list>
      </mat-expansion-panel>
      <!-- THREATS -->
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title class="ff-g f-0">
            Threats
          </mat-panel-title>
          <mat-panel-description>
            ({{form.get('threats').value?.length}} / {{(threats$ | async)?.length}} selected)
          </mat-panel-description>
        </mat-expansion-panel-header>
        <app-selection-list formControlName="threats" [value]="threats$ | async"></app-selection-list>
      </mat-expansion-panel>
      <!-- TRAITS -->
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title class="ff-g f-0">
            Traits
          </mat-panel-title>
          <mat-panel-description>
            ({{form.get('traits').value?.length}} / {{(traits$ | async)?.length}} selected)
          </mat-panel-description>
        </mat-expansion-panel-header>
        <app-selection-list formControlName="traits" [value]="traits$ | async"></app-selection-list>
      </mat-expansion-panel>
      <!-- PROFESSIONS -->
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title class="ff-g f-0">
            Professions
          </mat-panel-title>
          <mat-panel-description>
            ({{form.get('professions').value?.length}} / {{(professions$ | async)?.length}} selected)
          </mat-panel-description>
        </mat-expansion-panel-header>
        <app-selection-list formControlName="professions" [value]="professions$ | async"></app-selection-list>
      </mat-expansion-panel>
      <!-- WEAPONS -->
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title class="ff-g f-0">
            Weapons
          </mat-panel-title>
          <mat-panel-description>
            ({{form.get('weapons').value?.length}} / {{(weapons$ | async)?.length}} selected)
          </mat-panel-description>
        </mat-expansion-panel-header>
        <app-selection-list formControlName="weapons" [value]="weapons$ | async"></app-selection-list>
      </mat-expansion-panel>
    </mat-accordion>
    <div class="p-5 mt-10">
      <mat-error *ngFor="let i of warnings$ | async;">{{i}}</mat-error>
    </div>
  </form>
</div>
<div mat-dialog-actions>
  <button mat-button [mat-dialog-close]="null">Cancel</button>
  <button mat-button color="primary" [mat-dialog-close]="form.getRawValue()" [disabled]="!form.valid">Add</button>
</div>
