<h1 mat-dialog-title>Add Setting</h1>
<div mat-dialog-content>
  <form [formGroup]="form" class="d-f fd-c">
    <mat-form-field appearance="outline">
      <mat-label>Name</mat-label>
      <input matInput formControlName="name">
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Description</mat-label>
      <textarea matInput formControlName="description"></textarea>
    </mat-form-field>
    <mat-accordion>
      <!-- ALCHEMICAL ARTS -->
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title class="ff-g">
            Alchemical Arts
          </mat-panel-title>
        </mat-expansion-panel-header>
        <mat-selection-list formControlName="alchemical_arts">
          <mat-list-option *ngFor="let i of alchemicalArts$ | async; trackBy: trackById;" [value]="i.id">
            {{i.name}}
          </mat-list-option>
        </mat-selection-list>
      </mat-expansion-panel>
      <!-- ARCHETYPES -->
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title class="ff-g">
            Archetypes
          </mat-panel-title>
        </mat-expansion-panel-header>
        <mat-selection-list formControlName="archetypes">
          <mat-list-option *ngFor="let i of archetypes$ | async; trackBy: trackById;" [value]="i.id">
            {{i.name}}
          </mat-list-option>
        </mat-selection-list>
      </mat-expansion-panel>
      <!-- QUALITIES -->
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title class="ff-g">
            Qualities
          </mat-panel-title>
        </mat-expansion-panel-header>
        <mat-selection-list formControlName="qualities">
          <mat-list-option *ngFor="let i of qualities$ | async; trackBy: trackById;" [value]="i.id">
            {{i.name}}
          </mat-list-option>
        </mat-selection-list>
      </mat-expansion-panel>
      <!-- QUIRKS -->
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title class="ff-g">
            Quirks
          </mat-panel-title>
        </mat-expansion-panel-header>
        <mat-selection-list formControlName="quirks">
          <mat-list-option *ngFor="let i of quirks$ | async; trackBy: trackById;" [value]="i.id">
            {{i.name}}
          </mat-list-option>
        </mat-selection-list>
      </mat-expansion-panel>
      <!-- SKILLS -->
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title class="ff-g">
            Skills
          </mat-panel-title>
        </mat-expansion-panel-header>
        <mat-selection-list formControlName="skills">
          <mat-list-option *ngFor="let i of skills$ | async; trackBy: trackById;" [value]="i.id">
            {{i.name}}
          </mat-list-option>
        </mat-selection-list>
      </mat-expansion-panel>
      <!-- SPELLS -->
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title class="ff-g">
            Spells
          </mat-panel-title>
        </mat-expansion-panel-header>
        <mat-selection-list formControlName="spells">
          <mat-list-option *ngFor="let i of spells$ | async; trackBy: trackById;" [value]="i.id">
            {{i.name}}
          </mat-list-option>
        </mat-selection-list>
      </mat-expansion-panel>
      <!-- TALENTS -->
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title class="ff-g">
            Talents
          </mat-panel-title>
        </mat-expansion-panel-header>
        <mat-selection-list formControlName="talents">
          <mat-list-option *ngFor="let i of talents$ | async; trackBy: trackById;" [value]="i.id">
            {{i.name}}
          </mat-list-option>
        </mat-selection-list>
      </mat-expansion-panel>
      <!-- THREATS -->
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title class="ff-g">
            Threats
          </mat-panel-title>
        </mat-expansion-panel-header>
        <mat-selection-list formControlName="threats">
          <mat-list-option *ngFor="let i of threats$ | async; trackBy: trackById;" [value]="i.id">
            {{i.name}}
          </mat-list-option>
        </mat-selection-list>
      </mat-expansion-panel>
      <!-- TRAITS -->
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title class="ff-g">
            Traits
          </mat-panel-title>
        </mat-expansion-panel-header>
        <mat-selection-list formControlName="traits">
          <mat-list-option *ngFor="let i of traits$ | async; trackBy: trackById;" [value]="i.id">
            {{i.name}}
          </mat-list-option>
        </mat-selection-list>
      </mat-expansion-panel>
      <!-- PROFESSIONS -->
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title class="ff-g">
            Professions
          </mat-panel-title>
        </mat-expansion-panel-header>
        <mat-selection-list formControlName="professions">
          <mat-list-option *ngFor="let i of professions$ | async; trackBy: trackById;" [value]="i.id">
            {{i.name}}
          </mat-list-option>
        </mat-selection-list>
      </mat-expansion-panel>
      <!-- WEAPONS -->
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title class="ff-g">
            Weapons
          </mat-panel-title>
        </mat-expansion-panel-header>
        <mat-selection-list formControlName="weapons">
          <mat-list-option *ngFor="let i of weapons$ | async; trackBy: trackById;" [value]="i.id">
            {{i.name}}
          </mat-list-option>
        </mat-selection-list>
      </mat-expansion-panel>
    </mat-accordion>
  </form>
</div>
<div mat-dialog-actions>
  <button mat-button [mat-dialog-close]="null">Cancel</button>
  <button mat-button [mat-dialog-close]="form.getRawValue()" [disabled]="!form.valid">Add</button>
</div>
