<mat-sidenav-container [class.expanded]="expanded">
  <mat-sidenav mode="side" opened>
    <mat-toolbar class="d-f jc-sb">
      <img class="logo f-1 not-expanded-hide" src="assets/images/logo.png">
      <button mat-icon-button class="f-0" (click)="onToggleSidenavClick()" matTooltip="{{ expanded ? 'Collapse' : 'Expand' }}">
        <mat-icon>{{ expanded ? 'chevron_left' : 'chevron_right' }}</mat-icon>
      </button>
    </mat-toolbar>
    <mat-nav-list *ngIf="!(logged$ | async)" dense>
      <a mat-list-item routerLink="auth/sign-in" routerLinkActive="active" matTooltip="{{ expanded ? '' : 'Authorization' }}">
        <mat-icon>fingerprint</mat-icon><span class="ml-10 not-expanded-hide">Authorization</span>
      </a>
      <mat-divider></mat-divider>
    </mat-nav-list>
    <mat-nav-list *ngIf="logged$ | async" dense>
      <a mat-list-item routerLink="campaigns" routerLinkActive="active" matTooltip="{{ expanded ? '' : 'Campaigns' }}">
        <mat-icon>grade</mat-icon><span class="ml-10 not-expanded-hide">Campaigns</span>
      </a>
      <a mat-list-item routerLink="characters" routerLinkActive="active" matTooltip="{{ expanded ? '' : 'Characters' }}">
        <mat-icon>group</mat-icon><span class="ml-10 not-expanded-hide">Characters</span>
      </a>
      <a mat-list-item routerLink="tools" routerLinkActive="active" matTooltip="{{ expanded ? '' : 'Tools' }}">
        <mat-icon>construction</mat-icon><span class="ml-10 not-expanded-hide">Tools</span>
      </a>
      <a mat-list-item routerLink="admin" routerLinkActive="active" matTooltip="{{ expanded ? '' : 'Admin' }}">
        <mat-icon>admin_panel_settings</mat-icon><span class="ml-10 not-expanded-hide">Admin</span>
      </a>
      <mat-divider></mat-divider>
<!--      <a mat-list-item routerLink="world" routerLinkActive="active" matTooltip="{{ expanded ? '' : 'World' }}">-->
<!--        <mat-icon>public</mat-icon><span class="ml-10 not-expanded-hide">World</span>-->
<!--      </a>-->
<!--      <mat-divider></mat-divider>-->
<!--      <a mat-list-item routerLink="profile" routerLinkActive="active" matTooltip="{{ expanded ? '' : 'Profile' }}">-->
<!--        <mat-icon>account_circle</mat-icon><span class="ml-10 not-expanded-hide">Profile</span>-->
<!--      </a>-->
    </mat-nav-list>
    <mat-nav-list dense>
      <a mat-list-item routerLink="references" routerLinkActive="active" matTooltip="{{ expanded ? '' : 'References' }}">
        <mat-icon>format_list_bulleted</mat-icon><span class="ml-10 not-expanded-hide">References</span>
      </a>
      <a mat-list-item routerLink="rules" routerLinkActive="active" matTooltip="{{ expanded ? '' : 'Rules' }}">
        <mat-icon>rule</mat-icon><span class="ml-10 not-expanded-hide">Rules</span>
      </a>
      <mat-divider></mat-divider>
    </mat-nav-list>
    <mat-nav-list *ngIf="logged$ | async" dense class="mt-15">
      <button mat-list-item matTooltip="{{ expanded ? '' : 'Logout' }}" (click)="onLogoutClick()">
        <mat-icon color="warn">logout</mat-icon><span class="ml-10 not-expanded-hide warn">Logout</span>
      </button>
    </mat-nav-list>
<!--    <mat-nav-list dense class="mt-15">-->
<!--      <button mat-list-item (click)="onSaveDataClick()">-->
<!--        <mat-icon>save</mat-icon><span class="ml-10 not-expanded-hide">Save Data</span>-->
<!--      </button>-->
<!--    </mat-nav-list>-->
  </mat-sidenav>
  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
