@import "variables";

.p-r { position: relative !important; }

.d-b { display: block !important; }
.d-ib { display: inline-block !important; }

.d-f { display: flex !important; }
.d-if { display: inline-flex !important; }
.fd-c { flex-direction: column !important; }
.jc-sb { justify-content: space-between !important; }
.jc-fs { justify-content: flex-start !important; }
.jc-fe { justify-content: flex-end !important; }
.ai-fs { align-items: flex-start !important; }
.ai-b { align-items: baseline !important; }
.ai-c { align-items: center !important; }
.ai-s { align-items: stretch !important; }
.fw-w { flex-wrap: wrap !important; }
.fw-nw { flex-wrap: nowrap !important; }
.as-fs { align-self: flex-start !important; }
.f-0 { flex: 0 0 auto !important; }
.f-1 { flex: 1 !important; }

.g-5 { gap: 5px !important; }
.g-10 { gap: 10px !important; }
.g-15 { gap: 15px !important; }
.cg-5 { column-gap: 5px !important; }
.cg-10 { column-gap: 10px !important; }
.cg-15 { column-gap: 15px !important; }
.rg-5 { row-gap: 5px !important; }
.rg-10 { row-gap: 10px !important; }
.rg-15 { row-gap: 15px !important; }

.w-100 { width: 100% !important; }

.m-0 { margin: 0 !important; }
.mt-0 { margin-top: 0 !important; }
.mt-5 { margin-top: 5px !important; }
.mt-10 { margin-top: 10px !important; }
.mt-15 { margin-top: 15px !important; }
.mr-0 { margin-right: 0 !important; }
.mr-5 { margin-right: 5px !important; }
.mr-10 { margin-right: 10px !important; }
.mr-15 { margin-right: 15px !important; }
.mb-0 { margin-bottom: 0 !important; }
.mb-5 { margin-bottom: 5px !important; }
.mb-10 { margin-bottom: 10px !important; }
.mb-15 { margin-bottom: 15px !important; }
.ml-0 { margin-left: 0 !important; }
.ml-5 { margin-left: 5px !important; }
.ml-10 { margin-left: 10px !important; }
.ml-15 { margin-left: 15px !important; }

.p-5 { padding: 5px !important; }
.p-10 { padding: 10px !important; }
.p-15 { padding: 15px !important; }

.lh-0 { line-height: 0 !important; }
.bs-0 { border-spacing: 0 !important; }

.ws-nw { white-space: nowrap !important; }
.ws-pw { white-space: pre-wrap !important; }

.c-pointer { cursor: pointer !important; }
.c-grab { cursor: grab !important; }

.bs-bb { box-sizing: border-box !important; }

.c-red { color: $color-red !important; }
.c-pink { color: $color-pink !important; }
.c-purple { color: $color-purple !important; }
.c-deep-purple { color: $color-deep-purple !important; }
.c-indigo { color: $color-indigo !important; }
.c-blue { color: $color-blue !important; }
.c-light-blue { color: $color-light-blue !important; }
.c-cyan { color: $color-cyan !important; }
.c-teal { color: $color-teal !important; }
.c-green { color: $color-green !important; }
.c-light-green { color: $color-light-green !important; }
.c-lime { color: $color-lime !important; }
.c-yellow { color: $color-yellow !important; }
.c-amber { color: $color-amber !important; }
.c-orange { color: $color-orange !important; }
.c-deep-orange { color: $color-deep-orange !important; }
.c-brown { color: $color-brown !important; }
.c-gray { color: $color-gray !important; }
.c-blue-gray { color: $color-blue-gray !important; }

.bg-gray-800 { background-color: $color-gray-800 !important; }

.comma-separated:not(:last-child)::after { content: ', ' !important; }

.va-t { vertical-align: top !important; }

/* Mobile-only styles */
@media only screen and (max-width: 600px) {
  .mobile-hidden {
    display: none !important;
  }
}
