<ng-container *ngIf="value.type === 'player'">
  <mat-card class="unit mb-5">
    <mat-card-content class="d-f ai-c">
      <mat-form-field appearance="outline" class="initiative mr-5">
        <mat-label>Initiative</mat-label>
        <input matInput type="number" autocomplete="off" min="0" [(ngModel)]="value.initiative">
      </mat-form-field>
      <span>{{value?.name}}</span>
      <span class="f-1"></span>
      <div class="d-f fd-c">
        <mat-icon class="c-pointer" color="warn" matTooltip="Remove" (click)="onRemoveClick(value)">clear</mat-icon>
      </div>
    </mat-card-content>
  </mat-card>
</ng-container>

<ng-container *ngIf="value.type === 'threat'">
  <mat-card *ngIf="value.templateId | getById: DataTypes.THREATS as threat;" class="unit mb-5">
    <mat-card-content class="d-f ai-c">
      <mat-form-field appearance="outline" class="initiative mr-5">
        <mat-label>Initiative</mat-label>
        <input matInput type="number" autocomplete="off" min="0" [(ngModel)]="value.initiative">
      </mat-form-field>
      <div class="d-f fd-c mr-10 ff-g">
        <span>{{value?.name}} ({{getType(threat)}})</span>
      </div>
      <div class="d-f fd-c mr-10">
        <mat-icon class="c-pointer" matTooltip="Expand" (click)="value.expanded = !value.expanded">
          {{value.expanded ? 'expand_less' : 'expand_more'}}
        </mat-icon>
      </div>
      <div class="d-f fd-c g-5 ff-m">
        <mat-radio-group class="d-f ai-c cg-5" labelPosition="before" [(ngModel)]="value.damage">
          <mat-label class="c-gray mr-5">Dmg</mat-label>
          <mat-radio-button [value]="0">U:</mat-radio-button>
          <mat-radio-button [value]="1">H:</mat-radio-button>
          <mat-radio-button [value]="2">M:</mat-radio-button>
          <mat-radio-button [value]="3">S:</mat-radio-button>
          <mat-radio-button [value]="4">G:</mat-radio-button>
          <mat-radio-button [value]="5">S!:</mat-radio-button>
        </mat-radio-group>
        <mat-radio-group class="d-f ai-c cg-5" labelPosition="before" [(ngModel)]="value.peril">
          <mat-label class="c-gray mr-5">Prl</mat-label>
          <mat-radio-button [value]="0">U:</mat-radio-button>
          <mat-radio-button [value]="1">I:</mat-radio-button>
          <mat-radio-button [value]="2">1:</mat-radio-button>
          <mat-radio-button [value]="3">2:</mat-radio-button>
          <mat-radio-button [value]="4">3:</mat-radio-button>
          <mat-radio-button [value]="5">I!:</mat-radio-button>
        </mat-radio-group>
      </div>
      <span class="f-1"></span>
      <div class="d-f fd-c">
        <mat-icon class="c-pointer" color="warn" matTooltip="Remove" (click)="onRemoveClick(value)">clear</mat-icon>
        <mat-icon class="c-pointer" matTooltip="Clone" (click)="onCloneClick(value)">add</mat-icon>
      </div>
    </mat-card-content>
    <mat-card-content *ngIf="value.expanded" class="d-f fd-c ai-fs">
      <table class="mat-table bs-0 w-100 mb-10">
        <tr class="mat-row bg-gray-600">
          <td *ngFor="let i of value.attributes;" class="mat-cell p-5">{{i.name.slice(0, 1)}}</td>
        </tr>
        <tr class="mat-row">
          <td *ngFor="let i of value.attributes;" class="mat-cell p-5">{{i.value}}% ({{i.bonus}})</td>
        </tr>
        <tr class="mat-row bg-gray-600">
          <td class="mat-cell p-5">Int</td>
          <td class="mat-cell p-5">Mov</td>
          <td class="mat-cell p-5">DTh</td>
          <td class="mat-cell p-5">PTh</td>
          <td class="mat-cell p-5">Def</td>
          <td class="mat-cell p-5">Size</td>
          <td class="mat-cell p-5">RFa</td>
        </tr>
        <tr class="mat-row">
          <td class="mat-cell p-5">{{getInitiative(threat)}}</td>
          <td class="mat-cell p-5">{{getMovement(threat)}}</td>
          <td class="mat-cell p-5">{{getDamageThresholds(threat)}}</td>
          <td class="mat-cell p-5">{{getPerilThresholds(threat)}}</td>
          <td class="mat-cell p-5">{{getDefences(threat)}}</td>
          <td class="mat-cell p-5">{{getSize(threat)}}</td>
          <td class="mat-cell p-5">{{getRiskFactorAndNotch(threat)}}</td>
        </tr>
      </table>
      <p>
        <b class="c-gray">Skills:</b>
        <span *ngFor="let i of value.skills;" class="comma-separated ws-pl">
          {{(i.id | getById: DataTypes.SKILLS)?.name}} +{{i.value}}
        </span>
      </p>
      <p>
        <b class="c-gray">Traits:</b>
        <span *ngFor="let i of value.traits;" class="comma-separated ws-pl" [matTooltip]="(i.id | getById: DataTypes.THREAT_TRAITS)?.labels?.effect">
          {{(i.id | getById: DataTypes.THREAT_TRAITS)?.name}}<span *ngIf="i.value"> ({{i.value}})</span>
        </span>
      </p>
      <p *ngIf="threat.weapons.length" class="mb-5">
        <b class="c-gray">Attacks:</b>
        <ng-container *ngFor="let i of threat.weapons;">
          <span *ngIf="i | getById : DataTypes.WEAPONS as weapon" class="comma-separated ws-pl">
            {{weapon.name}} ({{getWeaponChance(weapon, threat)}}%, {{getWeaponDamage(weapon, threat)}}; {{weapon.labels.distance}}; <span *ngFor="let j of getAllQualities(weapon)" class="comma-separated ws-pl" [matTooltip]="j?.labels.effect">{{j?.name}}</span>)
          </span>
        </ng-container>
      </p>
    </mat-card-content>
  </mat-card>
</ng-container>
