<h1>Mounted Combat</h1>

<h2>Animal Care</h2>
<p>In the Old World, almost everyone has some knowledge of horses. Ride is a Basic Skill, so even Characters with no Advances in Ride can mount a horse and point it in the right direction.</p>
<p>Maintaining saddle and tack, foddering and grooming, and dressing a horse for work or battle, however, require the Animal Care Skill. Even a single Advance is enough to take care of a mount’s basic needs. However, if the GM rules that circumstances are particularly onerous, such as on a long military campaign or far from easy access to good grazing, an Average (+20) or even Challenging (+0) Animal Care Test may be required each day.</p>
<p>Most professional armies make use of grooms, farriers, and squires to maintain their mounts, and a single person can easily care for a half dozen animals in adverse conditions, or a dozen if they have a well-stocked stable to hand. For each day any required care is neglected, a mount must make a Challenging (+0) Toughness Test. Failure indicates something has gone wrong — the mount may simply gain a Fatigued Condition for the first failure, but over time more significant problems develop. Disease outbreaks are common, as are damaged horseshoes and infestations of parasites, either of which may be passed on to their riders. Of course, the beast may also choose to simply escape such treatment.</p>

<h3>Movement and Initiative</h3>
<p>A mount possesses both a Move and an Action. Any rider may spend their Move to direct their mount’s movement. For simplicity’s sake, you can consider them to have the Movement Attribute of their mount while mounted. A rider may spend an Action to direct a mount’s Action.</p>
<p>This may require a Test if the mount is untrained. Examples include spurring their mount onwards to have it take the Running action. A character with the Roughrider talent may direct a mount’s Action without making a Test or taking an Action.</p>

<h3>Attacking and Defending</h3>
<p>Any melee attack from a rider on a target smaller than their mount gains a bonus of +20 to hit.</p>
<p>When rolling to hit a mounted character, you can choose whether to hit the rider or the mount. In melee, you suffer a penalty of –10 to your Melee Test if you target the rider of a mount larger than you are. You may ignore this penalty if you are on a similarly sized mount of your own, or if your weapon has a reach of Long or more.</p>
<p>When charging, you may use the Strength and Size rules of your mount for the purposes of calculating the Damage of your Melee attacks. When riding, you suffer a penalty of –20 to the Dodge Skill unless you have the Trick Riding Talent.</p>
<p>When riding a mount, you may only shoot a ranged weapon to the front if using a two-handed ranged weapon, or to the front or the side in which the weapon is held if using a one-handed ranged weapon. The Trick Riding Talent allows riders to ignore these restrictions, shooting in any direction they like.</p>





<h3></h3>
<p></p>

<h3></h3>
<p></p>

<h3></h3>
<p></p>

<h3></h3>
<p></p>

<h3></h3>
<p></p>
