<mat-toolbar class="toolbar-main">
  <h1>Character Creation / Upgrade</h1>
</mat-toolbar>
<form [formGroup]="form" (ngSubmit)="onSubmit(form.getRawValue())">
  <mat-card class="mb-15">
    <mat-card-header>
      <mat-card-title>Details</mat-card-title>
    </mat-card-header>
    <mat-card-content class="d-f fd-r">
      <div class="d-f fd-c">
        <portrait-select formControlName="portrait" class="mr-15"></portrait-select>
      </div>
      <div class="d-f fd-c">
        <mat-form-field appearance="outline">
          <mat-label>Name</mat-label>
          <input matInput formControlName="name">
        </mat-form-field>
        <mat-form-field appearance="outline" formGroupName="miscellaneous">
          <mat-label>Gender</mat-label>
          <mat-select formControlName="gender">
            <mat-option value="Male">Male</mat-option>
            <mat-option value="Female">Female</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Metatype</mat-label>
          <mat-select formControlName="metatype">
            <mat-option *ngFor="let i of METATYPES" [value]="i.id">
              {{i.name}} ({{i.cost}})
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Awakening</mat-label>
          <mat-select formControlName="awakening">
            <mat-option *ngFor="let i of AWAKENINGS" [value]="i.id">
              {{i.name}} ({{i.cost}})
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field *ngIf="isMagicTraditionAvailable(form.getRawValue())" appearance="outline">
          <mat-label>Magic Tradition</mat-label>
          <mat-select formControlName="magic_tradition">
            <mat-option *ngFor="let i of MAGIC_TRADITIONS" [value]="i.id">
              {{i.name}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </mat-card-content>
  </mat-card>

  <s5e-create-pc-qualities formControlName="qualities"
    [initial]="character$ | async"
    [awakening]="form.get('awakening').value"
    [metatype]="form.get('metatype').value">
  </s5e-create-pc-qualities>

  <s5e-create-pc-attributes formControlName="attributes"
    [initial]="character$ | async"
    [awakening]="form.get('awakening').value"
    [metatype]="form.get('metatype').value"
    [qualities]="form.get('qualities').value">
  </s5e-create-pc-attributes>

  <s5e-create-pc-skills formControlName="skills"
    [initial]="character$ | async"
    [awakening]="form.get('awakening').value">
  </s5e-create-pc-skills>

  <s5e-create-pc-knowledge formControlName="knowledge"
    [initial]="character$ | async"></s5e-create-pc-knowledge>

  <s5e-create-pc-contacts formControlName="contacts"
    [initial]="character$ | async"></s5e-create-pc-contacts>

  <s5e-create-pc-spells
    *ngIf="isSpellsAvailable(form.getRawValue())"
    formControlName="spells"
    [previous]="character$ | async">
  </s5e-create-pc-spells>

  <s5e-create-pc-rituals
    *ngIf="isSpellsAvailable(form.getRawValue())"
    formControlName="rituals"
    [previous]="character$ | async">
  </s5e-create-pc-rituals>

  <s5e-create-pc-adept-powers formControlName="adept_powers"
    *ngIf="isAdeptPowersAvailable(form.getRawValue())"
    [previous]="character$ | async">
  </s5e-create-pc-adept-powers>

  <s5e-create-pc-initiation
    *ngIf="isInitiationAvailable$ | async"
    formControlName="metamagic"
    [previous]="character$ | async"
    [awakening]="form.get('awakening').value">
  </s5e-create-pc-initiation>

  <s5e-create-pc-complex-forms formControlName="complex_forms"
    *ngIf="isComplexFormsAvailable(form.getRawValue())"
    [previous]="character$ | async">
  </s5e-create-pc-complex-forms>

  <s5e-create-pc-submersion
    *ngIf="isSubmersionAvailable$ | async"
    formControlName="echoes"
    [previous]="character$ | async"
    [awakening]="form.get('awakening').value">
  </s5e-create-pc-submersion>

  <s5e-create-pc-lifestyle formControlName="lifestyles"
    [previous]="character$ | async">
  </s5e-create-pc-lifestyle>

  <s5e-create-pc-final-calculations [character]="form.getRawValue()"></s5e-create-pc-final-calculations>

  <mat-card class="mb-15">
    <mat-card-actions>
      <button type="reset" mat-button class="mr-15">Reset</button>
      <button type="submit" mat-flat-button color="primary">Save</button>
    </mat-card-actions>
  </mat-card>
</form>
