<form [formGroup]="form" (ngSubmit)="onSubmit(form.getRawValue())">
  <mat-card class="mb-15">
    <mat-card-header>
      <mat-card-title>Personal</mat-card-title>
    </mat-card-header>
    <mat-card-content class="d-f fd-r">
      <div class="d-f fd-c">
        <portrait-select formControlName="portrait" class="mr-15"></portrait-select>
      </div>
      <div class="d-f fd-c">
        <mat-form-field appearance="outline">
          <mat-label>Name</mat-label>
          <input matInput formControlName="name">
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Metatype</mat-label>
          <mat-select formControlName="metatype">
            <mat-option *ngFor="let i of METATYPES" [value]="i.id">
              {{i.name}} ({{i.cost}})
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Awakening</mat-label>
          <mat-select formControlName="awakening">
            <mat-option *ngFor="let i of AWAKENINGS" [value]="i.id">
              {{i.name}} ({{i.cost}})
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field *ngIf="isMagicTraditionAvailable(form.getRawValue())" appearance="outline">
          <mat-label>Magic Tradition</mat-label>
          <mat-select formControlName="magic_tradition">
            <mat-option *ngFor="let i of MAGIC_TRADITIONS" [value]="i.id">
              {{i.name}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </mat-card-content>
  </mat-card>

  <s5e-create-pc-qualities formControlName="qualities"
    [awakening]="form.get('awakening').value"
    [metatype]="form.get('metatype').value">
  </s5e-create-pc-qualities>

  <s5e-create-pc-attributes formControlName="attributes"
    [initial]="character$ | async"
    [awakening]="form.get('awakening').value"
    [metatype]="form.get('metatype').value"
    [qualities]="form.get('qualities').value">
  </s5e-create-pc-attributes>

  <s5e-create-pc-skills formControlName="skills"
    [awakening]="form.get('awakening').value"
    [metatype]="form.get('metatype').value">
  </s5e-create-pc-skills>

  <s5e-create-pc-knowledge formControlName="knowledge"></s5e-create-pc-knowledge>

  <s5e-create-pc-contacts formControlName="contacts"></s5e-create-pc-contacts>

  <s5e-create-pc-spells *ngIf="isSpellsAvailable(form.getRawValue())" formControlName="spells"></s5e-create-pc-spells>

  <s5e-create-pc-adept-powers *ngIf="isAdeptPowersAvailable(form.getRawValue())" formControlName="adept_powers"></s5e-create-pc-adept-powers>

  <s5e-create-pc-complex-forms *ngIf="isComplexFormsAvailable(form.getRawValue())" formControlName="complex_forms"></s5e-create-pc-complex-forms>

  <s5e-create-pc-lifestyle formControlName="lifestyles"></s5e-create-pc-lifestyle>

  <s5e-create-pc-final-calculations [character]="form.getRawValue()"></s5e-create-pc-final-calculations>

  <mat-card class="mb-15">
    <mat-card-actions>
      <button type="reset" mat-button class="mr-15">Reset</button>
      <button type="submit" mat-flat-button color="primary">Save</button>
    </mat-card-actions>
  </mat-card>
</form>
