<mat-horizontal-stepper linear #stepper>
  <mat-step [stepControl]="step1" label="Concept">
    <form [formGroup]="step1">



      <div>
        <button mat-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="step2" label="Paths">
    <form [formGroup]="step2">




      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="step3" label="Skills">
    <form [formGroup]="step3">




      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="step4" label="Attributes">
    <form [formGroup]="step4">




      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="step5" label="Calling & Knacks">
    <form [formGroup]="step5">




      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="step6" label="Finishing Touches">
    <form [formGroup]="step6">




      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>
  <mat-step label="Done">

    <p>You are now done.</p>
    <div>
      <button mat-button matStepperPrevious>Back</button>
      <button mat-button (click)="stepper.reset()">Reset</button>
    </div>
  </mat-step>
</mat-horizontal-stepper>


<!--<form [formGroup]="step1">-->
<!--  <mat-form-field appearance="outline">-->
<!--    <mat-label>Name</mat-label>-->
<!--    <input matInput formControlName="name" required>-->
<!--  </mat-form-field>-->
<!--</form>-->
<!--<form [formGroup]="step2">-->
<!--  <mat-form-field appearance="outline" formGroupName="paths">-->
<!--    <mat-label>Origin Path</mat-label>-->
<!--    <mat-select formControlName="origin" required>-->
<!--      <mat-option *ngFor="let path of paths$ | async | filterBy: 'type':1" [value]="path.id">-->
<!--        {{path.name}}-->
<!--      </mat-option>-->
<!--    </mat-select>-->
<!--  </mat-form-field>-->
<!--  <mat-form-field appearance="outline" formGroupName="paths">-->
<!--    <mat-label>Role Path</mat-label>-->
<!--    <mat-select formControlName="role" required>-->
<!--      <mat-option *ngFor="let path of paths$ | async | filterBy: 'type':2" [value]="path.id">-->
<!--        {{path.name}}-->
<!--      </mat-option>-->
<!--    </mat-select>-->
<!--  </mat-form-field>-->
<!--  <mat-form-field appearance="outline" formGroupName="paths">-->
<!--    <mat-label>Society/Pantheon Path</mat-label>-->
<!--    <input matInput formControlName="pantheon" required>-->
<!--  </mat-form-field>-->
<!--</form>-->
<!--<form [formGroup]="step3">-->
<!--  <mat-form-field appearance="outline" formGroupName="skills">-->
<!--    <mat-label>Address</mat-label>-->
<!--    <input matInput type="number" formControlName="secondCtrl" required>-->
<!--  </mat-form-field>-->
<!--</form>-->
<!--<form [formGroup]="step4">-->
<!--  <mat-form-field appearance="outline">-->
<!--    <mat-label>Approach</mat-label>-->
<!--    <mat-select formControlName="approach" required>-->
<!--      <mat-option *ngFor="let approach of approaches$ | async" [value]="approach.id">-->
<!--        {{approach.name}}-->
<!--      </mat-option>-->
<!--    </mat-select>-->
<!--  </mat-form-field>-->

<!--</form>-->
<!--<form [formGroup]="step5">-->
<!--  <mat-form-field>-->
<!--    <mat-label>Address</mat-label>-->
<!--    <input matInput formControlName="secondCtrl" required>-->
<!--  </mat-form-field>-->
<!--</form>-->
