<mat-toolbar>
  <h1>Profile</h1>
  <span class="f-1"></span>
  <button mat-flat-button color="primary" (click)="onSignOutClick()">Sign Out</button>
</mat-toolbar>
<div class="p-10">
  <mat-card class="mb-15">
    <mat-card-header>
      <mat-card-title>Dangerous Actions</mat-card-title>
    </mat-card-header>
    <mat-card-content class="d-f fd-c ai-fs">
      <p>You can delete your account & all the corresponding data.</p>
      <button mat-flat-button color="warn" (click)="onDeleteProfileClick()">Delete Profile</button>
    </mat-card-content>
  </mat-card>
</div>
