<h2 class="ff-g mb-5">Healing Practices</h2>
<div class="quote">
  <h3 class="ff-g c-gray mb-0">Physician, Heal Thyself</h3>
  <p class="c-gray">Some healing practices require Skill Tests. You must treat the listed Difficulty Rating worse by one step any time you use one of these methods on yourself. This means if your chances were (Challenging -10%), they would be (Hard -20%) instead.</p>
</div>
<h3 class="ff-g mb-5">Heal Peril: Sleep</h3>
<p class="c-gray"><i>Off to never-never land...</i></p>
<p class="c-gray"><b>Sleep:</b> Sleep for six hours.</p>
<p class="c-gray"><b>Effect:</b> Recover your Peril Condition Track to Unhindered in a safe place, or recover to Imperiled in an unsafe place.</p>
<p class="c-gray"><b>Other Considerations:</b> When you Sleep, the Historian will determine whether you are in a safe or unsafe place. You can break up the six hours of Sleep over nine hours to recover. Sleeping never allows the character to recover from Damage unless a Trait dictates otherwise. Finally, you cannot recover from Peril until your Injuries are in Recuperation.</p>
<h3 class="ff-g mb-5">Heal Peril: Use Smelling Salt</h3>
<p class="c-gray"><i>It’s made from the spirit of hartshorn and ammonia. Here, try it...</i></p>
<p class="c-gray"><b>Use Smelling Salt:</b> You must have a smelling salt and spend one minute (1 AP if in combat) to Use Smelling Salt.</p>
<p class="c-gray"><b>Effect:</b> You move one step up the Peril Condition Track positively, but gain 1 Conflict.</p>
<p class="c-gray"><b>Other Considerations:</b> You can only Use Smelling Salt once every twenty-four hours. Finally, you cannot recover your Peril Condition Track until your Injuries are in Recuperation.</p>
<h3 class="ff-g mb-5">Heal Damage: Use Laudanum</h3>
<p class="c-gray"><i>Pop the cork and down the hatch! You may feel a funny sensation, but don’t worry...</i></p>
<p class="c-gray"><b>Use Laudanum:</b> You must have laudanum and spend one minute (1 AP if in combat) to Use Laudanum.</p>
<p class="c-gray"><b>Effect:</b> You move one step up the Damage Condition Track positively, but gain 1 Conflict.</p>
<p class="c-gray"><b>Other Considerations:</b> You can only Use Laudanum once every twenty-four hours. Finally, you cannot recover your Damage Condition Track until your Injuries are in Recuperation.</p>
<h3 class="ff-g mb-5">Heal Damage: Bind Wounds</h3>
<p class="c-gray"><i>If you’d just sit still, I could patch you up...</i></p>
<p class="c-gray"><b>Bind Wounds:</b> A caregiver must have a bandage and spend one minute (3 AP) to Bind Wounds. Depending on where you’re at on the Damage Condition Track, the Difficulty Rating eases or worsens:</p>
<ul class="c-gray">
  <li>Hurt: Automatically succeed</li>
  <li>Moderately Wounded: (Routine +10%) Heal</li>
  <li>Seriously Wounded: (Standard +/-0%) Heal</li>
  <li>Grievously Wounded: (Challenging -10%) Heal</li>
</ul>
<p class="c-gray"><b>Effect:</b> If successful, you move a number of steps up the Damage Condition Track positively for every 6 points of the caregiver’s [IB]. If failed, nothing happens:</p>
<ul class="c-gray">
  <li>[IB] 1 to 6: one step up positively</li>
  <li>[IB] 7 to 12: two steps up positively</li>
  <li>[IB] 13+: three steps up positively</li>
</ul>
<p class="c-gray"><b>Critical Success:</b> You move three steps up the Damage Condition Track positively.</p>
<p class="c-gray"><b>Critical Failure:</b> You suffer from Sepsis.</p>
<div class="quote">
  <h3 class="ff-g c-gray mb-0">Dirty Bandages</h3>
  <p class="c-gray">In a pinch, a character can strip a piece of cloth from their own clothes. After the healing practice is completed, however, roll a 1D6 Chaos Die. If it lands on face ‘6,’ the character who was healed contracts Sepsis.</p>
</div>
<h3 class="ff-g mb-5">Heal Sepsis: Bloodletting</h3>
<p class="c-gray"><i>Gangrene, sepsis, tetanus—these are all words for what ails you. Let’s see if we can ooze the sanguinity with this hollow needle to restore your equilibrium...</i></p>
<p class="c-gray"><b>Bloodletting:</b> A caregiver must have a surgical kit, a bandage and spend one hour for Bloodletting. Depending on where you’re at on the Damage Condition Track, the Difficulty Rating eases or worsens:</p>
<ul class="c-gray">
  <li>Hurt: Automatically succeed</li>
  <li>Moderately Wounded: (Routine +10%) Heal</li>
  <li>Seriously Wounded: (Standard +/-0%) Heal</li>
  <li>Grievously Wounded: (Challenging -10%) Heal</li>
</ul>
<p class="c-gray"><b>Effect:</b> If successful, you are no longer suffering from Sepsis. If failed, you continue suffering from Sepsis.</p>
<p class="c-gray"><b>Critical Success:</b> Move one step up the Damage & Peril Condition Tracks positively.</p>
<p class="c-gray"><b>Critical Failure:</b> You continue suffering from Sepsis and contract the Ailment of Morsal.</p>
<p class="c-gray"><b>Other Considerations:</b> You can only have Bloodletting performed once every twenty-four hours. However, you must undergo Bloodletting within twenty-four hours of suffering Sepsis or else permanently lose 3% Brawn every day until healed. Finally, you cannot recover your Damage & Peril Condition Tracks until your Injuries are in Recuperation.</p>
<h3 class="ff-g mb-5">Heal Bleeding: Apply Tourniquet</h3>
<p class="c-gray"><i>Whither the tourniquet or f ire poker, that is the question...</i></p>
<p class="c-gray"><b>Apply Tourniquet:</b> A caregiver must have a bandage and spend one minute (3 AP if in combat) to Apply Tourniquet.</p>
<p class="c-gray"><b>Effect:</b> You stop Bleeding.</p>
<p class="c-gray"><b>Other Considerations:</b> If a caregiver doesn’t have a bandage, they can cauterize the Bleeding instead. However, you suffer 3D10+3 Peril and are Unconscious once cauterized. You cannot recover your Damage & Peril Condition Tracks until your Bleeding has undergone Apply Tourniquet. Finally, if you Bleed for a number of minutes in excess of your [BB], you are Slain!.</p>
<h3 class="ff-g mb-5">Suppress Injury: Inject Tincture</h3>
<p class="c-gray"><i>Yes, madam doctor, my leg feels better, but I feel like I am floating ...</i></p>
<p class="c-gray"><b>Inject Tincture:</b> You must have a tincture and spend one minute (1 AP if in combat) to Use Tincture.</p>
<p class="c-gray"><b>Effect:</b> You ignore the temporary effects of an Injury for twenty-four hours, but gain 1 Conflict.</p>
<p class="c-gray"><b>Other Considerations:</b> A character can only Use Tincture once every twenty-four hours. Using Tincture does not allow you to ignore the impact of a Permanent Injury.</p>
<h3 class="ff-g mb-5">Heal Injury: Treat Injury</h3>
<p class="c-gray"><i>Take a load off, a deep breath and bite down on this stick...</i></p>
<p class="c-gray"><b>Treat Injury:</b> A caregiver must have a bandage, a tincture and spend ten minutes to Treat Injury. The more Injuries you’re suffering from, the more the Difficultly Rating eases or worsens:</p>
<ul class="c-gray">
  <li>One Injury: (Routine +10%) Heal</li>
  <li>Two Injuries: (Standard +/-0%) Heal</li>
  <li>Three Injuries or more: (Challenging -10%) Heal</li>
</ul>
<p class="c-gray"><b>Effect:</b> If successful, one Injury is in Recuperation, but you still suffer from the Injury’s effects until you are fully Recuperated. The length of time to fully Recuperate is based on the Injury type:</p>
<ul class="c-gray">
  <li>Moderate Injury: 1D10+1 days to fully Recuperate</li>
  <li>Serious Injury: 2D10+2 days to fully Recuperate</li>
</ul>
<p class="c-gray">If failed, your Injury must undergo treatment again twenty-four hours later, but you suffer from Sepsis and still suffer from the Injury’s effects until you are fully Recuperated.</p>
<p class="c-gray"><b>Critical Success:</b> Reduce Recuperation by three days.</p>
<p class="c-gray"><b>Critical Failure:</b> You suffer from Sepsis and permanently lose 3% Brawn.</p>
<p class="c-gray"><b>Other Considerations:</b> Every Injury must undergo its own Treat Injury. You can only have Treat Injury performed on you once every twenty-four hours. Finally, you cannot recover your Damage & Peril Condition Tracks until your Injuries are in Recuperation.</p>
<h3 class="ff-g mb-5">Heal Grievous Injury: Perform Surgery</h3>
<p class="c-gray"><i>The wound appears fatal; pray hard that this works...</i></p>
<p class="c-gray"><b>Perform Surgery:</b> A caregiver must have a surgical kit, a bandage, a tincture and spend one hour to Perform Surgery. The more Injuries you’re suffering from, the Difficulty Rating eases or worsens:</p>
<ul class="c-gray">
  <li>One Injury: (Routine +10%) Heal</li>
  <li>Two Injuries: (Standard +/-0%) Heal</li>
  <li>Three Injuries or more: (Challenging -10%) Heal</li>
</ul>
<p class="c-gray">If successful, you are Unconscious for twenty-four hours and do not suffer the permanent effects of the Grievous Injury. If failed, you are Unconscious for seventy-two hours and gain its related Permanent Injury.</p>
<p class="c-gray"><b>Critical Success:</b> Reduce the time you are Unconscious by twenty-four hours.</p>
<p class="c-gray"><b>Critical Failure:</b> You suffer from Sepsis, gain its related Permanent Injury and permanently lose 6% Brawn.</p>
<p class="c-gray"><b>Other Considerations:</b> Every Grievous Injury must undergo its own Perform Surgery. You cannot Perform Surgery upon yourself. However, you must undergo Perform Surgery within twenty-four hours of suffering a Grievous Injury or else gain its related Permanent Injury. It can also be used to instantly cure Morsal. Finally, you cannot recover your Damage & Peril Condition Tracks until your Grievous Injury has undergone surgery.</p>
<h3 class="ff-g mb-5">Heal Affliction: Trepanation</h3>
<p class="c-gray"><i>Some consider the practice heinous and barbaric; we call it sublime and necessary . . .</i></p>
<p class="c-gray"><b>Trepanation:</b> A caregiver must have surgical tools, a bandage, quicksilver and spend 1D10+1 hours to perform a Trepanation. Depending on how many Flaw Ranks you’ve gained, the Difficulty Rating eases or worsens:</p>
<ul class="c-gray">
  <li>0 to 1 Flaw Ranks: (Trivial +30%) Heal</li>
  <li>2 Flaw Ranks: (Easy +20%) Heal</li>
  <li>3 Flaw Ranks: (Routine +10%) Heal</li>
  <li>4 Flaw Ranks: (Standard +/-0%) Heal</li>
  <li>5 Flaw Ranks: (Challenging -10%) Heal</li>
  <li>6 Flaw Ranks: (Hard -20%) Heal</li>
  <li>7 to 9 Flaw Ranks: (Arduous -30%) Heal</li>
</ul>
<p class="c-gray"><b>Effect:</b> If successful, reduce your Flaw Ranks by the number of Degrees of Success the caregiver generated and are healed of Broken Heart Syndrome. If failed, you gain an additional number of Flaw Ranks equal to those you already have and suffer the permanent effects of Broken Heart Syndrome.</p>
<p class="c-gray"><b>Critical Success:</b> Reduce your Flaw Ranks as above, and also permanently remove an Affliction.</p>
<p class="c-gray"><b>Critical Failure:</b> You are Slain!.</p>
<p class="c-gray"><b>Other Considerations:</b> After being treated by a caregiver, you are Incapacitated! and Unconscious for 1D10+1 days, regardless of success or failure. You can only have Trepanation performed on you once a week.</p>



<h3 class="ff-g mb-5"></h3>
<p class="c-gray"></p>
<div class="quote">
  <h3 class="ff-g c-gray mb-0"></h3>
  <p class="c-gray"></p>
</div>
