<mat-sidenav-container [class.expanded]="expanded">
  <mat-sidenav mode="side" opened>
    <mat-toolbar class="d-f jc-sb">
      <div class="fs-14 f-1 truncate not-expanded-hide">{{(campaign$ | async)?.name}}</div>
      <button mat-icon-button class="f-0-0-a" (click)="onToggleSidenavClick()" matTooltip="{{ expanded ? 'Collapse' : 'Expand' }}">
        <mat-icon>{{ expanded ? 'chevron_left' : 'chevron_right' }}</mat-icon>
      </button>
    </mat-toolbar>
    <mat-nav-list *ngIf="!(logged$ | async)" dense>
      <a mat-list-item routerLink="auth/sign-in" routerLinkActive="active" matTooltip="{{ expanded ? '' : 'Authorization' }}">
        <mat-icon>fingerprint</mat-icon><span class="ml-10 not-expanded-hide">Authorization</span>
      </a>
      <mat-divider></mat-divider>
    </mat-nav-list>
    <mat-nav-list *ngIf="logged$ | async" dense>
      <a *ngFor="let i of options$ | async;" mat-list-item [routerLink]="i.link" routerLinkActive="active" matTooltip="{{ expanded ? '' : i.label }}">
        <mat-icon>{{i.icon}}</mat-icon><span class="ml-10 not-expanded-hide">{{i.label}}</span>
      </a>
      <mat-divider></mat-divider>
      <button mat-list-item matTooltip="{{ expanded ? '' : 'Logout' }}" (click)="onLogoutClick()">
        <mat-icon color="warn">logout</mat-icon><span class="ml-10 not-expanded-hide warn">Logout</span>
      </button>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
