<mat-toolbar class="toolbar-main">
  <h1>Character View</h1>
  <span class="f-1"></span>
  <button *ngIf="view$ | async as view"
    mat-icon-button
    (click)="view$.next(view === 'full' ? 'concise' : 'full')"
    [matTooltip]="view === 'full' ? 'Concise View' : 'Full View'">
    <mat-icon>{{view === 'full' ? 'unfold_less' : 'unfold_more'}}</mat-icon>
  </button>
</mat-toolbar>
<ng-container *ngIf="character$ | async as character;">
  <ng-container *ngIf="(view$ | async) === 'concise'">
    <p class="ff-g fs-16">
      {{character.name}}
    </p>
    <p class="c-gray">
      <i>{{description}}</i>
    </p>
    <p>
      <b class="c-gray">Attributes:</b>
      <span *ngFor="let i of attributes;" class="comma-separated ws-pw">
        {{(i.id | getById: 'attributes')?.name}} {{i.value}}% ({{i.bonus}})
      </span>
    </p>
    <p>
      <b class="c-gray">Skills:</b>
      <span *ngFor="let i of skills; trackBy: trackById" class="comma-separated ws-pw" [matTooltip]="i.tooltip">
        {{(i.id | getById: 'skills')?.name}}{{i.type === 2 ? '*' : ''}} +{{i.value}}%
      </span>
    </p>
    <p>
      <b class="c-gray">Talents:</b>
      <span *ngFor="let i of talents;" class="comma-separated ws-pw" [matTooltip]="i.labels?.tooltip">
        {{i.name}}
      </span>
    </p>
    <p>
      <b class="c-gray">Traits:</b>
      <span *ngFor="let i of traits;" class="comma-separated ws-pw" [matTooltip]="i.labels?.tooltip">
        {{i.name}}
      </span>
    </p>
    <p>
      <b class="c-gray">Quirks:</b>
      <span *ngFor="let i of quirks;" class="comma-separated ws-pw" [matTooltip]="i.labels?.tooltip">
        {{i.name}}
      </span>
    </p>
  </ng-container>
  <ng-container *ngIf="(view$ | async) === 'full'"></ng-container>
  <form [formGroup]="form" class="d-f cg-5">
    <mat-radio-group class="d-if fd-c rg-10 bordered" formControlName="peril">
      <mat-label>Peril Condition Track</mat-label>
      <mat-radio-button [value]="0">UNHINDERED</mat-radio-button>
      <mat-radio-button [value]="1">Imperiled</mat-radio-button>
      <mat-radio-button [value]="2">Ignore 1 Skill Rank</mat-radio-button>
      <mat-radio-button [value]="3">Ignore 2 Skill Ranks</mat-radio-button>
      <mat-radio-button [value]="4">Ignore 3 Skill Ranks</mat-radio-button>
      <mat-radio-button [value]="5">INCAPACITATED!</mat-radio-button>
    </mat-radio-group>
    <mat-radio-group class="d-if fd-c rg-10 bordered" formControlName="damage">
      <mat-label>Damage Condition Track</mat-label>
      <mat-radio-button [value]="0">UNHARMED</mat-radio-button>
      <mat-radio-button [value]="1">Hurt</mat-radio-button>
      <mat-radio-button [value]="2">Moderately Wounded (Injury 1D6)</mat-radio-button>
      <mat-radio-button [value]="3">Seriously Wounded (Injury 2D6)</mat-radio-button>
      <mat-radio-button [value]="4">Grievously Wounded (Injury 3D6)</mat-radio-button>
      <mat-radio-button [value]="5">SLAIN!</mat-radio-button>
    </mat-radio-group>
  </form>
</ng-container>
