<mat-toolbar class="toolbar-main">
  <h1>Character View</h1>
<!--  <span class="f-1"></span>-->
<!--  <button *ngIf="view$ | async as view"-->
<!--    mat-icon-button-->
<!--    (click)="view$.next(view === 'full' ? 'concise' : 'full')"-->
<!--    [matTooltip]="view === 'full' ? 'Concise View' : 'Full View'">-->
<!--    <mat-icon>{{view === 'full' ? 'unfold_less' : 'unfold_more'}}</mat-icon>-->
<!--  </button>-->
</mat-toolbar>
<ng-container *ngIf="character$ | async as character;">
  <ng-container *ngIf="(view$ | async) === 'concise'">
    <p class="ff-g fs-16">
      {{character.name}}
    </p>
    <p class="c-gray">
      <i>{{description}}</i>
    </p>
    <p>
      <b class="c-gray">Belief & Flaw:</b>
      <span *ngFor="let i of personality;" class="comma-separated ws-pw" [matTooltip]="i.labels?.description">
        {{i.name}}
      </span>
    </p>
<!--    <p>-->
<!--      <b class="c-gray">Dispositions:</b>-->
<!--      <span *ngFor="let i of dispositions;" class="comma-separated ws-pw" [matTooltip]="i.tooltip">-->
<!--        {{i.name}} ({{i.value}})-->
<!--      </span>-->
<!--    </p>-->
    <p>
      <b class="c-gray">Languages:</b>
      <span *ngFor="let i of languages; trackBy: trackById" class="comma-separated ws-pw">
        {{i.name}}
      </span>
    </p>
<!--    <p>-->
<!--      <b class="c-gray">Attributes:</b>-->
<!--      <span *ngFor="let i of attributes; trackBy: trackById;" class="comma-separated ws-pw">-->
<!--        {{i.name}} {{i.value}}% ({{i.bonus}})-->
<!--      </span>-->
<!--    </p>-->
<!--    <p>-->
<!--      <b class="c-gray">Skills:</b>-->
<!--      <span *ngFor="let i of skills; trackBy: trackById" class="comma-separated ws-pw" [matTooltip]="i.tooltip">-->
<!--        {{i.name}}<span class="c-amber">{{i.type === SKILL_TYPE_SPECIAL ? '*' : ''}}</span> +{{i.value}}%-->
<!--      </span>-->
<!--    </p>-->
    <p class="mb-0">
      <b class="c-gray">Attributes & Skills:</b>
    </p>
    <table class="mat-table w-100 mb-15">
      <tr class="mat-row va-t h-32">
        <td *ngFor="let i of attributes; trackBy: trackById;" class="mat-cell">{{i.name}} {{i.value}}% ({{i.bonus}})</td>
      </tr>
      <tr class="mat-row">
        <td *ngFor="let i of attributes; trackBy: trackById;" class="mat-cell va-t">
          <div class="d-f fd-c">
            <span *ngFor="let j of filterSkillsByAttribute(skills, i.id); trackBy: trackById"
              [class.c-gray]="j.type === SKILL_TYPE_SPECIAL && j.value === 0"
              [matTooltip]="j.tooltip">
              {{j.name}}{{j.type === SKILL_TYPE_SPECIAL ? '*' : ''}} +{{j.value}}%
            </span>
          </div>
        </td>
      </tr>
    </table>
    <p *ngIf="talents.length > 0">
      <b class="c-gray">Talents:</b>
      <span *ngFor="let i of talents;" class="comma-separated ws-pw" [matTooltip]="i.labels?.tooltip">
        {{i.name}}
      </span>
    </p>
    <p>
      <b class="c-gray">Traits:</b>
      <span *ngFor="let i of traits;" class="comma-separated ws-pw" [matTooltip]="i.labels?.tooltip">
        {{i.name}}
      </span>
    </p>
    <p>
      <b class="c-gray">Quirks, Afflictions, Permanent Injuries:</b>
      <span *ngFor="let i of quirks;" class="comma-separated ws-pw" [matTooltip]="i.labels?.tooltip">
        {{i.name}}
      </span>
    </p>
    <p *ngIf="spells.length > 0">
      <b class="c-gray">Spells, Alchemical Arts:</b>
      <span *ngFor="let i of spells;" class="comma-separated ws-pw" [matTooltip]="i.labels?.tooltip">
        {{i.name}}
      </span>
    </p>
  </ng-container>

  <ng-container *ngIf="(view$ | async) === 'full'"></ng-container>

  <form [formGroup]="form" class="d-f fd-c">
    <div class="d-f cg-5 mb-10">
      <mat-radio-group class="d-if fd-c rg-10 bordered" formControlName="peril">
        <mat-label class="c-gray">Peril Condition Track</mat-label>
        <mat-radio-button [value]="0">UNHINDERED</mat-radio-button>
        <mat-radio-button [value]="1">Imperiled</mat-radio-button>
        <mat-radio-button [value]="2">Ignore 1 Skill Rank</mat-radio-button>
        <mat-radio-button [value]="3">Ignore 2 Skill Ranks</mat-radio-button>
        <mat-radio-button [value]="4">Ignore 3 Skill Ranks</mat-radio-button>
        <mat-radio-button [value]="5">INCAPACITATED!</mat-radio-button>
      </mat-radio-group>
      <mat-radio-group class="d-if fd-c rg-10 bordered" formControlName="damage">
        <mat-label class="c-gray">Damage Condition Track</mat-label>
        <mat-radio-button [value]="0">UNHARMED</mat-radio-button>
        <mat-radio-button [value]="1">Hurt</mat-radio-button>
        <mat-radio-button [value]="2">Moderately Wounded (Injury 1D6)</mat-radio-button>
        <mat-radio-button [value]="3">Seriously Wounded (Injury 2D6)</mat-radio-button>
        <mat-radio-button [value]="4">Grievously Wounded (Injury 3D6)</mat-radio-button>
        <mat-radio-button [value]="5">SLAIN!</mat-radio-button>
      </mat-radio-group>
      <div class="d-f fd-c jc-sb no-padding-bottom">
        <mat-form-field appearance="outline">
          <mat-label>Conflict</mat-label>
          <input matInput type="number" min="0" max="9" formControlName="conflict">
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Belief Ranks</mat-label>
          <input matInput type="number" min="0" max="9" formControlName="belief_ranks">
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Flaw Ranks</mat-label>
          <input matInput type="number" min="0" max="9" formControlName="flaw_ranks">
        </mat-form-field>
      </div>
    </div>
    <div class="d-f fd-c">
      <mat-form-field appearance="outline" class="w-100">
        <mat-label>Injuries</mat-label>
        <mat-select multiple formControlName="injuries">
          <mat-option *ngFor="let i of injuries;" [value]="i.id">
            {{i.name}} ({{(i.type | getById: DataTypes.INJURY_TYPES)?.name}})
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </form>
</ng-container>
