<h1 mat-dialog-title>Add Drug</h1>
<div mat-dialog-content>
  <form [formGroup]="form" class="d-f fd-c">
    <mat-form-field appearance="outline">
      <mat-label>Name</mat-label>
      <input matInput formControlName="name">
    </mat-form-field>
    <ng-container formGroupName="labels">
      <mat-form-field appearance="outline">
        <mat-label>Description</mat-label>
        <input matInput formControlName="description">
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Resist</mat-label>
        <input matInput formControlName="resist">
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Effect</mat-label>
        <input matInput formControlName="effect">
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Critical Success</mat-label>
        <input matInput formControlName="critical_success">
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Critical Failure</mat-label>
        <input matInput formControlName="critical_failure">
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Other Considerations</mat-label>
        <input matInput formControlName="other_considerations">
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Duration</mat-label>
        <input matInput formControlName="duration">
      </mat-form-field>
    </ng-container>
  </form>
</div>
<div mat-dialog-actions>
  <button mat-button [mat-dialog-close]="null">Cancel</button>
  <button mat-button [mat-dialog-close]="form.getRawValue()" [disabled]="!form.valid">Add</button>
</div>
