<mat-sidenav-container>
  <mat-sidenav mode="side" opened position="end">
    <form [formGroup]="filters" class="d-f fd-c p-5">
      <button mat-icon-button type="button" class="mb-10" (click)="onFiltersResetClick()" matTooltip="Reset Filters">
        <mat-icon>restart_alt</mat-icon>
      </button>
      <mat-form-field appearance="outline" class="f-1">
        <mat-label>Tier</mat-label>
        <mat-select formControlName="tier">
          <mat-option [value]="DEFAULT_VALUE">
            All
          </mat-option>
          <mat-option *ngFor="let i of tiers; trackBy: trackById;" [value]="i.id">
            {{i.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field appearance="outline" class="f-1">
        <mat-label>Type</mat-label>
        <mat-select formControlName="type">
          <mat-option [value]="DEFAULT_VALUE">
            All
          </mat-option>
          <mat-option *ngFor="let i of types; trackBy: trackById;" [value]="i.id">
            {{i.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </form>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-accordion>
      <mat-expansion-panel *ngFor="let i of spells$ | async; trackBy: trackById;" hideToggle>
        <mat-expansion-panel-header>
          <mat-panel-title class="ff-g">
            {{i.name}}
            <span class="ml-10 c-gray"> ({{(i.type | getById: TYPES.SPELL_TYPES).name}})</span>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <div>
          <p matLine class="c-gray"><i>{{i.labels.description}}</i></p>
          <p matLine><b class="c-gray">Requirement:</b> {{(i.tier | getById: TYPES.TIERS).name}}</p>
          <p matLine><b class="c-gray">Casting Time:</b> {{i.labels.casting_time}}</p>
          <p matLine><b class="c-gray">Distance:</b> {{i.labels.distance}}</p>
          <p matLine><b class="c-gray">Reagents:</b> {{i.labels.reagents}}</p>
          <p matLine class="ws-pw"><b class="c-gray">Effect:</b> {{i.labels.effect}}</p>
          <p matLine><b class="c-gray">Critical Success:</b> {{i.labels.critical_success}}</p>
          <p matLine><b class="c-gray">Critical Failure:</b> {{i.labels.critical_failure}}</p>
          <p matLine><b class="c-gray">Duration:</b> {{i.labels.duration}}</p>
        </div>
      </mat-expansion-panel>
      <mat-expansion-panel *ngFor="let i of arts$ | async; trackBy: trackById;" hideToggle>
        <mat-expansion-panel-header>
          <mat-panel-title class="ff-g">
            {{i.name}}
            <span class="ml-10 c-gray"> ({{(i.type | getById: TYPES.SPELL_TYPES).name}})</span>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <div>
          <p matLine class="c-gray"><i>{{i.labels.description}}</i></p>
          <p matLine><b class="c-gray">Requirement:</b> {{(i.tier | getById: TYPES.TIERS).name}}</p>
          <p matLine><b class="c-gray">Preparation Time:</b> {{i.labels.preparation_time}}</p>
          <p matLine class="ws-pw"><b class="c-gray">Create:</b> {{i.labels.create}}</p>
          <p matLine class="ws-pw"><b class="c-gray">Effect:</b> {{i.labels.effect}}</p>
          <p matLine><b class="c-gray">Critical Success:</b> {{i.labels.critical_success}}</p>
          <p matLine><b class="c-gray">Critical Failure:</b> {{i.labels.critical_failure}}</p>
          <p matLine><b class="c-gray">Duration:</b> {{i.labels.other_considerations}}</p>
        </div>
      </mat-expansion-panel>
    </mat-accordion>
  </mat-sidenav-content>
</mat-sidenav-container>
