@use '@angular/material' as mat;

.bordered {
  border: 1px solid gray;
  padding: 10px;
  border-radius: 5px;
}

.h-32 {
  height: 32px;
}

.input-in-cell {
  width: 50px;
  padding: 2px;
  background-color: mat.get-color-from-palette(mat.$gray-palette, 900);
}
