<p *ngIf="view === 'concise' && forms$ | async as forms;">
  <b>Complex Forms:</b>
  <span *ngFor="let i of forms;" class="comma-separated ws-pw" [matTooltip]="i.tooltip">
    {{i.name}}
  </span>
</p>
<mat-card *ngIf="view === 'full' && forms$ | async as forms" class="mb-15">
  <mat-card-header class="ai-fs">
    <mat-card-title>Complex Forms</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <table class="mat-table">
      <thead>
      <tr class="mat-header-row">
        <th class="mat-header-cell">Name</th>
        <th class="mat-header-cell">Target</th>
        <th class="mat-header-cell">Duration</th>
        <th class="mat-header-cell">Fading</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let i of forms;" class="mat-row">
        <td class="mat-cell"><span [matTooltip]="i.tooltip">{{i?.name}}</span></td>
        <td class="mat-cell" [matTooltip]="i.target?.name">{{i?.target?.name}}</td>
        <td class="mat-cell" [matTooltip]="i.duration?.name">{{i.duration?.alias}}</td>
        <td class="mat-cell">{{i?.fading}}</td>
      </tr>
      </tbody>
    </table>
  </mat-card-content>
</mat-card>
