<h1 mat-dialog-title>Add Threat</h1>
<div mat-dialog-content>
  <form [formGroup]="form" class="d-f fd-c">
    <mat-form-field appearance="outline">
      <mat-label>Name</mat-label>
      <input matInput formControlName="name">
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Size</mat-label>
      <mat-select formControlName="size">
        <mat-option *ngFor="let i of sizes; trackBy: trackById;" [value]="i.id">{{i.name}}</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Types</mat-label>
      <mat-select formControlName="type">
        <mat-option *ngFor="let i of types; trackBy: trackById;" [value]="i.id">{{i.name}}</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Risk Factor</mat-label>
      <mat-select formControlName="risk_factor">
        <mat-option *ngFor="let i of risks; trackBy: trackById;" [value]="i.id">{{i.name}}</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Notch</mat-label>
      <mat-select formControlName="notch">
        <mat-option *ngFor="let i of notches; trackBy: trackById;" [value]="i.id">{{i.name}}</mat-option>
      </mat-select>
    </mat-form-field>
    <ng-container formGroupName="attributes">
      <mat-form-field *ngFor="let i of attributes; trackBy: trackById;" appearance="outline" class="f-1">
        <mat-label>{{i.name}}</mat-label>
        <input matInput type="number" min="25" max="55" [formControlName]="i.id">
        <mat-hint>
          {{i.name.slice(0,1).toLocaleUpperCase()}}B {{getAttributeBonus(i.id)}}
        </mat-hint>
      </mat-form-field>
    </ng-container>
    <ng-container formGroupName="labels">
      <mat-form-field appearance="outline">
        <mat-label>Description</mat-label>
        <input matInput formControlName="description">
      </mat-form-field>
    </ng-container>
  </form>
</div>
<div mat-dialog-actions>
  <button mat-button [mat-dialog-close]="null">Cancel</button>
  <button mat-flat-button color="primary" [mat-dialog-close]="form.getRawValue()" [disabled]="!form.valid">Add</button>
</div>
